<div>
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancelar()">
        	<span aria-hidden="true">&times;</span>
        	<span class="sr-only">Close</span>
        </button>
        <h3>{{ accion.title }}.
            <small ng-show="registro.first_name && registro.first_name.length>2">Usuario: {{registro.first_name}}</small>
        </h3>
    </div>
    <div class="modal-body">
        <fieldset class="form-horizontal">
            <div class="form-group" ng-show="selectedIds.length <= 0">
                <label class="col-sm-2 control-label" for="mtitle">Nombre:</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="title" id="mtitle" ng-model="registro.title" value="{{ registro.title }}" disabled/>
                </div>
                <div class="col-sm-2">
                    <input class="form-control" type="text" name="service_request_id" ng-model="registro.service_request_id" value="{{ registro.service_request_id }}" disabled/>
                </div>
            </div>
            <div class="form-group" ng-show="accion.id==1">
                <label class="col-sm-2 control-label" for="fechaAccion">Fecha:</label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="accion.fecha" is-open="opened" ng-required="true" close-text="Cerrar" current-text="Hoy" clear-text="Borrar" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="abrirCalendario($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <timepicker ng-model="accion.time" hour-step="1" minute-step="15" show-meridian="false" ng-show="accion.fecha"></timepicker>
                </div>
                
            </div>
            <div class="form-group" ng-show="accion.id==8">
                <label class="col-sm-2 control-label" for="accion.entidadExternaSelected">Entidad Externa:</label>
                <div class="col-sm-8">
                    <select class="form-control" required="required" ng-model="accion.entidadExternaSelected" ng-options="obj as obj.name for obj in entidadExterna">
                        <option value=''>Select</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <modal-entidad ng-show="!accion.entidadExternaSelected && permisos.ADMINEXTERNO" modelo="" icon="glyphicon-plus-sign"></modal-entidad>
                    <modal-entidad ng-show="accion.entidadExternaSelected && permisos.ADMINEXTERNO" modelo="accion.entidadExternaSelected" icon="glyphicon-edit"></modal-entidad>
                </div>
                <div class="offset-sm-2 col-sm-10" ng-show="accion.entidadExternaSelected && accion.entidadExternaSelected.id != 3"><!-- Se muestra si no es FCC -->
                    <label class="checkbox-inline" for="registro.incluir_orden">
                        <input type="checkbox" ng-model="registro.incluir_orden" />&iquest;Generar e incluir Orden de trabajo?
                    </label>
                    <!-- <button ng-show="incluir_orden" class="btn btn-primary btn-xs" ng-click="ordenTrabajoPreview()">Previsualizar</button>-->
                    <a ng-show="registro.incluir_orden" class="btn btn-primary btn-xs" ng-href="/opencityext/servicio/quejas-sugerencias/{{registro.service_request_id}}/preview-orden-trabajo?clientId={{usuario.login}}&externo_name={{accion.entidadExternaSelected.name}}&ihm={{linkOt}}" target="_blank">Previsualizar</a>
                </div>
            </div>
			<div class="form-group" ng-show="accion.id==11">
                <label class="col-sm-2 control-label" for="fechaAccion">Interno:</label> 
                <div class="col-sm-8">
                    <select class="form-control" required="required" ng-model="registro.entidadInterna" ng-options="obj as obj.name for obj in entidadInterna">
                        <option value=''>Select</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <modal-entidad ng-show="!registro.entidadInterna" accion="interno" modelo="" icon="glyphicon-plus-sign"></modal-entidad>
                    <modal-entidad ng-show="registro.entidadInterna" accion="interno" modelo="registro.entidadInterna" icon="glyphicon-edit"></modal-entidad>
                </div>
            </div>

			<div class="form-group" ng-show="accion.id==22">
                <label class="col-sm-2 control-label" for="fechaAccion">Categoría:</label> 
                <div class="col-sm-10">
                    <select ng-change="cambioCategoria()" class="form-control" required="required" ng-model="registro.category" ng-options="obj as obj.service_name for obj in categoryAdjacent">
                        <option value=''>Select</option>
                    </select>
                </div>
            </div>
            <div class="form-group" ng-show="registro.category.service_code == 30008">
                <label class="col-sm-2 control-label" for="fechaAccion">Expediente:</label> 
                <div class="col-sm-4">
                    <input class="form-control" type="text" ng-model="registro.expediente"/>
                </div>
                <label class="col-sm-2 control-label" for="fechaAccion">Año:</label> 
                <div class="col-sm-4">
                    <input class="form-control" type="text" ng-model="registro.year"/>
                </div>
                <label class="col-sm-12 control-label">Cita previa</label>
                <div class="overflow-y" style="height:20em;width:590px">
	                <ul class="list-unstyled">
	                <li ng-repeat="dia in citaprevia" class="col-sm-4" ng-show="dia.horas.length>0">
	                	{{dia.fecha | date:'EEEE dd-MM-yyyy'}}
	                	<ul class="list-unstyled">
	                	<li ng-repeat="hora in dia.horas">
	                		<label><input type="radio" ng-model="registro.citaprevia" ng-value="{dia: dia.fecha, hora: hora.hora}">{{hora.hora}}</label>
	                	</li>
	                	</ul>
	                </li>
	                </ul>
	            </div>
                <strong>{{registro.citaprevia}}</strong>
            </div>
           

            <div class="form-group">
                <label class="col-sm-2 control-label" for="mdescription">Descripci&oacute;n:</label>
                <div class="col-sm-10">{{ respuestaTipo }}
                    <textarea class="form-control" rows="5" name="description" id="mdescription" ng-model="accion.description">{{ accion.description }}</textarea>
                </div>
            </div>
            <div class="form-group" ng-show="selectedIds.length <= 0 && (accion.id==2 || accion.id==5 || accion.id==6 || accion.id==8 || accion.id==9)">
                <label class="col-sm-2 control-label" for="">Enviar enlace a archivos:</label>
                <div class="col-sm-10">
                    <div class="checkbox" ng-repeat="file in registro.files track by $index">
                        <label><input type="checkbox" ng-true-value="{{file}}" name="attachment[$index]" ng-model="attachment[$index]" />{{file.description}}</label>
                    </div>
                </div>
            </div>
            
            <div ng-show="permisos.INTERNALSTATUS && (accion.id==1 || accion.id==2 || accion.id==3)" class="form-group">
				<label class="col-sm-2 control-label" for="internal_status">Forma cierre</label>
				<div class="col-sm-10">
					<select class="form-control" required="required" ng-model="registro.internal_status" ng-options="obj.id as obj.text for obj in estados_internos">
                        <option value=''>Select</option>
                    </select>
                </div>
			</div>
			
			<div ng-show="permisos.CERRARSINCONTESTAR && accion.id==1" class="pull-right">
				<label class="control-label" for="cerrarSinContestar">Cerrar sin contestar al ciudadano</label> 
					<input type="checkbox" name="cerrarSinContestar" ng-model="registro.cerrarSinContestar" />
			</div>
		</fieldset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="cancelar()">Cancelar</button> 
        <button class="btn btn-success" ng-click="hacerAcciones()">{{ accion.title }}</button> 
    </div>
</div>
