<div class="row">
    <div class="col-md-12">

         <nav class="navbar navbar-default" ng-show="permisos.DET">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#buscadoresTarget">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand hidden-desktop">Búsqueda rápida</span>
                </div>
                <div class="collapse navbar-collapse" id="buscadoresTarget">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="number" class="form-control" ng-model="qsearch.id" placeholder="Buscar por id...">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="qsearch.title" placeholder="Buscar por nombre...">
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="buscar(qsearch)">Filtrar</button>
                    </form>
                </div>
            </div>
        </nav> 

    </div> 
</div>

<div class="row">
    <div class="col-md-12" class="clearfix">
        <div class="repeat-item alert alert-{{alert.type}} alert-dismissible" ng-repeat="alert in allInfos()" close="remove(alert)">{{alert.msg}}</div>
        <div class="alert alert-info" ng-show="registros.length == 0">
            Para comenzar realiza una búsqueda o acción.
        </div>
        <div ng-show="permisos.DET && registros.length > 0">
            <div>
                <span class="margin-r2em">
                    N&uacute;mero de resultados: {{registros.length}} <span ng-show="totalCount > 0">de {{totalCount}}</span>
                </span>
                <span ng-show="filtrosParaListado !== undefined">
                    Filtros aplicados: <span ng-bind-html="filtrosParaListado | pintarFiltros"></span>
                    <!-- <button type="button" class="btn btn-xs btn-default" ng-click="limpiarFiltrosDaoListar();">Limpiar Filtros</button> -->
                </span>
                <span ng-show="permisos.MOD && checkList.length > 0" class="pull-right checklist-tools">
                    <span ng-repeat="c in checkList"> <span class="label label-warning">{{c.id}}</span> </span>
                    <modal-borrar recurso="/"></modal-borrar>
                </span>
            </div>
            <table class="table table-bordered table-hover table-striped table-btn">
                <thead>
                    <tr>
                        <th ng-show="permisos.MOD"></th>
                        <th th-orden order="'id'" by="order" reverse="reverse">ID</th>
                        <th th-orden order="'title'" by="order" reverse="reverse">NOMBRE</th>
                        <th ng-show="permisos.MOD">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="registro in registros | orderBy:order:reverse">
                        <td ng-show="permisos.MOD">
                            <input type="checkbox" checklist-model="checkList" checklist-value="registro">
                            
                        </td>
                        <td data-title="ID"><a href="#/edit/{{ registro.id }}">{{registro.id}}</a></td>
              			<td data-title="Nombre">
                            <a href="#/edit/{{ registro.id }}">
                            {{registro.title}}
                            </a>
                            <a class="btn" href="#/edit/{{ registro.id }}" target="_blank" title="Abrir en pestaña nueva"><span class="glyphicon glyphicon-export"></span></a>
                        </td>
                        <td data-title="Operaciones" ng-show="permisos.MOD">
                            <modal-borrar recurso="/"></modal-borrar>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <div class="alert alert-warning spinner-tabla" ng-show="busy">
                <span class="spinner"></span> Espera por favor, se estan cargando los datos.
            </div>
        </div>

    </div> <!-- /span12 -->
</div> <!-- /row-fluid -->