<div class="row" id="pdfContent">
    <div class="col-md-12">

        <!-- // ToDo - COMPLETAR -->
        <h2>
            Ayuda
        </h2>
        
        <hr/>

        <div class="well">
            Puede consultar el manual de uso en el <a href="//www.zaragoza.es">siguente enlace.</a>
        </div>
        <br/>
        <div role="alert" class="alert alert-warning">
            <strong>IMPORTANTE: </strong>
            Algunas opciones puede variar o no aparecer dependiendo de los permisos de acceso del usuario o usuaria.
        </div>
        
    </div> <!-- /span12 -->
</div> <!-- /row-fluid -->