<div class="inform repeat-item alert alert-{{alert.type}}" ng-repeat="alert in allInfos()" close="remove(alert)">{{alert.msg}}</div>
<form novalidate name="mainForm" ng-submit="mainForm.$valid && guardar()">
<div class="row">

    <div class="col-md-12">
		<button type="submit" class="btn btn-default" ng-show="permisos.MOD">
			<span class="fa fa-check" aria-hidden="true"></span> 
			<span class="hidden-xs"> Guardar</span>
		</button>
        <modal-registro-borrar></modal-registro-borrar>
		<boton-debug ng-model="registro" ng-show="debug"></boton-debug>
    </div>

</div>

<hr/>

<div role="alert" class="alert alert-danger" ng-show="mainForm.$submitted && mainForm.$invalid">
	<ul>
		<li ng-repeat="(key, errors) in mainForm.$error track by $index"> 
			<!-- Errores: <strong>{{ key }}</strong> -->
			<div ng-if="key === 'required'">
				<strong>Faltan campos por completar:</strong>
				<ul>
					<li ng-repeat="e in errors">El campo <em>{{ e.$name }}</em> es obligatorio.</li>
				</ul>	
			</div>
			<div ng-if="key !== 'required'">
				<ul>
					<li ng-repeat="e in errors">El campo <em>{{ e.$name }}</em> tiene un error: <strong>{{ key }}</strong>.</li>
				</ul>	
			</div>
		</li>
	</ul>
</div>

<div class="row">

    <div class="col-md-12">

        <fieldset>
			<legend>Datos del registro</legend>
			
            <div class="row margin-b2em">
                <div class="col-md-7 form-horizontal">

                    <!-- Identificador -->
                    <div class="form-group" ng-class="{'has-error': (mainForm.$submitted || mainForm.registerType.$touched) && mainForm.registerType.$invalid}">
                        <div class="col-sm-8"></div>
                        <label class="col-sm-1 control-label">
                        	<span>ID:</span>
                        </label>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input style="border-color:#CCC;" class="form-control" name="id" type="text" ng-model="registro.id" value="{{ registro.id }}" disabled/>
                            </div>
                        </div>
                    </div>

                    <!-- Año y Mes -->
                    <div class="form-group" ng-class="{'has-error': (mainForm.$submitted || mainForm.registerYear.$touched) && (mainForm.registerYear.$invalid || mainForm.registerMonth.$invalid)}">
                        <label class="col-sm-2 control-label" for="registerYear">
                        	<span class="obligatorio">Año:</span>
                        	<span class="oculto"> (campo obligatorio)</span>
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" type="number" name="registerYear" id="registerYear" ng-model="registro.anyo" value="{{ registro.anyo }}" required/>
                            <span ng-show="mainForm.$submitted || mainForm.registerYear.$touched">
                                <span class="help-block" ng-show="mainForm.registerYear.$error.required">Introduce el año del registro.</span>
                            </span>
                        </div>
                        <label class="col-sm-2 control-label" for="registerMonth">
                        	<span class="obligatorio">Mes:</span>
                        	<span class="oculto"> (campo obligatorio)</span>
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" type="number" name="registerMonth" id="registerMonth" ng-model="registro.mes" placeholder="1-12" value="{{ registro.mes }}" required/>
                            <span ng-show="mainForm.$submitted || mainForm.registerMonth.$touched">
                                <span class="help-block" ng-show="mainForm.registerMonth.$error.required">Introduce el mes del registro.</span>
                            </span>
                        </div>
                    </div>

                    <!-- Valor: Accidentes con víctimas -->
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="registerCasAcc">
                        	<span>Accidentes con víctimas:</span>
                        </label>
                        <div class="col-sm-6">
                            <input class="form-control" type="number" name="registerCasAcc" id="registerCasAcc" ng-model="registro.accidentesConVictimas" value="{{ registro.accidentesConVictimas }}"/>
                        </div>
                    </div>

                    <!-- Valor: Heridos -->
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="registerInj">
                        	<span>Heridos:</span>
                        </label>
                        <div class="col-sm-6">
                            <input class="form-control" type="number" name="registerInj" id="registerInj" ng-model="registro.heridos" value="{{ registro.heridos }}"/>
                        </div>
                    </div>

                    <!-- Valor: Heridos graves -->
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="registerInjSev">
                        	<span>Heridos graves:</span>
                        </label>
                        <div class="col-sm-6">
                            <input class="form-control" type="number" name="registerInjSev" id="registerInjSev" ng-model="registro.heridosGraves" value="{{ registro.heridosGraves }}"/>
                        </div>
                    </div>

                    <!-- Valor: Muertos -->
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="registerDeat">
                        	<span>Muertos:</span>
                        </label>
                        <div class="col-sm-6">
                            <input class="form-control" type="number" name="registerDeat" id="registerDeat" ng-model="registro.muertos" value="{{ registro.muertos }}"/>
                        </div>
                    </div>

                    <!-- Valor: Atropellos -->
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="registerAcc">
                        	<span>Atropellos:</span>
                        </label>
                        <div class="col-sm-6">
                            <input class="form-control" type="number" name="registerAcc" id="registerAcc" ng-model="registro.atropellos" value="{{ registro.atropellos }}"/>
                        </div>
                    </div>

                    <!-- Valor: Colisiones -->
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="registerCol">
                        	<span>Colisiones:</span>
                        </label>
                        <div class="col-sm-6">
                            <input class="form-control" type="number" name="registerCol" id="registerCol" ng-model="registro.colisiones" value="{{ registro.colisiones }}"/>
                        </div>
                    </div>

                    <!-- Valor: Colisiones tranvía -->
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="registerColTra">
                        	<span>Colisiones tranvía:</span>
                        </label>
                        <div class="col-sm-6">
                            <input class="form-control" type="number" name="registerColTra" id="registerColTra" ng-model="registro.colisionesTranvia" value="{{ registro.colisionesTranvia }}"/>
                        </div>
                    </div>

                    <!-- Valor: Colisiones autobús -->
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="registerColBus">
                        	<span>Colisiones autobús:</span>
                        </label>
                        <div class="col-sm-6">
                            <input class="form-control" type="number" name="registerColBus" id="registerColBus" ng-model="registro.colisionesBus" value="{{ registro.colisionesBus }}"/>
                        </div>
                    </div>

                    <!-- Valor: Accidentes bicicleta -->
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="registerAccByc">
                        	<span>Accidentes bicicleta:</span>
                        </label>
                        <div class="col-sm-6">
                            <input class="form-control" type="number" name="registerAccByc" id="registerAccByc" ng-model="registro.accidentesBicicleta" value="{{ registro.accidentesBicicleta }}"/>
                        </div>
                    </div>
                    
				</div>

            </div>

        </fieldset>

    </div>

</div>
</form>