<div id="modalBusqueda">
    <form>
        <div class="modal-header">
            <!-- <button type="button" class="close formReset" data-dismiss="modal">×</button> -->
            <h3>Búsqueda Avanzada de Actividades</h3>
        </div>
        <div class="modal-body">
            <fieldset class="form-horizontal">
            	
            	<div class="form-group">
                    <label for="id" class="col-sm-3 control-label">ID:</label>
                    <div class="col-sm-6">
                        <input name="id" id="id" type="number" class="form-control" placeholder="Buscar por id..." ng-model="query.id">
                    </div>
                </div>
            	
                <div class="form-group">
                    <label for="title" class="col-sm-3 control-label">Nombre:</label>
                    <div class="col-sm-9">
                        <input id="title" type="text" class="form-control" placeholder="Buscar por nombre..." ng-model="query.title">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="citaDestacada" class="col-sm-3 control-label">Cita destacada:</label>
                    <div class="col-sm-9">
                        <input name="citaDestacada" id="citaDestacada" type="text" class="form-control" placeholder="Buscar por tipo..." ng-model="query.citaDestacada">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Rango de fechas:</label>
                    <div class="col-sm-9">
                        <label for="startDateQuery" class="col-sm-4 control-label oculto">Fecha Inicio Actividad:</label>
                        <div class="col-sm-5">
                            <div class="input-group">
                                <input id="startDateQuery" name="startDateQuery" type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="query.startDate" is-open="datepickers.startDate" close-text="Cerrar" current-text="Hoy" clear-text="Borrar" datepicker-options="dateOptions" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="toggleOpenDatePicker($event,'startDate')">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-2 control-label" style="text-align:center!important;">a</div>
                        <label for="endDateQuery" class="col-sm-4 control-label oculto">Fecha Final Actividad:</label>
                        <div class="col-sm-5">
                            <div class="input-group">
                                <input id="endDateQuery" name="endDateQuery" type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="query.endDate" is-open="datepickers.endDate" close-text="Cerrar" min-date="query.startDate" current-text="Hoy" clear-text="Borrar" datepicker-options="dateOptions" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="toggleOpenDatePicker($event,'endDate')">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="programa" class="col-sm-3 control-label">Programa:</label>
                    <div class="col-sm-9">
                        <autocompletado id="programa" modelo="query.programa" uri="/sede/servicio/cultura/evento/programa" filtro="title" retorno="title" placeholder="Buscar por programa..."></autocompletado>
                    </div>
                </div>

                <div class="form-group">
                    <label for="entidad" class="col-sm-3 control-label">Entidad:</label>
                    <div class="col-sm-9">
                        <autocompletado ng-disabled="query.busquedaHistorico === true" id="entidad" modelo="query.entidad" uri="/sede/servicio/cultura/evento/entidad-organizadora" filtro="title" retorno="title" fiql="updated==true" placeholder="Buscar por entidad..."></autocompletado>
                    </div>
                </div>

                <div class="form-group">
                    <label for="lugarRealizacion" class="col-sm-3 control-label">Lugar de realizaci&oacute;n:</label>
                    <div class="col-sm-9">
                        <autocompletado ng-disabled="query.busquedaHistorico === true" id="lugarRealizacion" modelo="query.lugar" uri="/sede/servicio/cultura/evento/lugar-realizacion" filtro="title" retorno="title" placeholder="Buscar por lugar..."></autocompletado>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="tema" class="col-sm-3 control-label">Tema:</label>
                    <div class="col-sm-9">
                        <autocompletado ng-disabled="query.busquedaHistorico === true" id="tema" modelo="query.temas" uri="/sede/servicio/cultura/evento/categoria" filtro="title" retorno="id" placeholder="Buscar por temática..."></autocompletado>
                    </div>
                </div>                
                
                <div class="form-group">
                    <label for="poblacionDestinataria" class="col-sm-3 control-label">Poblaci&oacute;n:</label>
                    <div class="col-sm-9">
                        <ui-select ng-disabled="query.busquedaHistorico === true" multiple ng-model="query.poblacion" style="width:400px;" on-select="onSelectPobDestino($item, $model)" on-remove="onRemovePobDestino($item, $model)">
                            <ui-select-match class="ui-select-match" placeholder="Buscar por sector de población...">
                                {{$item.title}}
                            </ui-select-match>
                            <ui-select-choices class="ui-select-choices" repeat="sector.id as sector in poblacion | filter: $select.search">
                                <div ng-bind-html="sector.title | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label> <input type="checkbox" ng-model="query.busquedaHistorico" />Buscar en archivo histórico</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label> <input type="checkbox" ng-model="query.novisible" ng-true-value="'S'" />Actividades sin publicar <strong>(No visibles)</strong></label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <!--
                                historico = nohistorico 
                                Envíar a historico SI = (nohistorico = S) | NO = (nohistorico = N) 
                            -->
                            <label> <input type="checkbox" ng-model="query.historico" ng-true-value="'S'" />Actividades sin caducidad <strong>(No histórico)</strong></label>
                        </div>
                    </div>
                </div>
                   
            </fieldset>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="busqueda();buscar();">B&uacute;squeda</button>
            <button type="button" class="btn btn-warning" ng-click="cancelar()">Cancelar</button> 
        </div>
    </form>
</div>
