/.metadata/
opencity.ext.citaprevia/.classpath
opencity.ext.citaprevia/.project
opencity.ext.citaprevia/.settings/org.eclipse.core.resources.prefs
opencity.ext.qys/.settings/org.eclipse.core.resources.prefs
opencity.ext.web/.settings/org.eclipse.core.resources.prefs
