<div>
    <div class="modal-header">
        <button type="button" class="close" ng-click="btnModalCancelar()">
        	<span aria-hidden="true">&times;</span>
        	<span class="sr-only">Close</span>
        </button>
        <h3>Filtro de busqueda</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">Id Queja:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="ID" ng-model="query.idInterno">
                    </div>
                </div>
                <div class="form-group" ng-show="permisos.ADMINOPERADOR">
                    <label for="" class="col-sm-2 control-label">Operador:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Operador" ng-model="query.operator">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">Texto:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Texto" ng-model="query.title">
                    </div>
                </div>
                <div class="form-group" ng-show="permisos.ANSWERREQUESTED">
                    <label for="" class="col-sm-2 control-label">Respuesta al ciudadano:</label>
                    <div class="col-sm-8">
                        <select id="q_answer_requested" ng-model="query.answer_requested" class="form-control">
                        <option value="S">Pendientes</option>
                        <option value="P">Contestadas</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">Estado:</label>
                    <div class="col-sm-8">
                        <select id="q_e_i" ng-model="query.estado" class="form-control multiselect" multiple="multiple" ng-options="obj.id as obj.text for obj in estados"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">Junta:</label>
                    <div class="col-sm-8">
                        <select id="q_barrio_code" ng-model="query.barrio_code" class="form-control">
                        <option value="1">Junta Municipal Actur - Rey Fernando</option>
						<option value="2">Junta Municipal La Almozara</option>
						<option value="3">Junta Municipal Casco Histórico</option>
						<option value="4">Junta Municipal Centro</option>
						<option value="5">Junta Municipal Delicias</option>
						<option value="6">Junta Municipal El Rabal</option>
						<option value="7">Junta Municipal Las Fuentes</option>
						<option value="8">Junta Municipal Oliver-Valdefierro</option>
						<option value="9">Junta Municipal San José</option>
						<option value="10">Junta Municipal Torrero</option>
						<option value="11">Junta Municipal Universidad</option>
						<option value="12">Junta Municipal Casablanca</option>
						<option value="13">Junta Municipal Santa Isabel</option>
						<option value="14">Junta Vecinal Alfocea</option>
						<option value="15">Junta Vecinal La Cartuja Baja</option>
						<option value="16">Junta Vecinal Casetas</option>
						<option value="17">Junta Vecinal Garrapinillos</option>
						<option value="18">Junta Vecinal Juslibol</option>
						<option value="19">Junta Vecinal Miralbueno</option>
						<option value="20">Junta Vecinal Montañana</option>
						<option value="21">Junta Vecinal Monzalbarba</option>
						<option value="22">Junta Vecinal Movera</option>
						<option value="23">Junta Vecinal Peñaflor</option>
						<option value="24">Junta Vecinal San Gregorio</option>
						<option value="25">Junta Vecinal San Juan Mozarrifar</option>
						<option value="26">Junta Vecinal Torrecilla de Valmadrid</option>
						<option value="27">Junta Vecinal Venta del Olivar</option>
						<option value="28">Junta Vecinal Villamayor</option>
						<option value="29">Junta Vecinal Villarrapa</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">Origen:</label>
                    <div class="col-sm-8">
                        <select id="q_origin" class="form-control" ng-model="query.origin" ng-options="obj.id as obj.text for obj in origin"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">Tipo:</label>
                    <div class="col-sm-8">
                        <select ng-model="query.tipo" class="form-control multiple" multiple="multiple" placeholder="Busca por Tipo" ng-options="obj.id as obj.text for obj in types"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">Fecha Inicio:</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="query.start_date" is-open="datepickers.dateStart" ng-required="true" close-text="Cerrar" current-text="Hoy" clear-text="Borrar" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="toggleOpenDatePicker($event,'dateStart')">
                                    <span class="fas fa-calendar-alt" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">Fecha fin:</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="query.end_date" is-open="datepickers.dateEnd" ng-required="true" close-text="Cerrar" current-text="Hoy" clear-text="Borrar" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="toggleOpenDatePicker($event,'dateEnd')">
                                    <span class="fas fa-calendar-alt" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">Categor&iacute;a:</label>
                    <div class="col-sm-8">
                        <select id="query_service_code" class="form-control" ng-model="query.service_code" ng-options="obj.service_code as obj.service_name for obj in categories">
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-show="permisos.SENDEXTERNO">
                    <label class="col-sm-2 control-label" for="query_externo_code">Entidad Externa:</label>
                    <div class="col-sm-8">
                        <select id="queryentidadExterna" ng-model="query.externo_code" ng-options="obj.id as obj.name for obj in entidadExterna">
                            <option value=''>Select</option>
                        </select>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="btnModalCancelar()">Cancelar</button> 
        <button class="btn btn-success" ng-click="btnModalbuscar()">Buscar</button>
        <a ng-show="permisos.EXCEL" class="btn btn-primary btn-xs" ng-href="/api/recurso/open311/excel?clientId={{usuario.login}}&ihm={{linkExcel}}&results_only=false&rows=350&srsname=utm30n&sort=requested_datetime desc&start=0&title={{query.title}}&service_code={{query.service_code}}&externo_code={{query.externo_code}}&type={{query.tipo.toString()}}&answer_requested={{query.answer_requested}}&barrio_code={{query.barrio_code}}&group_operator={{query.group_operator}}&operator={{query.operator}}&service_request_id={{query.idInterno}}&origin={{query.origin}}&validated={{query.validated}}{{ query.start_date | date:'\'&start_date=\'yyyy-MM-ddTHH:mm:ss\'Z\'' }}{{ query.end_date | date:'\'&end_date=\'yyyy-MM-ddTHH:mm:ss\'Z\'' }}&status={{query.estado.toString()}}" target="_blank">Excel</a>
        <a ng-show="permisos.CSV" class="btn btn-primary btn-xs" ng-href="/api/recurso/open311/csv.csv?clientId={{usuario.login}}&ihm={{linkAvisosCsv}}&results_only=false&rows=1000&srsname=utm30n&sort=requested_datetime desc&start=0&title={{query.title}}&service_code={{query.service_code}}&externo_code={{query.externo_code}}&type={{query.tipo.toString()}}&answer_requested={{query.answer_requested}}&barrio_code={{query.barrio_code}}&group_operator={{query.group_operator}}&operator={{query.operator}}&service_request_id={{query.idInterno}}&origin={{query.origin}}&validated={{query.validated}}{{ query.start_date | date:'\'&start_date=\'yyyy-MM-ddTHH:mm:ss\'Z\'' }}{{ query.end_date | date:'\'&end_date=\'yyyy-MM-ddTHH:mm:ss\'Z\'' }}&status={{query.estado.toString()}}" target="_blank">Descargar Avisos</a>
        <a ng-show="permisos.CSV" class="btn btn-primary btn-xs" ng-href="/api/recurso/open311/acciones.csv?clientId={{usuario.login}}&ihm={{linkCsv}}&results_only=false&rows=1000&srsname=utm30n&sort=requested_datetime desc&start=0&title={{query.title}}&service_code={{query.service_code}}&externo_code={{query.externo_code}}&type={{query.tipo.toString()}}&answer_requested={{query.answer_requested}}&barrio_code={{query.barrio_code}}&group_operator={{query.group_operator}}&operator={{query.operator}}&service_request_id={{query.idInterno}}&origin={{query.origin}}&validated={{query.validated}}{{ query.start_date | date:'\'&start_date=\'yyyy-MM-ddTHH:mm:ss\'Z\'' }}{{ query.end_date | date:'\'&end_date=\'yyyy-MM-ddTHH:mm:ss\'Z\'' }}&status={{query.estado.toString()}}" target="_blank">Descargar Acciones</a>
    </div>
</div>