<div id="modalBorrar">
    <div class="modal-header">
        <h3>{{registro.service_code ? 'Modificar' : 'A&ntilde;adir'}} Categor&iacute;a</h3>
    </div>
    <div class="modal-body">
        <form>
            <fieldset class="form-horizontal">

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="dato.service_name">Nombre:</label>
                    <div class="col-sm-8">
                    	<input class="form-control" name="title" type="text" ng-model="dato.service_name" value="{{ dato.service_name }}" />
                    </div>
                    <div class="col-sm-2">
                        <input class="form-control" name="id" type="text" ng-model="dato.service_code" value="{{ dato.service_code }}" disabled/>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="dato.service_description">Descripcion:</label>
                    <div class="col-sm-8">
                    	
                    	<textarea class="form-control" rows="4" name="dato.service_description" ng-model="dato.service_description" value="{{ dato.service_description }}"></textarea>
                    </div>
                </div>
                
                <div class="form-group">
                	<label class="col-sm-2 control-label" for="dato.service_parent_code">Padre:</label>
                	<div class="input-group col-sm-8">
                       	<input class="form-control" type="text" name="service_parent_code" ng-model="dato.service_parent_code" value="{{ dato.service_parent_code }}"/>
                   	</div>
                </div>
                
                <div class="form-group">
                	<label class="col-sm-2 control-label" for="dato.group_code">Grupo:</label>
                	<div class="input-group col-sm-8">
                       	<input class="form-control" type="text" name="group_code" ng-model="dato.group_code" value="{{ dato.group_code }}"/>
                   	</div>
                </div>
                
                <div class="form-group">
                	<label class="col-sm-2 control-label" for="dato.service_level">Nivel:</label>
                	<div class="input-group col-sm-8">
                       	<input class="form-control" type="text" name="service_level" ng-model="dato.service_level" value="{{ dato.service_level }}"/>
                   	</div>
                </div>
                
                <div class="form-group">
                	<label class="col-sm-2 control-label" for="dato.autoassign">Auto asignar:</label>
                	<div class="input-group col-sm-8">
                       	<input class="form-control" type="text" name="autoassign" ng-model="dato.autoassign" value="{{ dato.autoassign }}"/>
                   	</div>
                </div>
                
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="save()">Guardar</button>
        <button class="btn btn-warning" ng-click="cancelar()">Cancelar</button> 
    </div>
</div>
