<div id="modalBusqueda">
    <div class="modal-header">
        <!-- <button type="button" class="close formReset" data-dismiss="modal">×</button> -->
        <h3>FIltro de busqueda</h3>
    </div>
    <div class="modal-body">
        <form>
            <fieldset class="form-horizontal">
                <div class="control-group">
                    <label for="title" class="control-label">Nombre:</label>
                    <div class="controls">
                        <input id="title" type="text" class="form-control" placeholder="Busca por nombre..." ng-model="query.title">
                    </div>
                </div>
                <div class="control-group">
                    <label for="tipo" class="control-label">Tipo:</label>
                    <div class="controls">
                        <input id="tipo" type="text" class="form-control" placeholder="Busca por tipo..." ng-model="query.tipo">
                    </div>
                </div>
                <div class="control-group">
                    <label for="obra" class="control-label">Obra:</label>
                    <div class="controls">
                        <input id="obra" type="text" class="form-control" placeholder="Busca por obra..." ng-model="query.obra">
                    </div>
                </div>             
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="busqueda();buscar();">Busqueda</button>
        <button class="btn btn-warning" ng-click="cancelar()">Cancelar</button> 
    </div>
</div>
