
font.mapTitleTextFont{font-family:Garamond;font-weight:bold;font-size:26;color:#333399;}
table.mapTitleTable{background-color:#99CCFF;border-style:solid;border-left-width:1px;border-right-width:1px;border-bottom-width:2px;border-top-width:2px;border-color:#333399;}
tr.mapTitleTR{height:43px;}
Button.printButton{font-family:Arial;font-weight:bold;font-size:12pt;}
font.coordsTextFont{font-family:Garamond;font-weight:bold;font-size:11;color:black;}
font.mapTextFont{font-family:Garamond;font-weight:bold;font-size:12;color:black;}
font.scaleTextFont{font-family:Arial;font-size:12;color:black;}
font.descriptionTextFont{font-family:Garamond;font-weight:normal;font-size:12;color:black;}
label.labelHRefText{font-family:Garamond;font-weight:normal;font-size:12;color:blue;border:0;width:64px;text-decoration:underline;}
div.page{height:98%;margin:1%1%;}.categ{font-family:Arial;font-size:12;color:black;border-bottom:2px solid black;margin-top:1em;padding:2px 2px 2px}.lista{font-family:Arial;font-size:12;color:black;float:left;width:200px;margin:0px 0px 0px 0px;background-color:#fff;}.destacado{font-family:Arial;font-size:12;color:black;font-weight:bold;color:#CC0000;}.separator{border-left:1px solid black;}.tdSeparator{border-right:1px solid black;}