html, body {
	margin  : 0;
	padding : 0;
	height  : 100%;
	width   : 100%;
	background-color: white;
}
#container {
	width    : 100%;
	position : relative;
	height   : 100%;
}
#map {
	width    : 100%;
	position : relative;
	height   : 100%;
	cursor:crosshair;
	padding-top: 5px;
	padding-left: 5px;

}
#viewerTreeHeader {
	position: absolute;
	top: 5px;
	right: 0px;
	width: 24%;
	height: 128px;
	background-color: #000000;
	z-index: 10011;
	background-repeat: no-repeat;
	display: none;
}
#viewerToolBarContainer {
	position: absolute;
	top: 16px;
	left: 16px;
	z-index: 10000;
	display: none; /* Lo hace visible el árbol al cargarse */
}