<div class="inform repeat-item alert alert-{{alert.type}}" ng-repeat="alert in allInfos()" close="remove(alert)">{{alert.msg}}</div>
<form novalidate name="mainForm" ng-submit="mainForm.$valid && guardar()">
<div class="row">

    <div class="col-md-12">
		<button type="submit" class="btn btn-default" ng-show="permisos.MOD">
			<span class="fa fa-check" aria-hidden="true"></span> 
			<span class="hidden-xs"> Guardar</span>
		</button>
        <modal-borrar recurso="admin/atributo"></modal-borrar>
        <!--<modal-peticion></modal-peticion>-->
		<boton-debug ng-model="registro" ng-show="debug"></boton-debug>
    </div>

</div>

<hr/>

<div class="alert alert-danger" ng-show="mainForm.$submitted && mainForm.$invalid">
	<ul>
		<li ng-repeat="(key, errors) in mainForm.$error track by $index"> 
			<!-- Errores: <strong>{{ key }}</strong> -->
			<div ng-if="key === 'required'">
				<strong>Faltan campos por completar:</strong>
				<ul>
					<li ng-repeat="e in errors">El campo <em>{{ e.$name }}</em> es obligatorio.</li>
				</ul>	
			</div>
			<div ng-if="key !== 'required'">
				<ul>
					<li ng-repeat="e in errors">El campo <em>{{ e.$name }}</em> tiene un error: <strong>{{ key }}</strong>.</li>
				</ul>	
			</div>
		</li>
	</ul>
</div>

<div class="row">

    <div class="col-md-12">

        <fieldset>
            <legend>Datos del registro 
            	<span ng-show="debug">[mainFormValid:<strong ng-class="{'text-success': mainForm.$valid, 'text-danger': !mainForm.$valid}">{{mainForm.$valid}}</strong>]</span>
            </legend>

            <div class="row margin-b2em">
                <div class="col-md-12 form-horizontal">

                    <div class="form-group" ng-class="{'has-error': (mainForm.$submitted || mainForm.titulo.$touched) && mainForm.titulo.$invalid}">
                        <label class="col-sm-2 control-label" for="titulo">
                        	<span class="obligatorio">Titulo:</span>
                        	<span class="oculto"> (campo obligatorio)</span>
                        </label>
                        <div class="col-sm-7 col-md-8">
                            <input class="form-control" type="text" name="titulo" id="titulo" ng-model="registro.title" required/>
                            <span ng-show="mainForm.$submitted || mainForm.titulo.$touched">
                                <span class="help-block" ng-show="mainForm.titulo.$error.required">Introduce el nombre del atributo.</span>
                            </span>
                        </div>
                        <div class="col-sm-3 col-md-2">
                            <input style="border-color:#CCC;" class="form-control" name="id" type="text" ng-model="registro.id" disabled/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="documentos">Valores prefijados:</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text" id="valor" ng-model="valor"/>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-sm btn-primary" ng-click="agregarValor(valor);valor=null;" ng-disabled="valor === null || valor === undefined || valor === ''">Añadir valor</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2"> </div>
                        <div class="col-sm-6">
                            <table class="table table-striped table-condensed table-bordered table-btn" ng-show="registro.valores && (registro.valores.length > 0)">
                                <thead>
                                    <tr>
                                        <th class="col-md-1">Orden</th>
                                        <th class="col-md-2">Valor</th>
                                        <th class="col-md-2">Operaciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="v in registro.valores">
                                        <td class="col-md-1">{{$index + 1}}</td>
                                        <td class="col-md-2">{{v.valorDiscriminador}}</td>
                                        <td class="col-md-2">
                                            <button type="button" class="btn btn-default btn-xs" ng-click="subirValor($index);">
                                                <span class="glyphicon glyphicon-arrow-up"></span></button>
                                            <button type="button" class="btn btn-default btn-xs" ng-click="bajarValor($index);">
                                                <span class="glyphicon glyphicon-arrow-down"></span></button>
                                            <button type="button" class="btn btn-default btn-xs" ng-click="quitarValor($index);">
                                                <span class="glyphicon glyphicon-trash"></span> Eliminar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>

        </fieldset>

    </div>

</div>
</form>