<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sede="http://www.zaragoza.es" lang="es">

<head>
    <meta charset="utf-8" />
    <sede:meta title="Gestión de Agenda" description="" author="" last-modified="" keywords=""></sede:meta>
</head>

<body>
    <sede:content>
        <ul class="row list-unstyled">
<!--             <li class="col-md-3" th:if="${#utils.tienePermiso(attr_peticion.getCredenciales(), 'AGENDA', 'PROGRAMA', 'DET')}"> -->
            <li class="col-md-2">
                <h3 class="text-sm-center text-primary">
                    <a href="" ng-click="listarAmbitos()">
                        <span class="fa fa-3x fa-list-alt text-color" aria-hidden="true" style="vertical-align:middle;"></span>
                        <span class="visible-md-block visible-lg-block"></span>
                        &Aacute;mbitos
                    </a>
                </h3>
            </li>
<!--             <li class="col-md-3" th:if="${#utils.tienePermiso(attr_peticion.getCredenciales(), 'AGENDA', 'ENTIDAD', 'DET')}"> -->
            <li class="col-md-2">
                <h3 class="text-sm-center text-primary">
                    <a href="" ng-click="listarMonitores()">
                        <span class="fa fa-3x fa-user-circle text-color" aria-hidden="true" style="vertical-align:middle;"></span>
                        <span class="visible-md-block visible-lg-block"></span>
                        Monitores
                    </a>
                </h3>
            </li>
<!--             <li class="col-md-3" th:if="${#utils.tienePermiso(attr_peticion.getCredenciales(), 'AGENDA', 'ENTIDAD', 'DET')}"> -->
            <li class="col-md-3">
                <h3 class="text-sm-center text-primary">
                    <a href="" ng-click="listarEntidades()">
                        <span class="fa fa-3x fa-address-card text-color" aria-hidden="true" style="vertical-align:middle;"></span>
                        <span class="visible-md-block visible-lg-block"></span>
                        Entidades ofertantes
                    </a>
                </h3>
            </li>
            <li class="col-md-2">
                <h3 class="text-sm-center text-primary">
                    <a href="" ng-click="listarFestivos()">
                        <span class="fa fa-3x fa-calendar-check text-color" aria-hidden="true" style="vertical-align:middle;"></span>
                        <span class="visible-md-block visible-lg-block"></span>
                        Festivos
                    </a>
                </h3>
            </li>
            <li class="col-md-3">
                <h3 class="text-sm-center text-primary">
                    <a href="" ng-click="listarDistritos()">
                        <span class="fa fa-3x fa-building text-color" aria-hidden="true" style="vertical-align:middle;"></span>
                        <span class="visible-md-block visible-lg-block"></span>
                        Barrios rurales
                    </a>
                </h3>
            </li>
<!--             <li class="col-md-3" th:if="${#utils.tienePermiso(attr_peticion.getCredenciales(), 'AGENDA', 'ACTO', 'DET')}"> -->
            <li class="col-md-4">
                <h3 class="text-sm-center text-primary">
                    <a href="" ng-click="listarActividades()">
                        <span class="fa fa-3x fa-calendar text-color" aria-hidden="true" style="vertical-align:middle;"></span>
                        <span class="visible-md-block visible-lg-block"></span>
                        Cat&aacute;logo de Actividades
                    </a>
                </h3>
            </li>
<!--             <li class="col-md-3" th:if="${#utils.tienePermiso(attr_peticion.getCredenciales(), 'AGENDA', 'INSCRIPCION', 'DET')}"> -->
            <li class="col-md-3">
                <h3 class="text-sm-center text-primary">
                    <a href="" ng-click="listarSolicitudes()">
                        <span class="fa fa-3x fa-sticky-note text-color" aria-hidden="true" style="vertical-align:middle;"></span>
                        <span class="visible-md-block visible-lg-block"></span>
                        Solicitudes
                    </a>
                </h3>
            </li>
            <li class="col-md-2">
                <h3 class="text-sm-center text-primary">
                    <a href="" ng-click="listarFacturas()">
                        <span class="fa fa-3x fa-sticky-note text-color" aria-hidden="true" style="vertical-align:middle;"></span>
                        <span class="visible-md-block visible-lg-block"></span>
                        Facturas
                    </a>
                </h3>
            </li>
<!--             <li> -->
<!--                 <h3><a href="./encuesta/">Encuestas</a></h3> -->
<!--             </li> -->
<!--             <li class="col-md-3"> -->
<!--                 <h3 class="text-sm-center text-primary"> -->
<!--                     <a href="./estadisticas/"> -->
<!--                         <span class="fa fa-3x fa-pie-chart text-color" aria-hidden="true" style="vertical-align:middle;"></span> -->
<!--                         <span class="visible-md-block visible-lg-block"></span> -->
<!--                         Estadísticas -->
<!--                     </a> -->
<!--                 </h3> -->
<!--             </li> -->

</body>

</html>