<h3>Banco de Actividades > Monitores > Edici&oacute;n de monitor</h3>

<button class="btn btn-primary btn-sm" ng-click="crearMonitor()" ng-show="permisos.NEW">
    <span class="fa fa-pencil" aria-hidden="true"></span>
    <span class="hidden-xs">Nuevo monitor</span>
</button>

<button class="btn btn-primary btn-sm" ng-click="listarMonitores()" ng-show="permisos.DET">
    <span class="fa fa-list" aria-hidden="true"></span>
    <span class="hidden-xs">Listado monitores</span>
</button>
    
<hr/>

<div class="inform repeat-item alert alert-{{alert.type}}" ng-repeat="alert in allInfos()" close="remove(alert)">{{alert.msg}}</div>
<form novalidate name="mainForm" ng-submit="mainForm.$valid && guardar()">
<div class="row">

    <div class="col-md-12">
		<button type="submit" class="btn btn-default" ng-show="permisos.MOD">
			<span class="fa fa-check" aria-hidden="true"></span> 
			<span class="hidden-xs"> Guardar</span>
		</button>
<!-- 		<boton-copiar></boton-copiar> -->
<!--         <boton-visibilidad></boton-visibilidad> -->
        <modal-banco-borrar recurso="evento/admin/banco/monitor"></modal-banco-borrar>
<!--         <modal-peticion></modal-peticion> -->
		<boton-debug ng-model="registro" ng-show="debug"></boton-debug>
    </div>
    
</div>

<hr/>

<div class="alert alert-danger" ng-show="mainForm.$submitted && mainForm.$invalid">
	<ul>
		<li ng-repeat="(key, errors) in mainForm.$error track by $index"> 
			<!-- Errores: <strong>{{ key }}</strong> -->
			<div ng-if="key === 'required'">
				<strong>Faltan campos por completar:</strong>
				<ul>
					<li ng-repeat="e in errors">El campo <em>{{ e.$name }}</em> es obligatorio.</li>
				</ul>	
			</div>
			<div ng-if="key !== 'required'">
				<ul>
					<li ng-repeat="e in errors">El campo <em>{{ e.$name }}</em> tiene un error: <strong>{{ key }}</strong>.</li>
				</ul>	
			</div>
		</li>
	</ul>
</div>

<div class="row">

    <div class="col-md-12">

        <fieldset>
            <legend>Datos del Monitor
            	<span ng-show="debug">[mainFormValid:<strong ng-class="{'text-success': mainForm.$valid, 'text-danger': !mainForm.$valid}">{{mainForm.$valid}}</strong>]</span>
            </legend>

		    <div class="row">
		        <div class="col-md-7 form-horizontal">
			        <div class="form-group">
			            <label class="col-sm-2 control-label" for="nombreMonitor">Nombre:</label>
			            <div class="col-sm-8">
			                <input class="form-control" name="nombreMonitor" id="nombreMonitor" type="text" ng-model="registro.title" value="{{registro.title}}" ng-disabled="!permisos.MOD" />
			            </div>
			            <div class="col-sm-2">
			                <input style="border-color:#CCC;" class="form-control" name="id" type="text" ng-model="registro.id" value="{{registro.id}}" disabled/>
			            </div>
			        </div>
	                <div class="form-group">
			            <label class="col-sm-2 control-label" for="telephone">Teléfono:</label>
			            <div class="col-sm-10">
			                <input class="form-control" name="telephone" id="telephone" type="text" ng-model="registro.telephone" value="{{registro.telephone}}" ng-disabled="!permisos.MOD" />
			            </div>
			        </div>
			        <div class="form-group">
			            <label class="col-sm-2 control-label" for="email">E-mail:</label>
			            <div class="col-sm-10">
			                <input class="form-control" name="email" id="email" type="text" ng-model="registro.email" value="{{registro.email}}" ng-disabled="!permisos.MOD" />
			            </div>
			        </div>
		            <div class="form-group">
		                <label class="col-sm-2 control-label" for="curriculum">Curriculum:</label>
		                <div class="col-sm-10">
		                    <textarea ck-editor-new id="curriculum" name="curriculum" ng-model="registro.curriculum">{{ registro.curriculum }}</textarea>
		                </div>
		            </div>
<!-- 					<div class="form-group"> -->
<!--                         <label class="col-sm-2 control-label" for="anexoCV">Fichero CV: -->
<!--                         <br/> (ppt, doc, pdf, txt): -->
<!--                         </label> -->
<!--                         <div class="col-sm-10"> -->
<!--                         	<div class="input-group"> -->
<!-- 								<input class="form-control" type="file" name="anexoCV" id="anexoCV" accept=".ppt,.doc,.txt,.pdf" file-upload/> -->
<!-- 								<div class="input-group-btn" is-open="documentoAbierto"> -->
<!-- 									<a ng-href="{{registro.anexoCV}}" target="_blank" class="btn btn-default" ng-class="{'disabled' : registro.anexoCV === undefined}"> -->
<!-- 							        	<span class="glyphicon glyphicon-file"></span> -->
<!-- 							    	</a> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!--                             <em>{{registro.anexoCV.split('/').pop()}}</em> -->
<!--                         </div> -->
<!--                     </div> -->
		        </div>
		        <div class="col-md-5 form-horizontal">
		            <div class="panel panel-default">
		                <div class="panel-heading">
		                    <strong>Entidades relacionadas: <span class="badge">{{entidadesRelacionadas.totalCount}}</span></strong>
		                </div>
		                <ul class="list-group overflow-y" style="height:220px;">
		                    <li class="list-group-item" ng-repeat="entidad in entidadesRelacionadas">
		                        <a target="_blank" title="Abrir en pestaña nueva" ng-href="/sede/servicio/cultura/evento/admin/banco/#/entities/edit/{{entidad.id}}">[{{entidad.id}}] {{entidad.title}}</a>
		                    </li>
		                </ul>
		            </div>
		            <div class="panel panel-default">
		                <div class="panel-heading">
		                    <strong>Actividades relacionadas: <span class="badge">{{actividadesRelacionadas.totalCount}}</span></strong>
		                </div>
		                <ul class="list-group overflow-y" style="height:220px;">
		                    <li class="list-group-item" ng-repeat="actividad in actividadesRelacionadas">
		                        <a target="_blank" title="Abrir en pestaña nueva" ng-href="/sede/servicio/cultura/evento/admin/banco/#/activities/edit/{{actividad.id}}">[{{actividad.id}}] {{actividad.title}}</a>
		                    </li>
		                </ul>
		            </div>
		        </div>
		    </div>
			
        </fieldset>

    </div>

</div>
</form>