<h3>Banco de Actividades para Jóvenes. Solicitud concedida. Correo para entidad solicitante</h3>
<div class="inform repeat-item alert alert-{{alert.type}}" ng-repeat="alert in allInfos()" close="remove(alert)">{{alert.msg}}</div>
<div class="row">
    <div class="col-md-12">
		<div id="mail-content" style="background:#eee;padding:10px;border:1px black solid;">
			<p ng-if="mail.textoInicial" ng-bind-html="mail.textoInicial"></p>
			
			<p>Valorada la solicitud presentada y conforme a las bases técnicas que rigen el “Banco de Actividades para Jóvenes” el Servicio de Juventud os informa de que va a participar en la realización de la actividad que a continuación se detalla:
			</p>
			<p>
			Actividad: <b>{{registro.actividad.title}}</b> ({{registro.actividad.id}})<br/>
			Código Solicitud: <b>{{registro.id}}</b><br/>
			Monitor: <b>{{registro.monitor.title}}</b><br/>
			Entidad colaboradora: <b>{{registro.actividad.entity.title}}</b><br/>
			Fechas de realización: <b>{{registro.fechaInicio | date : "dd/MM/yyyy"}}<span ng-if="registro.fechaFin"> - {{registro.fechaFin | date : "dd/MM/yyyy"}}</span></b><br/>
			Horario de realización: <b>{{registro.horario}}</b><br/>
			Participantes: <b>{{totalParticipantes}}</b>
			</p>
			<p><b>{{registro.nombreSolicitante}}</b>:</p>
			<ul>
				<li ng-if="facturas&&(facturas.length==1)">Abonará a la entidad <b>{{registro.actividad.entity.title}}</b>, por la realización de la actividad, <b>1</b> factura por importe de <b>{{facturas[0].requesterAmount}}€</b> más IVA en su caso.</li>
				<li ng-if="facturas&&(facturas.length>1)">Abonará a la entidad <b>{{registro.actividad.entity.title}}</b>, por la realización de la actividad, <b>{{facturas.length}}</b> facturas que se relacionan a continuación:<br/>
					<span ng-repeat="factura in facturas">{{factura.month}}: <b>{{factura.requesterAmount}}€</b> más IVA en su caso.<br/></span>
				</li>
				<li ng-if="registro.actividad.materialPrice">Deberá adquirir el material necesario para la realización de la actividad establecido en <b>{{registro.actividad.materialPrice}}€</b>. La compra de dicho material se podrá gestionar a través del monitor de la actividad, <b>{{registro.monitor.title}}</b>. Los materiales serán propiedad de la entidad solicitante.</li>
			</ul>
			<p><b>IMPORTANTE</b>: El <b>responsable</b> del seguimiento de la actividad debe <b>comunicar a este Servicio</b> de Juventud cualquier modificación sustancial (cambio de horario, monitor, número de participantes, etc) que se produzca durante el desarrollo de la actividad, así como <b>cualquier dato relativo a la actividad que no coincida con los expuestos en la presente comunicación</b>.</p>
			<p>Será imprescindible cumplimentar la <b>evaluación</b> de la actividad una vez terminada.</p>
			<p>El Servicio de Juventud podrá realizar las <b>comprobaciones</b> que considere necesarias para el seguimiento del correcto desarrollo de la actividad (solicitar copia de la factura de la actividad, recabar opiniones de los participantes etc).</p>
			<p>Os recordamos que la participación del Servicio de Juventud conlleva la necesidad de <b>abrir la participación en la actividad</b> a jóvenes de Zaragoza en general, así como <b>introducir la actividad en la agenda</b> del Servicio de Juventud en la siguiente dirección web <a href="https://www.zaragoza.es/sede/servicio/actividades/juvenil/">https://www.zaragoza.es/sede/servicio/actividades/juvenil/</a>.</p>
			<p>Así mismo es necesario el cumplimiento de la normativa de funcionamiento del Banco de Actividades para jóvenes.</p>
			<p>Para cualquier duda o aclaración, contacta con la Unidad Técnica de Actividades Juveniles del Servicio de Juventud:</p>
			<p>Tlf.: 976 721 828/ 18 22 (lunes a viernes de 9 a 14h)<br/>
			<a href="mailto:bancoactividades@zaragoza.es">bancoactividades@zaragoza.es</a></p>

			<p ng-if="mail.textoFinal" ng-bind-html="mail.textoFinal"></p>
		</div>
		<br/>
        <div class="col-md-12 form-group">
            <label class="col-md-2 control-label" for="textoInicial">Texto inicial adicional:</label>
            <div class="col-md-10">
                <textarea ck-editor-new id="textoInicial" ng-model="mail.textoInicial"></textarea>
            </div>
        </div>
        <div class="col-md-12 form-group">
            <label class="col-md-2 control-label" for="textoFinal">Texto final adicional:</label>
            <div class="col-md-10">
                <textarea ck-editor-new id="textoFinal" ng-model="mail.textoFinal"></textarea>
            </div>
        </div>
		<br/>
		<p class="text-center">
			<button type="button" class="btn btn-primary" ng-click="sendMail(true);">
				<span class="fa fa-envelope" aria-hidden="true"></span> 
				<span class="hidden-xs"> Enviar mail a la entidad solicitante</span>
			</button>
		</p>
    </div>
</div>
</form>