<h3>Banco de Actividades > Solicitudes</h3>

<button class="btn btn-primary btn-sm" ng-click="listarSolicitudes()" ng-show="permisos.DET">
    <span class="fa fa-list" aria-hidden="true"></span>
    <span class="hidden-xs">Listado solicitudes</span>
</button>
    
<button class="btn btn-primary btn-sm" ng-click="formularioInforme()" ng-show="permisos.DET">
    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
    <span class="hidden-xs">Informe solicitudes</span>
</button>

<hr/>

<div class="row">
    <div class="col-md-12">

        <nav class="navbar navbar-default" ng-show="permisos.DET">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#buscadoresTarget">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand hidden-desktop">Filtros</span>
                </div>
                <div class="collapse navbar-collapse" id="buscadoresTarget">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="number" min="1" class="form-control" ng-model="qsearch.id" placeholder="Buscar por nº solicitud...">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="qsearch.nombreActividad" placeholder="Buscar por nombre actividad...">
                        </div>
                        <div class="form-group">
                            <autocompletado modelo="qsearch.entidad" uri="/sede/servicio/cultura/evento/admin/banco/entidad/list" filtro="title" retorno="id" campos="id,title" placeholder="Buscar por entidad..."></autocompletado>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="qsearch.nombreSolicitante" placeholder="Buscar por solicitante...">
                        </div>
                        <div class="form-group">
                            <select class="form-control" ng-model="qsearch.estado">
                            	<option value="">Buscar por estado...</option>
                            	<option value="EN_ESTUDIO">En estudio</option>
                            	<option value="CONCEDIDA">Concedida</option>
                            	<option value="DENEGADA">Denegada</option>
                            	<option value="ANULADA">Anulada</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="buscar(qsearch)">Filtrar</button>
                    </form>
                </div>
                
            </div>
        </nav> 

    </div> 
</div>

<div class="row">
    <div class="col-md-12" class="clearfix">
        <div class="repeat-item alert alert-{{alert.type}} alert-dismissible" ng-repeat="alert in allInfos()" close="remove(alert)">{{alert.msg}}</div>
        <div class="alert alert-info" ng-show="registros.length == 0">
            Para comenzar realiza una búsqueda o acción.
        </div>
        <div ng-show="permisos.DET && registros.length > 0">
            <div>
                <span class="margin-r2em">
                    N&uacute;mero de resultados: {{registros.length}} <span ng-show="totalCount > 0">de {{totalCount}}</span>
                    (Pág. {{currentPage}})
                </span>
                <span ng-show="filtrosParaListado !== undefined">
                    Filtros aplicados: <span ng-bind-html="filtrosParaListado | pintarFiltros"></span>
                    <!-- <button type="button" class="btn btn-xs btn-default" ng-click="limpiarFiltrosDaoListar();">Limpiar Filtros</button> -->
                </span>
<!--                 <span ng-show="permisos.MOD && checkList.length > 0" class="pull-right checklist-tools"> -->
<!--                     <span ng-repeat="c in checkList"> <span class="label label-warning">{{c.id}}</span> </span> -->
<!--                     <modal-borrar></modal-borrar> -->
<!--                     <boton-visibilidad></boton-visibilidad> -->
<!--                 </span> -->

                <ul style="margin-top:-15px;" class="margin-b05em navbar-right" uib-pagination boundary-links="true" total-items="totalCount" max-size="maxSizePage" ng-model="currentPage" ng-change="pageChanged()" items-per-page="itemsPerPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
            </div>
            <table class="table table-bordered table-hover table-striped table-btn">
                <thead>
                    <tr>
                        <th ng-show="permisos.MOD"></th>
                        <th th-orden style="cursor:pointer;" order="'id'" by="order" reverse="reverse">Nº SOLICITUD</th>
                        <th th-orden style="cursor:pointer;" order="'creationDate'" by="order" reverse="reverse" class="col-md-1">FECHA SOLICITUD</th>
                        <th th-orden style="cursor:pointer;" order="'actividad.title'" by="order" reverse="reverse">ACTIVIDAD SOLICITADA</th>
                        <th th-orden style="cursor:pointer;" order="'actividad.entity.title'" by="order" reverse="reverse">ENTIDAD QUE IMPARTE</th>
                        <th th-orden style="cursor:pointer;" order="'nombreSolicitante'" by="order" reverse="reverse">SOLICITANTE</th>
                        <th>FECHA(S)</th>
                        <th th-orden style="cursor:pointer;" order="'estado'" by="order" reverse="reverse">ESTADO</th>
                        <th ng-show="permisos.MOD">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="registro in registros | orderBy:order:reverse">
                        <td ng-show="permisos.MOD">
                            <input type="checkbox" checklist-model="checkList" checklist-value="registro">
                        </td>
                        <td data-title="ID">
                        	<a href="#/requests/edit/{{ registro.id }}">{{registro.id}}</a>
							<a class="btn" href="#/requests/edit/{{ registro.id }}" target="_blank" title="Abrir solicitud en pestaña nueva"><span class="glyphicon glyphicon-export"></span></a>                        </td>
                        </td>
                        <td data-title="Fecha Solicitud">
                            <a href="#/requests/edit/{{ registro.id }}">{{registro.creationDate | date:'dd-MM-yyyy'}}</a>
							<a class="btn" href="#/requests/edit/{{ registro.id }}" target="_blank" title="Abrir solicitud en pestaña nueva"><span class="glyphicon glyphicon-export"></span></a>                        </td>
              			<td data-title="Actividad">
                            <a href="#/activities/edit/{{ registro.actividad.id }}">
                            	{{registro.actividad.title}}
                            </a>
                            <a class="btn" href="#/activities/edit/{{ registro.actividad.id }}" target="_blank" title="Abrir actividad en pestaña nueva"><span class="glyphicon glyphicon-export"></span></a>
                        </td>
                        <td data-title="Entidad ofertante">
                            <a href="#/entities/edit/{{ registro.actividad.entity.id }}">
                            	{{registro.actividad.entity.title}}
                            </a>
                            <a class="btn" href="#/entities/edit/{{ registro.actividad.entity.id }}" target="_blank" title="Abrir entidad en pestaña nueva">
                            	<span class="glyphicon glyphicon-export"></span>
                            </a>
                        	<br/>
                        	<i><span ng-if="!registro.confirmadaOfertante">No</span> Confirmada</i>
                        </td>
                        <td data-title="Solicitante">
                        	<span>{{registro.nombreSolicitante}}</span>
<!--                         	<br/> -->
<!--                         	<i><span ng-if="!registro.confirmadaSolicitante">No</span> Confirmada</i> -->
                        </td>
                        <td data-title="Fecha(s) actividad">
                        	<span ng-if="registro.fechaInicio">{{registro.fechaInicio | date : "dd/MM/yyyy"}}</span>
                        	<span ng-if="registro.fechaFin && (registro.fechaInicio != registro.fechaFin)">- {{registro.fechaFin | date : "dd/MM/yyyy"}}</span>
                        </td>
                        <td data-title="Estado solicitud">
                        	<span ng-if="registro.estado == 'EN_ESTUDIO'">EN ESTUDIO</span>
                        	<span ng-if="registro.estado != 'EN_ESTUDIO'">{{registro.estado}}</span>
                        </td>
                        <td data-title="Operaciones" ng-show="permisos.MOD">
			        		<modal-banco-borrar recurso="evento/admin/banco/solicitud"></modal-banco-borrar>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <ul class="margin-t05em navbar-right" uib-pagination boundary-links="true" total-items="totalCount" max-size="maxSizePage" ng-model="currentPage" ng-change="pageChanged()" items-per-page="itemsPerPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>

            <div class="alert alert-warning spinner-tabla" ng-show="busy">
                <span class="spinner"></span> Espera por favor, se estan cargando los datos.
            </div>
        </div>

    </div> <!-- /span12 -->
</div> <!-- /row-fluid -->