<div id="modalBusqueda">
    <div class="modal-header">
        <!-- <button type="button" class="close formReset" data-dismiss="modal">×</button> -->
        <h3>FIltro de busqueda</h3>
    </div>
    <div class="modal-body">
        <form>
            <fieldset class="form-horizontal">
                <div class="control-group">
                    <label for="title" class="control-label">Nombre:</label>
                    <div class="controls">
                        <input id="title" type="text" class="form-control" placeholder="Busca por nombre..." ng-model="query.title">
                    </div>
                </div>
                <div class="control-group">
                    <label for="tipo" class="control-label">Tipo:</label>
                    <div class="controls">
                        <input id="tipo" type="text" class="form-control" placeholder="Busca por tipo..." ng-model="query.tipo">
                    </div>
                </div>
                <div class="control-group">
                    <label for="idInterno" class="control-label">ID Interno:</label>
                    <div class="controls">
                        <input id="idInterno" type="text" class="form-control" placeholder="Busca por ID interno..." ng-model="query.internal_id">
                    </div>
                </div>
                <div class="control-group">
                    <label for="estado" class="control-label">Estado:</label>
                    <div class="controls">
                        <input id="estado" type="text" class="form-control" placeholder="Busca por estado..." ng-model="query.estado">
                    </div>
                </div>             
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="busqueda();buscar();">Busqueda</button>
        <button class="btn btn-warning" ng-click="cancelar()">Cancelar</button> 
    </div>
</div>
