<div class="inform repeat-item alert alert-{{alert.type}}" ng-repeat="alert in allInfos()" close="remove(alert)">{{alert.msg}}</div>
<form novalidate name="mainForm" ng-submit="mainForm.$valid && guardar()">
<div class="row">

    <div class="col-md-12">
		<button type="submit" class="btn btn-default" ng-show="permisos.MOD">
			<span class="fa fa-check" aria-hidden="true"></span> 
			<span class="hidden-xs"> Guardar</span>
		</button>
        <boton-visibilidad></boton-visibilidad>
        <modal-borrar></modal-borrar>
        <!--<modal-peticion></modal-peticion>-->
		<boton-debug ng-model="registro" ng-show="debug"></boton-debug>
    </div>

</div>

<hr/>

<div class="alert alert-danger" ng-show="mainForm.$submitted && mainForm.$invalid">
	<ul>
		<li ng-repeat="(key, errors) in mainForm.$error track by $index"> 
			<!-- Errores: <strong>{{ key }}</strong> -->
			<div ng-if="key === 'required'">
				<strong>Faltan campos por completar:</strong>
				<ul>
					<li ng-repeat="e in errors">El campo <em>{{ e.$name }}</em> es obligatorio.</li>
				</ul>	
			</div>
			<div ng-if="key !== 'required'">
				<ul>
					<li ng-repeat="e in errors">El campo <em>{{ e.$name }}</em> tiene un error: <strong>{{ key }}</strong>.</li>
				</ul>	
			</div>
		</li>
	</ul>
</div>

<div class="row">

    <div class="col-md-12">

        <fieldset>
            <legend>Datos del registro 
            	<span ng-show="debug">[mainFormValid:<strong ng-class="{'text-success': mainForm.$valid, 'text-danger': !mainForm.$valid}">{{mainForm.$valid}}</strong>]</span>
            </legend>

			<div class="row">
                <div class="col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
                                    <span class="fa fa-info-circle" aria-hidden="true"></span> Control
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" style="padding: 5px; min-width: 300px;">
                                    <li ng-hide="location === '/new'"><strong>ID: </strong>{{ registro.id }}</li>
                                    <li ng-hide="location === '/new'" class="divider"></li>
                                    <li>
                                        <strong>Servicio: </strong>
                                        <span class="label label-primary margin-r05em" ng-repeat="portal in registro.portales">{{portal.title}}</span>
                                    </li>
                                    <li><strong>Usuario de agenda: </strong>{{registro.codUsuario}}<span ng-show="registro.codUsuario === 1"> (web)</span></li>
                                    <li role="separator" class="divider"></li>
                                    <li ng-hide="location === '/new'"><strong>Fecha de alta: </strong>{{registro.creationDate | date:'dd-MM-yyyy'}}</li>
                                    <li ng-hide="location === '/new'"><strong>Fecha de modificaci&oacute;n: </strong>{{registro.lastUpdated | date:'dd-MM-yyyy'}}</li>
                                    <!-- <li><strong>Fecha de publicaci&oacute;n: </strong>{{registro.pubDate | date:'dd-MM-yyyy'}}</li> -->
                                    <li><strong>Usuario de alta: </strong>{{registro.usuarioAlta}}</li>
                                    <li><strong>Usuario de modificaci&oacute;n: </strong>{{registro.usuarioMod}}</li>
                                    <!-- <li><strong>Usuario de publicaci&oacute;n: </strong>{{registro.usuarioPub}}</li> -->
                                    <li role="separator" class="divider"></li>
                                    <li><strong>Nombre: </strong>{{registro.nombreContacto}}</li>
                                    <li><strong>Apellidos: </strong>{{registro.apellidosContacto}}</li>
                                    <li><strong>Email: </strong>{{registro.emailContacto}}</li>
                                    <li><strong>Teléfono: </strong>{{registro.telefonoContacto}}</li>
                                </ul>
                            </div>
                            <button type="button" class="btn btn-default" ng-click="cargarFicha(registro.id);" ng-disabled="location === '/new'">
                            	<span class="fa fa-globe" aria-hidden="true"></span> 
                            	Ver ficha
                            </button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row margin-b2em">
                <div class="col-md-7 form-horizontal">

                    <div class="form-group" ng-class="{'has-error': (mainForm.$submitted || mainForm.titulo.$touched) && mainForm.titulo.$invalid}">
                        <label class="col-sm-2 control-label" for="titulo">
                        	<span class="obligatorio">Titulo:</span>
                        	<span class="oculto"> (campo obligatorio)</span>
                        </label>
                        <div class="col-sm-7 col-md-8">
                            <input class="form-control" type="text" name="titulo" id="titulo" ng-model="registro.title" required/>
                            <span ng-show="mainForm.$submitted || mainForm.titulo.$touched">
                                <span class="help-block" ng-show="mainForm.titulo.$error.required">Introduce el nombre de la actividad.</span>
                            </span>
                        </div>
                        <div class="col-sm-3 col-md-2">
                            <input style="border-color:#CCC;" class="form-control" name="id" type="text" ng-model="registro.id" disabled/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="sea">SEA:</label>
                        <div class="col-sm-10">
                            <autocompletado autocomplete="off" id="sea" name="sea" modelo="entidad" uri="/sede/servicio/organigrama" filtro="title"
                                            placeholder="Buscar SEA..."></autocompletado>
                        </div>
                    </div>

                </div>

                <div class="col-md-5 form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="telefonos">Teléfonos:</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="telefonos" name="telefonos" ng-model="registro.telefonos" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="fax">Fax:</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="fax" id="fax" ng-model="registro.fax"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="email">Email:</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="email" id="email" ng-model="registro.email"/>
                        </div>
                    </div>
                </div>

            </div>
			
			<div class="row">
				<div class="col-md-12">
					<uib-tabset>
    					<uib-tab heading="Descripción">
    						
                            <div class="row">

                                <div class="col-md-12 form-horizontal">

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="web">Url:</label>
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <input class="form-control" type="text" name="web" id="web" ng-model="registro.url"/>
                                                <div class="input-group-btn">
                                                    <a ng-href="{{registro.url}}" target="_blank" class="btn btn-default" ng-class="{'disabled' : registro.url === undefined}">
                                                        <span class="glyphicon glyphicon-share"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="descripcion">Descripción:</label>
                                        <div class="col-sm-10">
                                            <textarea ck-editor-new class="form-control" id="descripcion" name="descripcion" ng-model="registro.description"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="horario">Horario:</label>
                                        <div class="col-sm-10">
                                            <textarea ck-editor-new class="form-control" id="horario" name="horario" ng-model="registro.horario"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="precio">Precio:</label>
                                        <div class="col-sm-10">
                                            <textarea ck-editor-new class="form-control" id="precio" name="precio" ng-model="registro.precio"></textarea>
                                        </div>
                                    </div>

                                </div>

                            </div>

    					</uib-tab>
    				
                        <uib-tab heading="Servicios">

                            <div class="row">

                                <div class="col-md-12 form-horizontal">

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="servicios">Servicios:</label>
                                        <div class="col-sm-10">
                                            <textarea ck-editor-new class="form-control" id="servicios" name="servicios" ng-model="registro.servicios"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-if="registro.id == null">
                                        <label class="col-sm-2 control-label">Trámites asociados:</label>
                                        <div class="col-sm-10">
                                            <div class="alert alert-info">
                                                El equipamiento debe guardarse antes de poder asociar trámites.
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-if="registro.id != null">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="tramite">Trámites asociados:</label>
                                        <div class="col-sm-8">
                                            <autocompletado autocomplete="off" id="tramite" name="tramite" modelo="tramite" uri="/sede/servicio/tramite" filtro="title"
                                                            placeholder="Buscar trámite..." campos="id,title"></autocompletado>
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="button" class="btn btn-sm btn-primary" ng-click="asociarTramite(tramite.id);tramite=null;"
                                                    ng-disabled="tramite === undefined || tramite === null">Añadir trámite</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2"> </div>
                                        <div class="col-sm-10">
                                            <div class="alert alert-info">
                                                El trámite será asociado o desasociado al equipamiento inmediatamente, sin necesidad de pulsar "Guardar".
                                            </div>
                                        </div>
                                        <div class="col-sm-2"> </div>
                                        <div class="col-sm-10" ng-if="registro.procs && (registro.procs.totalCount > 0)">
                                            <table class="table table-striped table-condensed table-bordered table-btn">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Nombre</th>
                                                    <th>Operaciones</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="proc in registro.procs.result">
                                                        <td>{{proc.id}}</td>
                                                        <td>{{proc.title}}</td>
                                                        <td>
                                                            <button type="button" class="btn btn-default btn-xs" ng-click="desasociarTramite($index);">
                                                                <span class="glyphicon glyphicon-trash"></span> Eliminar</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    </div>
                                </div>

                            </div>
                            
                        </uib-tab>
                            
                        <uib-tab heading="Clasificación">

                            <div class="row">

                                <div class="col-md-12 form-horizontal">

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="listar">Listar</label>
                                        <div class="col-sm-5">
                                            <select class="form-control" name="listar" id="listar" ng-model="registro.listar">
                                                <option value=""></option>
                                                <option value="1">Organigrama</option>
                                                <option value="2">Equipamiento de la Ciudad</option>
                                                <option value="3">Organización Política</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="clasificacion">Clasificación:</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text" id="clasificacion" ng-model="registro.clasificacion"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="poblacion">Población:</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text" id="poblacion" ng-model="registro.poblacion"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="relacionado">Relacionado:</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" id="relacionado" ng-model="registro.relacionado"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="tipo">Tipo:</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text" id="tipo" ng-model="registro.tipo"/>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="{'has-error': (mainForm.$submitted || mainForm.institucion.$touched) && mainForm.institucion.$invalid}">
                                        <label class="col-sm-2 control-label" for="institucion">Institución:</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" id="institucion" name="institucion" ng-model="registro.institucion[0]" ng-options="institucion as institucion.title for institucion in instituciones track by institucion.id"></select>
                                            <span ng-show="mainForm.$submitted || mainForm.institucion.$touched">
                                            </span> 
                                            <span ng-if="debug">{{registro.institucion}}</span>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="{'has-error': (mainForm.$submitted || mainForm.tramite.$touched) && mainForm.tramite.$invalid}">
                                        <label class="col-sm-2 control-label" for="subtema">Temas asociados:</label>
                                        <div class="col-sm-8">
                                            <autocompletado autocomplete="off" id="subtema" name="subtema" modelo="subtema" uri="/sede/servicio/equipamiento/admin/subtemas" filtro="title"
                                                            placeholder="Buscar tema..." campos="id,title"></autocompletado>
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="button" class="btn btn-sm btn-primary" ng-click="asociarSubtema(subtema);subtema=null;" ng-disabled="subtema === undefined || subtema === null">Añadir tema</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2"> </div>
                                        <div class="col-sm-10">
                                            <table class="table table-striped table-condensed table-bordered table-btn" ng-show="registro.category && (registro.category.length > 0)">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Nombre</th>
                                                    <th>Operaciones</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="cat in registro.category">
                                                        <td>{{cat.id}}</td>
                                                        <td>{{cat.title}}</td>
                                                        <td>
                                                            <button type="button" class="btn btn-default btn-xs" ng-click="desasociarSubtema($index);">
                                                            <span class="glyphicon glyphicon-trash"></span> Eliminar</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="gradoacc">Grado Accesibilidad</label>
                                        <div class="col-sm-5">
                                            <select class="form-control" name="gradoacc" id="gradoacc" ng-model="registro.gradoacc">
                                                <option value=""></option>
                                                <option value="Accesible">Accesible</option>
                                                <option value="No Accesible">No Accesible</option>
                                                <option value="Accesible con acompañante">Accesible con acompañante</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="accesibilidad">Accesibilidad:</label>
                                        <div class="col-sm-10">
                                            <textarea ck-editor-new class="form-control" id="accesibilidad" name="accesibilidad" ng-model="registro.accesibilidad"></textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            
                        </uib-tab>
                            
                        <uib-tab heading="Dirigido a">

                            <div class="row">

                                <div class="col-md-12 form-horizontal">

                                    <div class="col-md-6" ng-repeat="tipoPersona in tiposPersona">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">{{ tipoPersona }}:</label>
                                            <div class="col-sm-11 pull-right">
                                                <div class="input-group" ng-repeat="persona in personas[tipoPersona]">
                                                    <label for="id_pers_{{ persona.id }}" style="font-weight: unset;" ng-click="onPersonaClicked(persona)">
                                                        <input id="id_pers_{{ persona.id }}" type="checkbox" ng-model="persona.checked"
                                                               ng-checked="clasepersona.indexOf(persona.id) != -1" />
                                                        {{ persona.title }}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            
                        </uib-tab>

                        <uib-tab heading="Localización" select="$broadcast('invalida');">

                            <div class="row">

                                <div class="col-md-12 form-horizontal">

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="edificio">Edificio:</label>
                                        <div class="col-sm-10">
                                            <!--<input class="form-control" type="text" name="edificio" id="edificio" ng-model="registro.edificio" ng-value="registro.edificios[0].title"/>-->
                                            <autocompletado autocomplete="off" id="edificio" name="edificio" modelo="registro.edificio[0].edificio" uri="/sede/servicio/edificio/admin/list?srsname=wgs84" filtro="title"
                                                            placeholder="Buscar edificio..."></autocompletado>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="planta">Planta:</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text" name="planta" id="planta" ng-model="registro.edificio[0].planta"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="coordX">Coord X:</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text" name="coordX" id="coordX" value="{{ registro.edificio[0].edificio.geometry.coordinates[0] }}"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="coordY">Coord Y:</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text" name="coordY" id="coordY" value="{{ registro.edificio[0].edificio.geometry.coordinates[1] }}"/>
                                        </div>
                                    </div>

                                </div>

                                <div class="row-fluid" ng-if="registro.edificio[0] != undefined">
                                    <div class="col-sm-2">
                                    </div>
                                    <div class="col-sm-10">
                                        <portal registro="registro.edificio[0].edificio" mapa="S"></portal>
                                    </div>
                                </div>

                            </div>

                        </uib-tab>

                        <uib-tab heading="Propiedades">

                            <div class="row">

                                <div class="col-md-12 form-horizontal">

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="propiedad">Propiedad:</label>
                                        <div class="col-sm-8">
                                            <autocompletado autocomplete="off" id="propiedad" name="propiedad" modelo="propiedadCentro.propiedad"
                                                            uri="/sede/servicio/equipamiento/admin/propiedades" filtro="title"
                                                            placeholder="Buscar propiedad..."></autocompletado>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom:5px;"
                                         ng-show="propiedadCentro.propiedad.tipo !== undefined && propiedadCentro.propiedad.tipo !== null">
                                        <label class="col-sm-2 control-label" for="valor">Valor:</label>
                                        <div class="col-sm-8" ng-if="propiedadCentro.propiedad.tipo === 'xsd:boolean'">
                                            <select class="form-control" id="valor" name="valor" ng-model="propiedadCentro.valorBool">
                                                <option value="true" selected="selected">Sí</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-8"
                                             ng-if="propiedadCentro.propiedad.tipo === 'xsd:int' || propiedadCentro.propiedad.tipo === 'xsd:integer' || propiedadCentro.propiedad.tipo === 'xsd:float'">
                                            <input class="form-control" type="number" id="valor" ng-model="propiedadCentro.valorNum"/>
                                        </div>
                                        <div class="col-sm-8" ng-if="propiedadCentro.propiedad.tipo === 'xsd:date'">
                                            <input class="form-control" type="date" id="valor" ng-model="propiedadCentro.valorDate"/>
                                        </div>
                                        <div class="col-sm-8" ng-if="propiedadCentro.propiedad.tipo === 'xsd:string'">
                                            <input class="form-control" type="text" id="valor" ng-model="propiedadCentro.valorString"/>
                                        </div>
                                    </div>
                                    <div class="form-group"
                                         ng-show="propiedadCentro.propiedad.tipo !== undefined && propiedadCentro.propiedad.tipo !== null">
                                        <label class="col-sm-2 control-label" for="observaciones">Observaciones:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" type="text" id="observaciones" ng-model="propiedadCentro.observaciones"/>
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="button" class="btn btn-sm btn-primary"
                                                    ng-click="asociarPropiedad()"
                                                    ng-disabled="propiedadCentro.propiedad.tipo === undefined || propiedadCentro.propiedad.tipo === null">
                                                Añadir propiedad
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="registro.propiedad && (registro.propiedad.length > 0)">
                                        <label class="col-sm-2 control-label">Propiedades asociadas:</label>
                                        <div class="col-sm-10">
                                            <table class="table table-striped table-condensed table-bordered table-btn">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Nombre</th>
                                                    <th>Valor</th>
                                                    <th>Observaciones</th>
                                                    <th>Operaciones</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="prop in registro.propiedad">
                                                    <td>{{ prop.propiedad.id }}</td>
                                                    <td>{{ prop.propiedad.title }}</td>
                                                    <td>{{ prop.propiedad.tipo === 'xsd:boolean' ? (prop.valor === 'true' ? 'Sí' : 'No') : prop.valor }}</td>
                                                    <td>{{ prop.observ }}</td>
                                                    <td>
                                                        <button type="button" class="btn btn-default btn-xs" ng-click="desasociarPropiedad($index);">
                                                            <span class="glyphicon glyphicon-trash"></span> Eliminar</button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </uib-tab>

                    </uib-tabset>
				</div>
			</div>

        </fieldset>

    </div>

</div>
</form>