<div>
    <div class="modal-header">
        <button type="button" class="close" ng-click="btnModalCancelar()">
        	<span aria-hidden="true">&times;</span>
        	<span class="sr-only">Close</span>
        </button>
        <h3>Filtro de busqueda</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">Fecha Inicio:</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="query.start_date" is-open="datepickers.dateStart" ng-required="true" close-text="Cerrar" current-text="Hoy" clear-text="Borrar" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="toggleOpenDatePicker($event,'dateStart')">
                                    <span class="fas fa-calendar-alt" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">Fecha fin:</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="query.end_date" is-open="datepickers.dateEnd" ng-required="true" close-text="Cerrar" current-text="Hoy" clear-text="Borrar" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="toggleOpenDatePicker($event,'dateEnd')">
                                    <span class="fas fa-calendar-alt" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">Categor&iacute;a:</label>
                    <div class="col-sm-8">
                        <select class="form-control" ng-model="query.service_code" multiple="multiple" ng-options="obj as obj.service_name for obj in categories">
                            <option value="">&nbsp;</option>
                        </select>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="btnModalCancelar()">Cancelar</button>
        <button class="btn btn-success" ng-click="btnModalCargarEstadistica()">Estad&iacute;sticas</button>
    </div>
</div>
