<div class="inform repeat-item alert alert-{{alert.type}}" ng-repeat="alert in allInfos()" close="remove(alert)">{{alert.msg}}</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-default" ng-click="guardar()" ng-show="permisos.MOD">
            <span class="fa fa-check" aria-hidden="true"></span> 
            <span class="hidden-xs"> Guardar</span>
        </button>
        <boton-copiar ng-show="permisos.NEW"></boton-copiar>
        <modal-borrar></modal-borrar>
    </div>
</div>
<hr/>
<fieldset>
    <legend>Datos del registro</legend>
    <div class="row">
        <div class="col-md-8 form-horizontal">
            
            <div class="form-group">
                <label class="col-sm-2 control-label" for="title">Titulo:</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="title" id="title" ng-model="registro.title" value="{{ registro.title }}" ng-disabled="!permisos.MOD"/>
                </div>
                <div class="col-sm-2">
                    <input class="form-control" name="id" type="text" ng-model="registro.id" value="{{ registro.id }}" disabled/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="programacion">Programaci&oacute;n:</label>
                <div class="col-sm-10">
                    <textarea ck-editor-new id="descripcion" name="descripcion" ng-model="registro.description" ng-disabled="!permisos.MOD">{{ registro.description }}</textarea>
                </div>
            </div>
        </div>
        <div class="col-md-4">
        	<div ng-if="permisos.LIDER">
        		<p class="lead nomargin">Líderes</p>
                <label class="sr-only">Login:</label>
                <div class="input-group margin-b1em">
                    <input type="text" name="login" ng-model="user.login" class="form-control" placeholder="Introduce el login del usuario" required>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="asociarLider(user.login)" title="Asociar">
                            <span class="fa fa-plus" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
	        	<table class="table table-bordered table-hover table-striped table-btn">
	                <thead>
	                    <tr>
	                        <th>Login</th>
	                        <th>Nombre</th>
	                        <th>&nbsp;</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr ng-repeat="registro in lideres.result | orderBy:order:reverse">
	                        <td data-title="login" >{{registro.login}}</td>
	                        <td data-title="nombre" >{{registro.nombre}} {{registro.apellido1}} {{registro.apellido2}}</td>
							<td><a style="cursor:pointer" ng-click="eliminarLider(registro.id)" onclick="return confirm('Confirma que desa que eliminar al lider?')" title="Eliminar"><i class="fas fa-trash-alt"></i></a></td>
	                    </tr>
	                </tbody>
	            </table>
	        </div>
        	
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Actividades vigentes con programa asociado: {{actosAsociados.totalCount}}</strong>
                </div>
                <ul class="list-group overflow-y" style="height:252px;">
                    <li class="list-group-item" ng-repeat="acto in actosAsociados">
                        <a target="_blank" title="Abrir en pestaña nueva" ng-href="/sede/servicio/cultura/evento/admin/acto/#/edit/{{acto.id}}">[{{acto.id}}] {{acto.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-1 col-md-7 form-inline">
            <label for="festividadLocal">
                <input type="checkbox" id="festividadLocal" name="festividadLocal" ng-model="registro.localHoliday" ng-true-value="'S'" ng-false-value="'N'" ng-disabled="!permisos.MOD"/> Festividad local
            </label>
            <label for="grupoAsociado" class="margin-l1em">
                <input type="checkbox" id="grupoAsociado" name="grupoAsociado" ng-model="registro.grupoAsociado" ng-disabled="!permisos.MOD"/> Asociar Grupo
            </label>
            <label for="numOrden" class="margin-l1em">
                Nº de orden destacado:
                <input class="form-control" type="number" id="numOrden" name="numOrden" ng-model="registro.ordenDestacado" style="width:5em" ng-disabled="!permisos.MOD"/>
            </label>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6 form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label" for="anexoImagen">Imagen Vertical:</label>
                <div class="col-sm-8">
                    <input class="form-control" type="file" name="anexoImagen" id="anexoImagen" accept="image/*" img-cut img-cut-result-image="imagenVertical" img-cut-result-files="registro.file_array" img-cut-size="320x480" ng-model="registro.image" ng-disabled="!permisos.MOD"/>
                    <em>{{registro.image.split('/').pop()}}</em>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="anexoImagenAlt">Imagen Horizontal:</label>
                <div class="col-sm-8">
                        <input class="form-control" type="file" name="anexoImagenAlt" id="anexoImagenAlt" accept="image/*" img-cut img-cut-result-image="imagenHorizontal" img-cut-result-files="registro.file_array" img-cut-size="480x320" ng-model="registro.imageAlt" ng-disabled="!permisos.MOD"/>
                    <em>{{registro.imageAlt.split('/').pop()}}</em>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img ng-show="imagenVertical" ng-src="{{imagenVertical}}" width="160" />
            <img ng-show="imagenHorizontal" ng-src="{{imagenHorizontal}}" height="160" />
            <span ng-show="debug">
                <div><span class="badge">imagenVertical</span>{{imagenVertical}}</div>
                <div><span class="badge">imagenHorizontal</span>{{imagenHorizontal}}</div>
            </span>
        </div>
    </div>
</fieldset>
