html, body {
    margin  : 0;
    padding : 0;
    height  : 100%;
    width   : 100%;
    background-color: white;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.0); 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none;
    -o-user-select: none; 
}
@media only screen and (max-width: 600px) {
    html, body {
        height  : 117%;
    }
}
#container {
    width    : 100%;
    position : relative;
    height   : 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.0);
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none;
    -o-user-select: none; 
}
#map {
    width    : 100%;
    position : relative;
    height   : 100%;
    clear    : both;
    overflow : hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.0);
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none;
    -o-user-select: none; 
}
#viewerTreeHeader {
	position: absolute;
	right: 0px;
	width: 75%;
	height: 30px;
	background-color: #000000;
	z-index: 10011;
	display: none;
}
#viewerToolBarContainer {
	position: absolute;
	top: 35px;
	left: 16px;
	z-index: 10000;
}
#expandedPopupDiv{
    width    : 100%;
    position : absolute;
    height   : 100%; 
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.0);
    -moz-user-select: none; 
    -khtml-user-select: none;
    -o-user-select: none; 
    top	     : 0;
}

#expandedPopupDiv div, #expandedPopupDiv a, #expandedPopupDiv img{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.0);
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -o-user-select: none;
}

.fullExtent_handheld{
background-image: url("../img/style/new2015/handheld/fullExtent.png");
align:top;
}
.zoomIn_handheld{
background-image: url("../img/style/new2015/handheld/zoomInCentered.png");
}
.zoomOut_handheld{
background-image: url("../img/style/new2015/handheld/zoomOutCentered.png");
}
.geoLocate_handheld{
background-image: url("../img/style/new2015/handheld/geolocate.png");
}
.geoLocating_handheld{
background-image: url("../img/style/new2015/handheld/geolocating.png");
}
.toggleScreen_full_handheld{
background-image: url("../img/style/new2015/handheld/fullScreen.png");
}
.toggleScreen_normal_handheld{
background-image: url("../img/style/new2015/handheld/contractScreen.png");
}
.help_handheld{
background-image: url("../img/style/new2015/handheld/help.png");
}
.legend_ES_handheld{
background-image: url("../img/style/new2015/handheld/leyendaES.png");
}
.legend_EN_handheld{
background-image: url("../img/style/new2015/handheld/leyendaEN.png");
}
.legend_FR_handheld{
background-image: url("../img/style/new2015/handheld/leyendaFR.png");
}

.fullExtent_tablet{
background-image: url("../img/style/new2015/tablet/fullExtent.png");
align:top;
}
.zoomIn_tablet{
background-image: url("../img/style/new2015/tablet/zoomInCentered.png");
}
.zoomOut_tablet{
background-image: url("../img/style/new2015/tablet/zoomOutCentered.png");
}
.geoLocate_tablet{
background-image: url("../img/style/new2015/tablet/geolocate.png");
}
.geoLocating_tablet{
background-image: url("../img/style/new2015/tablet/geolocating.png");
}
.toggleScreen_full_tablet{
background-image: url("../img/style/new2015/tablet/fullScreen.png");
}
.toggleScreen_normal_tablet{
background-image: url("../img/style/new2015/tablet/contractScreen.png");
}
.help_tablet{
background-image: url("../img/style/new2015/tablet/help.png");
}
.legend_ES_tablet{
background-image: url("../img/style/new2015/tablet/leyendaES.png");
}
.legend_EN_tablet{
background-image: url("../img/style/new2015/tablet/leyendaEN.png");
}
.legend_FR_tablet{
background-image: url("../img/style/new2015/tablet/leyendaFR.png");
}
