<div class="row">

    <div class="col-md-12">

        <button class="btn btn-default" ng-click="guardar()" ng-show="permisos.MOD">
            <span class="fa fa-check" aria-hidden="true"></span>
            <span class="hidden-xs"> Guardar</span>
        </button>
        <boton-copiar></boton-copiar>
        <boton-visibilidad></boton-visibilidad>
        <modal-borrar></modal-borrar>

    </div>

</div>

<hr/>

<div class="row">

    <div class="col-md-12">

        <uib-tabset>
            <uib-tab heading="Datos del registro">
                <div class="row">
                    <div class="col-md-7 form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <div class="btn-group" uib-dropdown>
                                    <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
                                        Control
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" style="padding: 5px; min-width: 260px;">
                                        <li><strong>ID: </strong>{{ registro.id }}</li>
                                        <li><strong>Fecha de alta: </strong>{{registro.creationDate | date:'dd-MM-yyyy'}}</li>
                                        <li><strong>Fecha de modificación: </strong>{{registro.lastUpdated | date:'dd-MM-yyyy'}}</li>
                                        <li><strong>Fecha de publicación: </strong>{{registro.pubDate | date:'dd-MM-yyyy'}}</li>
                                        <li><strong>Usuario de alta:</strong>{{registro.usuarioAlta}}</li>
                                        <li><strong>Usuario de modificación: </strong>{{registro.usuarioMod}}</li>
                                        <li><strong>Usuario de publicación: </strong>{{registro.usuarioPub}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7 form-horizontal">

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="tipo">Tipo:</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="tipo" ng-model="registro.tipo" value="{{ registro.tipo }}" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="internal_id">ID Interno:</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="internal_id" ng-model="registro.internal_id" value="{{ registro.internal_id }}" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="title">Nombre:</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="title" ng-model="registro.title" value="{{ registro.title }}" />
                            </div>
                            <div class="col-sm-2">
                                <input class="form-control" name="id" type="text" ng-model="registro.id" value="{{ registro.id }}" disabled/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="estado">Estado:</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="estado" ng-model="registro.estado" value="{{ registro.estado }}" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2  control-label" for="cobertura">Cobertura:</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="cobertura" ng-model="registro.cobertura" value="{{ registro.cobertura }}" />
                            </div>
                        </div>

                    </div>

                    <div class="col-md-5 form-horizontal">
                        <div class="form-group nomargin">
                            <label class="col-sm-2 control-label ckeditor-label" for="servicios">Servicios:</label>
                        </div>
                        <div class="form-group">
                            <textarea class="col-sm-10" ck-editor name="servicios" ng-model="registro.servicios">{{ registro.servicios }}</textarea>
                        </div>
                    </div>

                </div>
            </uib-tab>
            <uib-tab heading="Localización" select="$broadcast('invalida');">
                <div class="row">
                    <div class="col-md-8 form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="geometry.coordinates.x">Punto X:</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" name="geometry.coordinates.x" ng-model="registro.geometry.coordinates[0]" value="{{ registro.geometry.coordinates[0] }}" />
                            </div>
                            <label class="col-sm-2 control-label" for="geometry.coordinates.y">Punto Y:</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" name="geometry.coordinates.y" ng-model="registro.geometry.coordinates[1]" value="{{ registro.geometry.coordinates[1] }}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <portal registro="registro" buscador="S" mapa="S"></portal>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>

    </div> 
</div> 