<div class="row">
    <div class="col-md-12">

        <nav class="navbar navbar-default" ng-show="permisos.DET">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#buscadoresTarget">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand hidden-desktop">Filtros</span>
                </div>
                <div class="collapse navbar-collapse" id="buscadoresTarget">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <buscador filter="title" placeholder="Buscar por nombre..."></buscador>
                        </div>
                        <div class="form-group">
                            <buscador filter="tipo" placeholder="Buscar por tipo..."></buscador>
                        </div>
                        <div class="form-group">
                            <buscador filter="internal_id" placeholder="Buscar por ID interno..."></buscador>
                        </div>
                        <div class="form-group">
                            <buscador filter="estado" placeholder="Buscar por estado..."></buscador>
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="buscar()" ng-show="modoBusqueda == 1">Filtrar</button>
                    </form>
                    <div class="btn-group navbar-right">
                        <label class="btn btn-default navbar-btn" ng-model="modoBusqueda" uib-btn-radio="0">Automática</label>
                        <label class="btn btn-default navbar-btn" ng-model="modoBusqueda" uib-btn-radio="1">Manual</label>
                    </div>
                </div>
            </div>
        </nav>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="repeat-item alert alert-{{alert.type}}" ng-repeat="alert in allInfos()" close="remove(alert)">{{alert.msg}}</div>
        <div infinite-scroll="loadMore()" infinite-scroll-disabled="busy" infinite-scroll-distance="2" ng-show="permisos.DET">
        N&uacute;mero de resultados: {{registros.length}}
            <table class="table table-bordered table-hover table-striped table-btn">
                <thead>
                    <tr>
                        <th th-orden order="'id'" by="order" reverse="reverse">ID</th>
                        <th th-orden order="'tipo'" by="order" reverse="reverse">TIPO</th>
                        <th th-orden order="'internal_id'" by="order" reverse="reverse">ID INTERNO</th>
                        <th th-orden order="'title'" by="order" reverse="reverse">NOMBRE</th>
                        <th th-orden order="'estado'" by="order" reverse="reverse">ESTADO</th>
                        <th>Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="registro in registros | orderBy:order:reverse">
                        <td data-title="ID" ><a href="#/edit/{{ registro.id }}">{{registro.id}}</a></td>
                        <td data-title="Tipo"><a href="#/edit/{{ registro.id }}">{{registro.tipo}}</a></td>
                        <td data-title="internal_id"><a href="#/edit/{{ registro.id }}">{{registro.internal_id}}</a></td>
                        <td data-title="Nombre"><a href="#/edit/{{ registro.id }}">{{registro.title}}</a></td>
                        <td data-title="Estado"><a href="#/edit/{{ registro.id }}">{{registro.estado}}</a></td>
                        <td data-title="Operaciones">
                            <modal-borrar></modal-borrar>
                            <boton-visibilidad></boton-visibilidad>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <div role="alert" class="alert alert-warning spinner-tabla" ng-show="busy"><span class="spinner"></span>Espera por favor, se estan cargando los datos.</div>
            
        </div>

    </div>
</div>