<div class="row">

    <div class="col-md-12">

        <button class="btn btn-default" ng-click="guardar()" ng-show="permisos.MOD">
            <span class="fa fa-check" aria-hidden="true"></span>
            <span class="hidden-xs"> Guardar</span>
        </button>
        <boton-copiar></boton-copiar>
        <boton-visibilidad></boton-visibilidad>
        <modal-borrar></modal-borrar>
		<div class="btn-group" uib-dropdown ng-show="registro.id">
             <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
                 Control
                 <span class="caret"></span>
             </button>
             <ul class="dropdown-menu" role="menu" style="padding: 5px; min-width: 260px;">
                 <li><strong>ID: </strong>{{ registro.id }}</li>
                 <li><strong>Fecha de alta: </strong>{{registro.creationDate | date:'dd-MM-yyyy'}}</li>
                 <li><strong>Fecha de modificación: </strong>{{registro.lastUpdated | date:'dd-MM-yyyy'}}</li>
                 <li><strong>Fecha de publicación: </strong>{{registro.pubDate | date:'dd-MM-yyyy'}}</li>
                 <li><strong>Usuario de alta:</strong>{{registro.usuarioAlta}}</li>
                 <li><strong>Usuario de modificación: </strong>{{registro.usuarioMod}}</li>
                 <li><strong>Usuario de publicación: </strong>{{registro.usuarioPub}}</li>
             </ul>
         </div>
    </div>

</div>

<hr/>
<div class="repeat-item alert alert-{{alert.type}}" ng-repeat="alert in allInfos()" close="remove(alert)">{{alert.msg}}</div>
<div class="row">
	<div class="col-md-9 form-horizontal">
			<input class="form-control" type="text" name="title"
					ng-model="registro.title" value="{{ registro.title }}" />
	</div>
	<div class="col-md-3 form-horizontal">
		<div class="form-group">
			<label class="col-sm-6 control-label" for="top">Frecuente</label>
			<div class="col-sm-6">
				<input type="checkbox" ng-model="registro.top" ng-true-value="'S'" ng-false-value="'N'"/>
			</div>
		</div>
	</div>
	
</div>

<div class="row">
    <div class="col-md-12">
        <uib-tabset>
        	<uib-tab heading="Datos" select="$broadcast('invalida');">
            	<div class="row">
            		<div class="col-md-6 form-horizontal">
            			<div class="form-group">
							<label class="col-sm-2 control-label" for="link">Familia:</label>
							<div class="col-sm-10">
								<input class="form-control" type="text" name="link"
									ng-model="registro.link" value="{{ registro.link }}" />
							</div>
						</div>
            		</div>
	        	    <div class="col-md-6 form-horizontal">
						<div class="form-group">
		                   <label class="col-sm-2 control-label" for="sea">Gestor:</label>
		                   <div class="col-sm-10">
		                       <autocompletadocentro autocomplete="off" id="gestor" name="gestor" modelo="registro.organo[0].gestor" uri="/sede/servicio/tramite/admin/centro" campos="id,titleSea"
		                                       placeholder="Buscar ..."></autocompletadocentro>
		                   </div>
		                </div>
		                <div class="form-group">
		                   <label class="col-sm-2 control-label" for="sea">Decisor:</label>
		                   <div class="col-sm-10">
		                       <autocompletadocentro autocomplete="off" id="decisor" name="decisor" modelo="registro.organo[0].decisor" uri="/sede/servicio/tramite/admin/centro" campos="id,titleSea"
		                                       placeholder="Buscar ..."></autocompletadocentro>
		                   </div>
		               </div>
		               <div class="form-group">
		                   <label class="col-sm-2 control-label" for="sea">Teléfono:</label>
		                   <div class="col-sm-10">
		                   <input class="form-control" type="text" name="telefonogestor" ng-model="registro.organo[0].telefonoGestor" value="{{ registro.organo[0].telefonoGestor }}" />
		                   (si es diferente al gestor)
		                   </div>
		               </div>
					</div>
				</div>
                
            </uib-tab>
            <uib-tab heading="Descripción">
                <div class="row">
                	<div class="col-md-6">
	        			Abreviada:
	                	<div class="form-group">
	                    	<textarea class="col-sm-10" ck-editor name="descabre" ng-model="registro.descabre">{{ registro.descabre }}</textarea>
	                	</div>
	                	
	                </div>
	                <div class="col-md-6">
		                Extensa:
		                <div class="form-group">
		                    <textarea class="col-sm-10" ck-editor name="description" ng-model="registro.description">{{ registro.description }}</textarea>
		                </div>
		                Más información:
		                <div class="form-group">
		                    <textarea class="col-sm-10" ck-editor name="masInfo" ng-model="registro.masInfo">{{ registro.masInfo }}</textarea>
		                </div>
		             </div>
                </div>
                
            </uib-tab>
            
            <uib-tab heading="Tramitación" select="$broadcast('invalida');">
            	<div class="row">
	        	    
				</div>
                
            </uib-tab>
            <uib-tab heading="Plazos" select="$broadcast('invalida');">
            	<div class="row">
	        	    
				</div>
                
            </uib-tab>
            <uib-tab heading="En línea" select="$broadcast('invalida');">
            	<div class="row">
	        	    
				</div>
                
            </uib-tab>
            <uib-tab heading="Presencial" select="$broadcast('invalida');">
            	<div class="row">
	        	    
				</div>
                
            </uib-tab>
            <uib-tab heading="Correo" select="$broadcast('invalida');">
            	<div class="row">
	        	    
				</div>
                
            </uib-tab>
            <uib-tab heading="Teléfono" select="$broadcast('invalida');">
            	<div class="row">
	        	    
				</div>
                
            </uib-tab>
            <uib-tab heading="Asociado con" select="$broadcast('invalida');">
            	<div class="row">

				</div>
                
            </uib-tab>
        </uib-tabset>

    </div> 
</div> 