
<div class="row">
    <div class="col-md-12">
        <div class="repeat-item alert alert-{{alert.type}}" ng-repeat="alert in allInfos()" close="remove(alert)">{{alert.msg}}</div>
        
        
        
        <div infinite-scroll="loadMore()" infinite-scroll-disabled="busy" infinite-scroll-distance="0" ng-show="permisos.DET">
			<button type="button" class="btn btn-default" ng-click="gestion()">
				<span class="glyphicon glyphicon-plus"></span>A&ntilde;adir Grupo 
			</button>
			<table class="table table-bordered table-hover table-btn">
                <thead>
                    <tr>
                        <th th-orden order="'group_code'" by="order" reverse="reverse">ID</th>
                        <th th-orden order="'group_name'" by="order" reverse="reverse">NOMBRE</th>
                        <th th-orden order="'email'" by="order" reverse="reverse">CORREO</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="registro in registros track by $index">
                        <td data-title="group_code" >{{registro.group_code}}</td>
                        <td data-title="group_name">{{registro.group_name}}</td>
                        <td data-title="email">{{registro.email}}</td>
                        <td>
							<button type="button" class="btn btn-default" ng-click="gestion($index)">
							<span class="glyphicon glyphicon-edit"></span>
							</button>
						</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>
