<div class="row">

    <div class="col-md-12">
        <div class="repeat-item alert alert-{{alert.type}}" ng-repeat="alert in allInfos()" close="remove(alert)">{{alert.msg}}</div>
        <fieldset>

            <div class="row">
                <div class="col-md-12">

                            <div class="row-fluid">
                                <div class="span12">
                                    <form class="form-inline">{{registro.address_string}}
                                        <label class="control-label" for="registro.x">registro X:</label>
                                        <input class="input-small" type="text" name="registro.x" ng-model="registro.x" value="{{ registro.x }}" />
                                        <label class="control-label" for="registro.y">registro Y:</label>
                                        <input class="input-small" type="text" name="registro.y" ng-model="registro.y" value="{{ registro.y }}" />
                                    </form>
                                </div>
                            </div>

                            <hr>

                            <div class="row-fluid">
                                <div class="span12">
									<portal registro="registro" buscador="S" mapa="S" latlong="S"></portal>
                                </div>
                            </div>
							<div ng-show="mismaLocalizacion && mismaLocalizacion.totalCount > 0">
	                                    <table class="table table-bordered table-hover table-btn">
	                                    <caption>&Uacute;ltimas quejas en la misma localizaci&oacute;n</caption>
	                                    <tr><th>Fecha</th><th>Queja</th><th>Estado</th><th>Categoria</th><tr>
	                                    <tr ng-repeat="dato in mismaLocalizacion" ng-class="dato.status_admin.toLowerCase().replace(' ','')">
	                                    <td><a href="#/edit/{{ registro.service_request_id }}" target="_blank">{{dato.requested_datetime | date:'dd-MM-yyyy HH:mm'}}</a></td>
	                                    <td data-title="Asunto"><a href="#/edit/{{ dato.service_request_id }}" target="_blank">{{dato.title}}</a></td>
			                        	<td data-title="Estado"><a href="#/edit/{{ dato.service_request_id }}" target="_blank">{{dato.status_admin}}</a></td>
	        			                <td data-title="Categoria"><a href="#/edit/{{ dato.service_request_id }}" target="_blank">{{dato.service_name}}</a></td>
	        			                </tr>
	                                    </table>
	                                    <p><a href="#" class="btn" ng-click="verDeLocalizacion()" ng-show="mismaLocalizacion.totalCount>=5">Ver m&aacute;s quejas en esta localizaci&oacute;n</a></p>
                             </div>
					<div class="control-group form-inline clearfix" ng-show="categories.length>0">
                        <div class="control-group">
                            <label for="" class="control-label" style="float:left">Categor&iacute;a:</label>
                            <!-- <select class="form-control" id="categories" ng-model="category" ng-options="obj as obj.service_name for obj in categories">
                            </select> -->
							<ui-select ng-model="category" style="width:550px;float:left" on-select="seleccionadaCategoria($item)">
								<ui-select-match placeholder="Selecciona categoria...">
							{{$select.selected.service_name}} </ui-select-match> <ui-select-choices
								repeat="categoria in categories | filter: $select.search">
							<div ng-bind-html="categoria.service_name | highlight: $select.search"></div>
							<small ng-bind-html="categoria.service_description | highlight: $select.search"></small>
							</ui-select-choices> </ui-select>
							
                            <label ng-show="permisos.CATEGORY && category.agency_responsible && category.agency_responsible.length>2" for="category.agency_responsible" class="control-label">Asignar a Colaborador:</label>
                            <input ng-show="permisos.CATEGORY && category.agency_responsible && category.agency_responsible.length>2" type="checkbox" ng-model="tienecolaborador" id="category.agency_responsible" />
                            <span ng-show="permisos.CATEGORY && category.agency_responsible && category.agency_responsible.length>2">
                                <input type="hidden" value="{{category.agency_responsible_code}}" name="agency_responsible_code">{{category.agency_responsible}}
                            </span>
                        </div>
                    </div>
                    <div ng-show="categories.length<=0">
                    	<input  type="checkbox" ng-model="asociar_mi_cat" id="asociar_mi_cat" ng-init="asociar_mi_cat=true"/> Asociar mi categoria
                    </div>
                    <div class="row">
                    <div class="col-md-2">
					Origen
					</div>
					<div class="col-md-2">
                    <select class="form-control" data-ng-model="registro.origin" ng-options="obj.id as obj.text for obj in origin"></select>
                    </div>
					<div class="col-md-2">
                    Tipo
                    </div>
					<div class="col-md-2">
                    <select class="form-control" data-ng-model="registro.type" ng-options="obj.id as obj.text for obj in types"></select>
                    </div>
					<div class="col-md-2">
                    Prioridad
                    </div>
					<div class="col-md-2">
                    <select class="form-control" data-ng-model="registro.priority" ng-options="obj.id as obj.text for obj in priority"></select>
                    </div>
					</div>
                            <div class="form-horizontal" style="margin-top:1em;">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="registro.title">Asunto:</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" type="text" name="registro.title" ng-model="registro.title" value="{{ registro.title }}" />
                                    </div>
                                    <div class="col-sm-1">
                                        <input class="form-control" name="id" type="text" ng-model="registro.service_request_id" value="{{ registro.service_request_id }}" disabled/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="registro.description">Descripci&oacute;n:</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" rows="8" name="registro.description" ng-model="registro.description">{{ registro.description }}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="registro.first_name">Nombre y apellidos</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" name="registro.first_name" ng-model="registro.first_name" value="{{ registro.first_name }}" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="registro.email">Correo</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="email" name="registro.email" ng-model="registro.email" value="{{ registro.account_id == 3506176 ? '' : registro.email }}" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="registro.phone">Tel&eacute;fono</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" name="registro.phone" ng-model="registro.phone" value="{{ registro.account_id == 3506176 ? '' : registro.phone }}" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="registro.user_address">Direcci&oacute;n</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" name="registro.user_address" ng-model="registro.user_address" value="{{ registro.account_id == 3506176 ? '' : registro.user_address }}" />
                                    </div>
                                </div>
                                <div class="form-group" ng-show="permisos.ANSWERREQUESTED && !registro.service_request_id">
                                    <label class="col-sm-2 control-label" for="registro.answer_requested">Solicita Respuesta?</label>
                                    <div class="col-sm-10">
                                    	<input type="checkbox" name="registro.answer_requested" ng-model="registro.answer_requested" ng-true-value="S"  ng-false-value="N"/>
                                    </div>
                                </div>
                            </div>
                </div>

            </div>

        </fieldset>

    </div>

</div>
<hr/>
<div class="row">

    <div class="col-sm-offset-2 col-sm-10">

        <button class="btn btn-default" ng-click="guardarParques()" ng-show="permisos.NEW">
            <span class="glyphicon glyphicon-inbox"></span>
            <span class="hidden-xs">Guardar</span>
        </button>

    </div>

</div>
