<div class="row">
    <div ng-show="permisos.ADMIN" class="col-md-12">
    	<h2>Ayuda</h2>
	    
	    
	    <h3>Listado de quejas</h3>
	    <div ng-show="usuario.propiedades.usr_ticketing==2">Por defecto, se muestran las quejas <strong>Pendientes o No Asignada</strong></div>
	    
	    <div ng-show="usuario.propiedades.usr_ticketing!=2 && permisos.ADMINOPERADOR">Por defecto, se muestran las quejas dadas de alta por los operadores asociados.</div>
	    
	    <div ng-show="usuario.propiedades.usr_ticketing!=2 && permisos.OPERADOR">Por defecto, se muestran las quejas dadas de alta por el operador actual.</div>
	    
	    <div ng-show="usuario.propiedades.usr_ticketing!=2 && !permisos.OPERADOR && !permisos.ADMINOPERADOR">Por defecto, se muestran las <strong>Pendiente o Resuelta</strong>.</div>
	    
	    
	    <h4>Consultas</h4>
		<p>En la pantalla de listado de quejas aparece un formulario de búsqueda con los siguientes campos:</p>
		<ul>
		<li>ID</li>
		<li>Asunto: Permite búsqueda por varias palabras, esta consulta se realiza sobre: el asunto, la descripcion y los datos del usuario que ha realizado la queja.</li>
		<li>Estado: Permite consultar por varios estados.</li>
		<li ng-show="permisos.PUB">Validación:</li>
		</ul>	    
		
		Al pinchar en <button class="btn btn-sm btn-primary" ng-click="lanzarModalBusqueda()"><span class="glyphicon glyphicon-search"></span> Busqueda</button> se accede a la búsqueda avanzada:
		<ul>
		<li>ID</li>
		<li>Texto: Permite búsqueda por varias palabras, esta consulta se realiza sobre: el asunto, la descripcion y los datos del usuario que ha realizado la queja.</li>
		<li ng-show="permisos.ANSWERREQUESTED">Solicitada respuesta: Consultar las quejas pendientes de contestar al ciudadano via teléfono.</li>
		<li>Estado: Permite consultar por varios estados.</li>
		<li ng-show="permisos.PUB">Validación:</li>
		<li>Origen.</li>
		<li>Tipo.</li>
		<li>Fecha inicio</li>
		<li>Fecha fin</li>
		<li ng-show="permisos.SENDEXTERNO">Entidad externa a la que se ha derivado la queja</li>
		</ul> 
		
	    <div ng-show="permisos.NEW">
	    	<h3>Crear queja</h3>
	    	<p><button class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-pencil"></span><span class="hidden-xs"> Nuevo registro</span></button> Los únicos campos obligatorios son el título y la descripción de la queja.</p>
	    </div>
	    
	    
	    <h3>Operaciones sobre una queja</h3>
	    
	    <div ng-show="permisos.MOD">
			<p><button class="btn btn-default"><span class="glyphicon glyphicon-inbox"></span> <span class="hidden-xs">Guardar queja</span></button> Guarda las modificaciones realizadas en la queja, cada modificación se anota como una acción dentro de la pestaña de acciones.</p>
			<p><button class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> <span class="hidden-xs">Resolver</span></button> Marca la queja como resuelta, no contesta al ciudadano, la queja pasaría a web municipal que procedería a contestar al usuario.</p>
			<p ng-show="permisos.CONTESTAR"><button class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span> <span class="hidden-xs">Contestar</span></button> Contesta al ciudadano y cierra la queja.</p>
			<p><button class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> <span class="hidden-xs">Derivar a web</span></button> Devuelve la queja a la web municipal para que sea derivada a otro servicio.</p>
			<p><button class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span> <span class="hidden-xs">Informar</span></button> Envía un correo electrónico al ciudadano con el texto incluido en la ventana emergente.</p>
			<p><button class="btn btn-default"><span class="glyphicon glyphicon-tag"></span> <span class="hidden-xs">Solicitar</span></button> Solicita más información al usuario, enviando por correo electrónico un acceso temporal para que amplíe la información según lo que se pida en el campo de texto de la ventana emergente.</p>
			<p><button class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span> <span class="hidden-xs">Rechazar</span></button> Contesta al ciudadano, cierra la queja marcándola como Rechazada</p>
			<p><button class="btn btn-default"><span class="glyphicon glyphicon-folder-close"></span> <span class="hidden-xs">Archivar</span></button> Cierra la queja marcándola como Archivada</p>
			<p><button class="btn btn-default"><span class="glyphicon glyphicon-edit"></span> <span class="hidden-xs">Anotar información</span></button> Dentro de la pestaña Acciones, permite apuntar información asociada a la queja.</p>
		</div>
	    
	    <div ng-show="usuario.propiedades.rootcat_ticketing && permisos.DOC">
	    	<p><button class="btn btn-default"><span class="glyphicon glyphicon-list-alt"></span> <span class="hidden-xs">Informe</span></button> Genera un informe con el detalle de acciones y estado de la queja en formato pdf, se crea una plantilla según la categoría que tiene asociada el usuario. Se produce un error sino existe esta plantilla.</p>
	    </div>
	    
	    <div ng-show="permisos.PUB">
	    	<p><button class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span> <span class="hidden-xs">Publicar</span></button> Si el usuario ha dado consentimiento permite publicar la queja para que su contenido sea visible para la ciudadanía, <strong>no se pueden publicar quejas que contengan información de carácter personal</strong>.</p>
	    	<p><button class="btn btn-default"><span class="glyphicon glyphicon-eye-close"></span> <span class="hidden-xs">Ocultar</span></button> Oculta una queja que haya sido publicada</p>
	    </div>
	    <div ng-show="permisos.SENDEXTERNO">
	    	<p><button class="btn btn-default"><span class="glyphicon glyphicon-arrow-right"></span> <span class="hidden-xs">Derivar a externo</span></button> Deriva la queja a una entidad externa (aquellas que no están dadas de alta en el sistema de quejas y sugerencias). Desde la ventana modal se puede dar da alta o modificar entidades externas, así como previsualizar la orden de trabajo que se incluirá en el correo electrónico que llegará a la entidad externa. La queja pasa al estado <strong>Derivada a externo</strong></p>
	    </div>
	    <div ng-show="permisos.DEL">
	    	<p><button class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> <span class="hidden-xs">Borrar</span></button> Cierra la queja marcándola como borrada, el registro permanece en la base de datos.</p>
	    </div>
	</div>
</div>
