<div class="row">
    <div class="col-md-12">

        <nav class="navbar navbar-default" ng-show="permisos.DET">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#buscadoresTarget">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand hidden-desktop">Filtros</span>
                </div>
                <div class="collapse navbar-collapse" id="buscadoresTarget">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="number" class="form-control" ng-model="qsearch.id" placeholder="Por id..." style="width:80px">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="qsearch.title" placeholder="Buscar por nombre...">
                        </div>
                        <div class="form-group">
                        	<select class="form-control input-sm" id="publicado" name="publicado" ng-model="qsearch.visible">
                            	<option value="" selected>Publicado</option>
                            	<option value="1">Si</option>
                            	<option value="0">No</option>
                        	</select>
                    	</div>
                        <div class="form-group">
                        	<select class="form-control input-sm" id="prioritario" name="prioritario" ng-model="qsearch.preferential">
                            	<option value="" selected>Prioritario</option>
                            	<option value="1">Si</option>
                            	<option value="0">No</option>
                        	</select>
                    	</div>
                        <div class="form-group">
                        	<select class="form-control input-sm" id="qsearchPortal" name="qsearchPortal" ng-model="qsearch.portal" ng-options="portal.id as portal.title for portal in portalesAviso track by portal.id" style="width:200px">
                            	<option value="" selected>Portal...</option>
                        	</select>
                    	</div>
                        <button type="submit" class="btn btn-default" ng-click="buscar(qsearch)">Filtrar</button>
                    </form>

                </div>
            </div>
        </nav>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="repeat-item alert alert-{{alert.type}}" ng-repeat="alert in allInfos()" close="remove(alert)">{{alert.msg}}</div>
        <span ng-show="qsearch.title">Nombre: {{qsearch.title}}</span>
        <span ng-show="qsearch.visible">Visible: {{qsearch.visible}}</span>
        <span ng-show="qsearch.preferential">Prioritario: {{qsearch.preferential}}</span>
        <span ng-show="qsearch.portal">Portal: {{qsearch.portal}}</span>
        <div infinite-scroll="loadMore()" infinite-scroll-disabled="busy" infinite-scroll-distance="2" ng-show="permisos.DET">
        N&uacute;mero de resultados: {{registros.length}}
            <table class="table table-bordered table-hover table-striped table-btn">
                <thead>
                    <tr>
                        <th th-orden order="'id'" by="order" reverse="reverse">ID</th>
                        <th th-orden order="'title'" by="order" reverse="reverse">NOMBRE</th>
                        <th th-orden order="'portal.title'" by="order" reverse="reverse">PORTAL</th>
                        <th th-orden order="'pubDate'" by="order" reverse="reverse">PUBLICACION</th>
                        <th th-orden order="'expirationDate'" by="order" reverse="reverse">CADUCIDAD</th>
                        <th th-orden order="'order'" by="order" reverse="reverse">Nº</th>
                        <th>Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="registro in registros | orderBy:order:reverse">
                        <td data-title="ID" ><a href="#/edit/{{ registro.id }}">{{registro.id}}</a> <span ng-show="registro.preferential==1" class="fa fa-star" aria-hidden="true" title="Prioritario"></span></td>
                        <td data-title="title"><a href="#/edit/{{ registro.id }}">{{registro.title}}</a></td>
                        <td data-title="portal">
                        	<ul class="list-inline"
								ng-repeat="portal in registro.portal | orderBy:order:reverse">
								<li>
									{{portal.title}}
								</li>
							</ul>
                        </td>
                        <td data-title="publicacion">{{registro.pubDate | date:'dd-MM-yyyy'}}</td>
                        <td data-title="caducidad">{{registro.expirationDate | date:'dd-MM-yyyy'}}</td>
                        <td data-title="orden">{{registro.order}}</td>
                        <td data-title="Operaciones">
                            <modal-borrar></modal-borrar>
                            <boton-visibilidad10></boton-visibilidad>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <div role="alert" class="alert alert-warning spinner-tabla" ng-show="busy"><span class="spinner"></span>Espera por favor, se estan cargando los datos.</div>
            
        </div>

    </div>
</div>