<div class="row">

    <div class="col-md-12">

        <button class="btn btn-default" ng-click="guardar()" ng-show="permisos.NEW">
            <span class="glyphicon glyphicon-inbox"></span>
            <span class="hidden-xs">Guardar</span>
        </button>

    </div>

</div>

</div>

<hr/>

<div class="row">

    <div class="col-md-12">
        <div class="repeat-item alert alert-{{alert.type}}" ng-repeat="alert in allInfos()" close="remove(alert)">{{alert.msg}}</div>
        <fieldset>

            <div class="row">
	           <div class="col-md-12">
	                 <div class="form-horizontal">
	                 
	                 	<div class="form-group">
                             <label class="col-sm-2 control-label">Creador:</label>
                             <div class="col-sm-10">
                                 {{usuario.nombre}} {{usuario.apellido1}} {{usuario.apellido2}} {{usuario.email}}
	               				<input type="hidden" name="registro.first_name" ng-model="registro.first_name"/>
	               				<input type="hidden" name="registro.email" ng-model="registro.email"/>
                             </div>
                         </div>
                         <div class="form-group" ng-show="categories.length>0">
	                       <label for="" class="col-sm-2 control-label" style="float:left">Categor&iacute;a:</label>
	                       <div class="col-sm-10">
		                       <ui-select ng-model="category" style="width:550px;float:left" on-select="seleccionadaCategoria($item)">
									<ui-select-match class="ui-select-match" placeholder="Selecciona categoria...">
										{{$select.selected.service_name}} 
									</ui-select-match> 
									<ui-select-choices class="ui-select-choices" repeat="categoria in categories | filter: $select.search">
										<div ng-bind-html="categoria.service_name | highlight: $select.search"></div>
										<small style="font-size:70%" ng-bind-html="categoria.service_description | highlight: $select.search"></small>
									</ui-select-choices> 
								</ui-select>
							</div>				                       
			             </div>
                         <div class="form-group">
                             <label class="col-sm-2 control-label" for="registro.title">Asunto:</label>
                             <div class="col-sm-7">
                                 <input class="form-control" type="text" name="registro.title" ng-model="registro.title" value="{{ registro.title }}" />
                             </div>
                             <div class="col-sm-1">
                                 <input class="form-control" name="id" type="text" ng-model="registro.service_request_id" value="{{ registro.service_request_id }}" disabled/>
                             </div>
                         </div>
                         <div class="form-group">
                             <label class="col-sm-2 control-label" for="registro.description">Descripci&oacute;n:</label>
                             <div class="col-sm-9">
                                 <textarea class="form-control" rows="4" name="registro.description" ng-model="registro.description">{{ registro.description }}</textarea>
                             </div>
                         </div>
                     </div>
                     <div class="row-fluid">
                         <div class="span12">
                            <portal registro="registro" markers="markers" modelo="calleSel" buscador="S" mapa="S" latlong="S"></portal>
                         </div>
                     </div>

                </div>

            </div>

        </fieldset>

    </div>

</div>
