<div class="row">
    <div class="col-md-12">

        <nav class="navbar navbar-default" ng-show="permisos.DET">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#buscadoresTarget">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand hidden-desktop">Filtros</span>
                </div>
                <div class="collapse navbar-collapse" id="buscadoresTarget">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <label>Direcci&oacute;n: </label>
                            <portalero modelo="query_portal" uri="/api/recurso/urbanismo-infraestructuras/registro-licencias/portal" filtro="title" numero="*"></portalero>
                        </div>
                        <div class="form-group">
						  <label>Expediente: </label>
                          <input type="text" class="form-control" ng-model="query_expediente"/>
                        </div>
                        <div class="form-group">
						  <label>Tipo: </label>
                          <select class="form-control" data-ng-model="query_tipo" ng-options="obj.id as obj.text for obj in tipo"><option value=""></option></select>
                        </div>
                        <div class="form-group">
						  <label>A&ntilde;o: </label>
                          <select class="form-control" data-ng-model="query_anyo" ng-options="obj.id as obj.text for obj in anyo"><option value=""></option></select>
                        </div>
                        <button class="btn btn-default" type="button" ng-click="buscar()">Buscar</button>
                    </form>
                </div>
            </div>
        </nav> 

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="repeat-item alert alert-{{alert.type}}" ng-repeat="alert in allInfos()" close="remove(alert)">{{alert.msg}}</div>
        <div infinite-scroll="loadMore()" infinite-scroll-disabled="busy" infinite-scroll-distance="0" ng-show="permisos.DET">
			Registros encontrados: {{totalCount}}
            <table class="table table-bordered table-hover table-striped table-btn">
                <thead>
                    <tr>
                        <!-- <th class="col-md-2">Operaciones</th>-->
                        <th th-orden order="'id'" by="order" reverse="reverse">ID</th>
                        <th>Expedientes</th>
                        <th><button class="btn btn-link" ng-click="ordenar('areaReferencia desc')">Area referencia</button></th>
                        <th><button class="btn btn-link" ng-click="ordenar('claveCatastro desc')">Catastro</button></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="dato in datos track by $index | orderBy:order:reverse">
                        <td data-title="ID">
	                        <a class="btn btn-default" ng-href="/api/recurso/urbanismo-infraestructuras/licencia-obra/{{dato.id}}/informe?clientId={{usuario.login}}&ihm={{linkInforme}}" target="_blank">
	            				<span class="glyphicon glyphicon-list-alt"></span>
	            				<span class="hidden-xs">Informe </span>
	        				</a>
	        				<a href="#/edit/{{ dato.id }}">{{dato.id}}</a>
                        </td>
                        <td>
                        	<ul>
                        	<li ng-repeat="expte in dato.expedientePrivate | orderBy:'creationDate'">
                        	{{expte.id.expediente}} - {{expte.procedimiento}} {{expte.tipo}} {{expte.datosObra.tipoObra}} - {{expte.creationDate|date:'dd-MM-yyyy'}} - {{expte.titular}} - {{expte.nif}}
                        	
                        	</li>
                        	</ul>
                        </td>
                        <td data-title="calle">{{dato.areaReferencia}}</td>
                        <td data-title="Refcatastral">{{dato.claveCatastro}}</td>
                    </tr>
                </tbody>
            </table>

            <div role="alert" class="alert alert-warning spinner-tabla" ng-show="busy"><span class="spinner"></span>Espera por favor, se estan cargando los datos.</div>
            
        </div>

    </div>
</div>