<div class="inform repeat-item alert alert-{{alert.type}}" ng-repeat="alert in allInfos()" close="remove(alert)">{{alert.msg}}</div>
<form novalidate name="mainForm" ng-submit="mainForm.$valid && guardar()">
<div class="row">

    <div class="col-md-12">
		<button type="submit" class="btn btn-default" ng-show="permisos.MOD">
			<span class="fa fa-check" aria-hidden="true"></span> 
			<span class="hidden-xs"> Guardar</span>
		</button>
        <modal-registro-borrar></modal-registro-borrar>
		<boton-debug ng-model="registro" ng-show="debug"></boton-debug>
    </div>

</div>

<hr/>

<div role="alert" class="alert alert-danger" ng-show="mainForm.$submitted && mainForm.$invalid">
	<ul>
		<li ng-repeat="(key, errors) in mainForm.$error track by $index"> 
			<!-- Errores: <strong>{{ key }}</strong> -->
			<div ng-if="key === 'required'">
				<strong>Faltan campos por completar:</strong>
				<ul>
					<li ng-repeat="e in errors">El campo <em>{{ e.$name }}</em> es obligatorio.</li>
				</ul>	
			</div>
			<div ng-if="key !== 'required'">
				<ul>
					<li ng-repeat="e in errors">El campo <em>{{ e.$name }}</em> tiene un error: <strong>{{ key }}</strong>.</li>
				</ul>	
			</div>
		</li>
	</ul>
</div>

<div class="row">

    <div class="col-md-12">

        <fieldset>
			<legend>Datos del registro</legend>
			
            <div class="row margin-b2em">
                <div class="col-md-7 form-horizontal">

                    <!-- Identificador -->
                    <div class="form-group" ng-class="{'has-error': (mainForm.$submitted || mainForm.registerType.$touched) && mainForm.registerType.$invalid}">
                        <div class="col-sm-8"></div>
                        <label class="col-sm-1 control-label">
                        	<span>ID:</span>
                        </label>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input style="border-color:#CCC;" class="form-control" name="id" type="text" ng-model="registro.id" value="{{ registro.id }}" disabled/>
                            </div>
                        </div>
                    </div>

                    <!-- Año y Mes -->
                    <div class="form-group" ng-class="{'has-error': (mainForm.$submitted || mainForm.registerYear.$touched) && (mainForm.registerYear.$invalid || mainForm.registerMonth.$invalid)}">
                        <label class="col-sm-2 control-label" for="registerYear">
                        	<span class="obligatorio">Año:</span>
                        	<span class="oculto"> (campo obligatorio)</span>
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" type="number" name="registerYear" id="registerYear" ng-model="registro.anyo" value="{{ registro.anyo }}" required/>
                            <span ng-show="mainForm.$submitted || mainForm.registerYear.$touched">
                                <span class="help-block" ng-show="mainForm.registerYear.$error.required">Introduce el año del registro.</span>
                            </span>
                        </div>
                        <label class="col-sm-2 control-label" for="registerMonth">
                        	<span class="obligatorio">Mes:</span>
                        	<span class="oculto"> (campo obligatorio)</span>
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" type="number" name="registerMonth" id="registerMonth" ng-model="registro.mes" placeholder="1-12" value="{{ registro.mes }}" required/>
                            <span ng-show="mainForm.$submitted || mainForm.registerMonth.$touched">
                                <span class="help-block" ng-show="mainForm.registerMonth.$error.required">Introduce el mes del registro.</span>
                            </span>
                        </div>
                    </div>

                    <!-- Valor: Número de licencias -->
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="registerNumLic">
                        	<span>Número de licencias:</span>
                        </label>
                        <div class="col-sm-6">
                            <input class="form-control" type="number" name="registerNumLic" id="registerNumLic" ng-model="registro.licencias" value="{{ registro.licencias }}"/>
                        </div>
                    </div>

                    <!-- Valor: Número de licencias accesibles -->
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="registerNumLicAcc">
                        	<span>Número de licencias accesibles:</span>
                        </label>
                        <div class="col-sm-6">
                            <input class="form-control" type="number" name="registerNumLicAcc" id="registerNumLicAcc" ng-model="registro.licenciasAccesibles" value="{{ registro.licenciasAccesibles }}"/>
                        </div>
                    </div>

                    <!-- Valor: Número de taxis eléctricos -->
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="registerNumTaxElec">
                        	<span>Numero de taxis eléctricos:</span>
                        </label>
                        <div class="col-sm-6">
                            <input class="form-control" type="number" name="registerNumTaxElec" id="registerNumTaxElec" ng-model="registro.taxisElectricos" value="{{ registro.taxisElectricos }}"/>
                        </div>
                    </div>

                    <!-- Valor: Número usos taxi  -->
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="registerNumUsTax">
                        	<span>Número de usos taxi:</span>
                        </label>
                        <div class="col-sm-6">
                            <input class="form-control" type="number" name="registerNumUsTax" id="registerNumUsTax" ng-model="registro.usosTaxi" value="{{ registro.usosTaxi }}"/>
                        </div>
                    </div>

                    <!-- Valor: Número usos taxi accesible -->
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="registerNumUsTaxAcc">
                        	<span>Número de usos taxi accesible:</span>
                        </label>
                        <div class="col-sm-6">
                            <input class="form-control" type="number" name="registerNumUsTaxAcc" id="registerNumUsTaxAcc" ng-model="registro.usosTaxiAccesible" value="{{ registro.usosTaxiAccesible }}"/>
                        </div>
                    </div>

                    <!-- Valor: Número usuarios taxi accesible -->
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="registerNumUssTaxAcc">
                        	<span>Número de usuarios taxi accesible:</span>
                        </label>
                        <div class="col-sm-6">
                            <input class="form-control" type="number" name="registerNumUssTaxAcc" id="registerNumUssTaxAcc" ng-model="registro.usuariosTaxiAccesible" value="{{ registro.usuariosTaxiAccesible }}"/>
                        </div>
                    </div>
                    
				</div>

            </div>

        </fieldset>

    </div>

</div>
</form>