<div class="row">
    <div class="col-md-12">

         <nav class="navbar navbar-default" ng-show="permisos.DET">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#buscadoresTarget">
                    <span class="sr-only">Desplegar búsqueda rápida</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="buscadoresTarget">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="number" class="form-control input-sm" ng-model="qsearch.id" placeholder="Buscar por id...">
                    </div>
                    <div class="form-group">
                        <select class="form-control input-sm" name="registerType" id="registerType" ng-model="qsearch.tipo_vehiculo" placeholder="Buscar por tipo...">
                            <option value="">Buscar por tipo</option>
                            <optgroup label="Uso privado">
                                <option value="Autobuses anteriores 2014">Autobuses anteriores 2014</option>
                                <option value="Autobuses a partir del 2014">Autobuses a partir del 2014</option>
                                <option value="Camiones">Camiones</option>
                                <option value="Ciclomotorres electricos">Ciclomotorres electricos</option>
                                <option value="Ciclomotores no electricos">Ciclomotores no electricos</option>
                                <option value="Motocicletas electricas">Motocicletas electricas</option>
                                <option value="Motocicletas no electricas">Motocicletas no electricas</option>
                                <option value="Remolques y semirremolques">Remolques y semirremolques</option>
                                <option value="Tractores">Tractores</option>
                                <option value="Turismos Diesel antes 2014">Turismos Diesel antes 2014</option>
                                <option value="Turismos Diesel a partir 2014">Turismos Diesel a partir 2014</option>
                                <option value="Turismos electricos BEV">Turismos electricos BEV</option>
                                <option value="Turismos Gasolina antes 2006">Turismos Gasolina antes 2006</option></option>
                                <option value="Turismos Gasolina a partir 2006">Turismos Gasolina a partir 2006</option>
                                <option value="Turismos GNC">Turismos GNC</option>
                                <option value="Turismos GNL">Turismos GNL</option>
                                <option value="Turismos GLP">Turismos GLP</option>
                                <option value="Turismos Hibridos HEV">Turismos Hibridos HEV</option>
                                <option value="Turismos Hibridos REEV">Turismos Hibridos REEV</option>
                                <option value="Turismos Hibridos PHEV">Turismos Hibridos PHEV</option>
                            </optgroup>
                            <optgroup label="Uso compartido">
                                <option value="Bicicletas sharing">Bicicletas sharing</option>
                                <option value="Ciclomotores sharing">Ciclomotores sharing</option>
                                <option value="Patinetes Sharing">Patinetes sharing</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control input-sm" ng-model="qsearch.anyo" placeholder="Buscar por año...">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control input-sm" ng-model="qsearch.mes" placeholder="Buscar por mes...">
                    </div>
                    <button type="submit" class="btn btn-default btn-sm" ng-click="buscar(qsearch)"><span class="fab fa-searchengin" aria-hidden="true"></span> Filtrar</button>
                </form>
            </div>
        </nav> 

    </div> 
</div>

<div class="row">
    <div class="col-md-12" class="clearfix">
        <div class="repeat-item alert alert-{{alert.type}} alert-dismissible" ng-repeat="alert in allInfos()" close="remove(alert)">{{alert.msg}}</div>
        <div role="alert" class="alert alert-info" ng-show="registros.length == 0">
            Para comenzar realiza una búsqueda o acción.
        </div>
        <div ng-show="permisos.DET && registros.length > 0">
            <div>
                <span class="margin-r2em">
                    Número de resultados: {{registros.length}} <span ng-show="totalCount > 0">de {{totalCount}}</span>
                    (Pág. {{currentPage}})
                </span>
                <span ng-show="filtrosParaListado !== undefined">
                    Filtros aplicados: <span ng-bind-html="filtrosParaListado | pintarFiltros"></span>
                </span>
                <ul style="margin-top:-15px;" class="margin-b05em navbar-right" uib-pagination boundary-links="true" total-items="totalCount" max-size="maxSizePage" ng-model="currentPage" ng-change="pageChanged()" items-per-page="itemsPerPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
            </div>

            <table class="table table-bordered table-hover table-striped table-btn nomargin">
                <thead>
                    <tr>
                        <th th-orden order="'id'" by="order" reverse="reverse">ID</th>
                        <th th-orden order="'tipo_vehiculo'" by="order" reverse="reverse">TIPO</th>
                        <th th-orden order="'anyo'" by="order" reverse="reverse">AÑO</th>
                        <th th-orden order="'mes'" by="order" reverse="reverse">MES</th>
                        <th th-orden order="'numeroVehiculos'" by="order" reverse="reverse">NÚMERO</th>
                        <th th-orden order="'lastUpdated'" by="order" reverse="reverse" class="col-md-1">ÚLTIMA MOD.</th>
                        <th ng-if="permisos.MOD" class="no-print">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="registro in registros | orderBy:order:reverse">
                        <td data-title="ID">
                            <a ng-if="permisos.MOD" href="#/edit/{{ registro.id }}">{{registro.id}}</a>
                            <span ng-if="!permisos.MOD">{{registro.id}}</span>
                        </td>
                        <td data-title="Tipo">
                            <a ng-if="permisos.MOD" href="#/edit/{{ registro.id }}">{{registro.tipo_vehiculo}}</a>
                            <span ng-if="!permisos.MOD">{{registro.tipo_vehiculo}}</span>
                        </td>
                        <td data-title="Año">
                            <a ng-if="permisos.MOD" href="#/edit/{{ registro.id }}">{{registro.anyo}}</a>
                            <span ng-if="!permisos.MOD">{{registro.anyo}}</span>
                        </td>
                        <td data-title="Mes">
                            <a ng-if="permisos.MOD" href="#/edit/{{ registro.id }}">{{registro.mes}}</a>
                            <span ng-if="!permisos.MOD">{{registro.mes}}</span>
                        </td>
                        <td data-title="Número">
                            <a ng-if="permisos.MOD" href="#/edit/{{ registro.id }}">{{registro.numeroVehiculos}}</a>
                            <span ng-if="!permisos.MOD">{{registro.numeroVehiculos}}</span>
                        </td>
                        <td data-title="Fecha Modificación"><a href="#/edit/{{ registro.id }}">{{registro.lastUpdated | date:'dd-MM-yyyy'}}</a></td>
                        <td data-title="Operaciones" ng-show="permisos.MOD" class="no-print">
                            <span ng-if="permisos.MOD">
                                <modal-registro-borrar></modal-registro-borrar>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <ul class="margin-t05em navbar-right" uib-pagination boundary-links="true" total-items="totalCount" max-size="maxSizePage" ng-model="currentPage" ng-change="pageChanged()" items-per-page="itemsPerPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
            
            <div role="alert" class="alert alert-warning spinner-tabla" ng-show="busy">
                <span class="spinner"></span> Espera por favor, se estan cargando los datos.
            </div>
        </div>

    </div> <!-- /span12 -->
</div> <!-- /row-fluid -->