<div class="row" ng-init="init()">
    <div class="col-md-12">
        <button title="Guardar" class="btn btn-default" ng-click="guardar()" ng-show="permisos.NEW">
            <span class="fa fa-save" aria-hidden="true"></span>
            <span class="sr-only">Guardar</span>
        </button>
        <a class="btn btn-default" ng-show="registro.token && permisos.MODMULTIPLE && registro.service_request_id" ng-href="/opencityext/servicio/quejas-sugerencias/{{registro.service_request_id}}/{{registro.token}}/" target="_blank">
            <span class="fa fa-bookmark" aria-hidden="true"></span>
            <span class="hidden-xs">Estado</span>
        </a>
        <boton-copiar ng-show="registro.service_request_id && !usuario.externo_ticketing"></boton-copiar>
        <a title="Informe PDF" class="btn btn-default" ng-show="(usuario.propiedades.rootcat_ticketing || permisos.PLZ) && permisos.DOC && registro.service_request_id" ng-href="/opencityext/servicio/quejas-sugerencias/{{registro.service_request_id}}/informe" target="_blank">
            <span class="fa fa-file-pdf"></span>
            <span class="sr-only">Informe</span>
        </a>
        <a title="Informe ODT" class="btn btn-default" ng-show="(usuario.propiedades.rootcat_ticketing || permisos.PLZ) && permisos.DOC && registro.service_request_id" ng-href="/opencityext/servicio/quejas-sugerencias/{{registro.service_request_id}}/odt-report" target="_blank">
            <span class="glyphicon glyphicon-list-alt"></span>
            <span class="sr-only">Informe odt</span>
        </a>
        <modal-accion accion="1" title="Resolver" icon="fa-check" ayuda="Marca la queja como resuelta, no contesta al ciudadano" ng-show="permisos.MOD && registro.service_request_id" desactivar="{{{true:'true', false:'false'}[registro.status == 'closed']}}"></modal-accion>
        <modal-accion accion="2" title="Contestar" icon="fa-envelope" ayuda="Contesta al ciudadano y cierra la queja" ng-show="permisos.CONTESTAR && registro.service_request_id" desactivar="{{{true:'true', false:'false'}[registro.email === 'anonymous@anonymous.es' || registro.email.length <= 0 || registro.status == 'closed']}}"></modal-accion>
        <a class="btn btn-default" ng-show="usuario.propiedades.sup_service_code && registro.service_request_id" ng-click="derivarAServicio()">
            <span class="glyphicon glyphicon-arrow-up"></span>
            <span class="hidden-xs">Poner categor&iacute;a padre</span>
        </a>
        <modal-accion accion="22" title="Cambiar categoría" icon="fa-arrow-right" ng-show="permisos.ADJ && registro.service_request_id"></modal-accion>
        <modal-accion accion="7" title="Derivar a web" icon="fa-arrow-left" ng-show="permisos.MOD && registro.service_request_id && usuario.propiedades.usr_ticketing!='2' && !usuario.propiedades.externo_ticketing"></modal-accion>
        <modal-accion accion="8" title="Derivar a Externo" icon="fa-arrow-right" ng-show="permisos.SENDEXTERNO && registro.service_request_id"></modal-accion>
        <modal-accion accion="11" title="Derivar a Inspector" icon="fa-address-book" ng-show="permisos.SENDINSPECTOR && registro.service_request_id"></modal-accion>
        <modal-accion accion="9" title="Informar" icon="fa-envelope" ayuda="Envia un correo al ciudadano" ng-show="permisos.CONTESTAR && permisos.MOD && registro.service_request_id" desactivar="{{{true:'true', false:'false'}[registro.email === 'anonymous@anonymous.es' || registro.email.length <= 0]}}"></modal-accion>
        <modal-accion accion="5" title="Solicitar" icon="fa-tag" ayuda="Envia un acceso temporal al usuario para que aporte informacion" ng-show="permisos.CONTESTAR && permisos.MOD && registro.service_request_id" desactivar="{{{true:'true', false:'false'}[registro.email === 'anonymous@anonymous.es' || registro.email.length <= 0]}}"></modal-accion>
        <modal-accion accion="6" title="Rechazar" icon="fas fa-ban" ayuda="Contesta al ciudadano, cierra la queja marcandola como Rechazada" ng-show="permisos.CONTESTAR && permisos.MOD && registro.service_request_id" desactivar="{{{true:'true', false:'false'}[registro.status == 'closed']}}"></modal-accion>
        <modal-accion accion="3" title="Archivar" icon="fas fa-archive" ayuda="Cierra la queja, marcandola como Archivada" ng-show="permisos.MOD && registro.service_request_id && !usuario.externo_ticketing" desactivar="{{{true:'true', false:'false'}[registro.status == 'closed']}}"></modal-accion>
        <modal-accion accion="4" title="Borrar" icon="fa-trash" ayuda="Cierra la queja, marcandola como Borrada" ng-show="permisos.DEL && registro.service_request_id"></modal-accion>
        
        <modal-accion accion="13" title="Realizada por valoraci&oacute;n" icon="fas fa-clipboard-check" ayuda="" ng-show="usuario.propiedades.externo_ticketing"></modal-accion>
        <modal-accion accion="14" title="Pendiente por valoraci&oacute;n" icon="fas fa-clipboard" ayuda="" ng-show="usuario.propiedades.externo_ticketing || permisos.SENDEXTERNO"></modal-accion>
        <modal-accion accion="21" title="Ampliar informaci&oacute;n" icon="fa-tag" ayuda="Pide al gestor municipal mas informacion" ng-show="usuario.propiedades.externo_ticketing"></modal-accion>
        <modal-accion accion="20" title="Rechazar" icon="fa-remove" ayuda="" ng-show="usuario.propiedades.externo_ticketing"></modal-accion>
        
        <boton-validacion></boton-validacion>
        <!-- Ventana modal confirmacion borrado registro -->
        <div id="modalBorrarRegistro" class="modal hide fade in" style="display: none; ">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">X</a> 
                <h3>Borrar registro</h3>
            </div>
            <div class="modal-body">
                <fieldset class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="punto.title">Nombre:</label>
                        <div class="controls">
                            <input type="text" name="punto.title" ng-model="punto.title" value="{{ punto.title }}" disabled/>
                            <input class="input-mini" name="service_request_id" type="text" ng-model="punto.service_request_id" value="{{ punto.service_request_id }}" disabled/>
                        </div>
                    </div>
                </fieldset>
                <h4>Esta a punto de borrar el registro seleccionado.</h4>
                <p>¿Desea continuar?</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-danger" data-dismiss="modal">Cancelar</a> 
                <a href="#" class="btn btn-success" data-dismiss="modal" ng-click="borrar()">Confirmar</a> 
            </div>
        </div>
        <!-- /Ventana modal confirmacion borrado registro -->

    </div>

</div>

</div>

<hr/>

<div class="row">

    <div class="col-md-12">
        <div class="repeat-item alert alert-{{alert.type}}" ng-repeat="alert in allInfos()" close="remove(alert)">{{alert.msg}}</div>
        <fieldset>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group" ng-show="categories.length>0">
	                       <label for="" class="col-sm-2 control-label" style="float:left">Categor&iacute;a:</label>
	                       <div class="col-sm-10">
                            <ui-select ng-model="category" style="width:550px;float:left" on-select="seleccionadaCategoria($item)">
								<ui-select-match class="ui-select-match" placeholder="Selecciona categoria...">
									{{$select.selected.service_name}} 
								</ui-select-match> 
								<ui-select-choices class="ui-select-choices" repeat="categoria in categories | filter: $select.search">
									<div ng-bind-html="categoria.service_name | highlight: $select.search"></div>
									<small style="font-size:70%" ng-bind-html="categoria.service_description | highlight: $select.search"></small>
								</ui-select-choices> 
							</ui-select>
							
                            <label ng-show="(permisos.CATEGORY || permisos.ADMINOPERADOR) && category.agency_responsible && category.agency_responsible.length>2" for="category.agency_responsible" class="control-label">Asignar a Colaborador:</label>
                            <input ng-show="(permisos.CATEGORY || permisos.ADMINOPERADOR) && category.agency_responsible && category.agency_responsible.length>2" type="checkbox" ng-model="tienecolaborador" id="category.agency_responsible" />
                            <span ng-show="(permisos.CATEGORY || permisos.ADMINOPERADOR) && category.agency_responsible && category.agency_responsible.length>2">
                                <input type="hidden" value="{{category.agency_responsible_code}}" name="agency_responsible_code">{{category.agency_responsible}}
                            </span>
                        </div>
                    </div>
					<div ng-show="categories.length<=0">
                    	<input  type="checkbox" ng-model="asociar_mi_cat" id="asociar_mi_cat" ng-init="asociar_mi_cat=true"/> Asociar mi categoria
                    </div>
                    <uib-tabset>
                        <uib-tab heading="Datos del registro">
                            <div class="form-inline">
                                <div class="form-group">
                                    <div class="btn-group" ng-show="registro.service_request_id" uib-dropdown>
                                        <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
                                            Control
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" style="padding: 5px; min-width: 260px;">
                                            <li>
                                                <strong>Fecha de entrada:</strong>{{registro.requested_datetime | date:'dd-MM-yyyy HH:mm'}}</li>
                                            <li>
                                                <strong>Fecha de modificaci&oacute;n:</strong>{{punto.updated_datetime | date:'dd-MM-yyyy HH:mm'}}</li>
                                            <li>
                                                <strong>Fecha recepci&oacute;n en gestor:</strong>{{registro.gestor_datetime | date:'dd-MM-yyyy HH:mm'}}</li>
                                            <li ng-show="permisos.SENDEXTERNO">
                                                <strong>Fecha derivado a externo:</strong>{{registro.externo_datetime | date:'dd-MM-yyyy HH:mm'}}</li>
                                            <li>
                                                <strong>Fecha prevista resoluci&oacute;n:</strong>{{registro.expected_resolution_datetime | date:'dd-MM-yyyy HH:mm'}}</li>
                                            <li>
                                                <strong>Fecha resoluci&oacute;n:</strong>{{registro.resolved_datetime | date:'dd-MM-yyyy HH:mm'}}</li>
                                            <li>
                                                <strong>Fecha cierre:</strong>{{registro.closed_datetime | date:'dd-MM-yyyy HH:mm'}}</li>
                                            <li ng-show="permisos.SENDINSPECTOR">
                                                <strong>Fecha derivada a interno:</strong>{{registro.inspector_datetime | date:'dd-MM-yyyy HH:mm'}}</li>
                                            <li ng-show="permisos.ADMINOPERADOR">
                                                <strong>Operador:</strong> {{registro.operator}}</li>
                                        </ul>
                                    </div>
                                    Origen 
                                    <select class="form-control" style="width:100px" data-ng-model="registro.origin" ng-options="obj.id as obj.text for obj in origin"></select>
                                    Tipo 
                                    <select class="form-control" style="width:100px" data-ng-model="registro.type" ng-options="obj.id as obj.text for obj in types"></select>
                                    <span ng-show="permisos.PUB && registro.service_request_id">
                                    	SIP
                                    	<select style="width:100px" class="form-control" data-ng-model="registro.id_cat_sip" ng-options="obj.id as obj.text for obj in catsip"></select>
                                    </span>
                                    Prioridad 
                                    <select class="form-control" data-ng-model="registro.priority" ng-options="obj.id as obj.text for obj in priority"></select>
                                    <span ng-show="categories.length==0">
                                        Categoria
                                        <strong>{{registro.service_name}}</strong>
                                    </span>
                                    <span ng-show="registro.service_request_id">
	                                    Estado
	                                    <strong>{{registro.status_admin}}</strong>{{registro.externo_name}} {{registro.inspector}}
	
	                                    <span ng-show="permisos.PUB && registro.visible">Publicada
	                                        <strong ng-show="registro.validated==='S'">Publicada</strong>
	                                        <strong ng-show="registro.validated==='N'">Pendiente</strong>
	                                        <strong ng-show="registro.validated==='R'">No Publicada</strong>
	                                    </span>
                                    </span>
                                    <span ng-show="{{registro.service_request_id === undefined}}">
                                    	Visible
                                    	<select class="form-control" type="text" ng-model="registro.public">
                                                <option value="" selected></option>
                                                <option value="S">Sí</option>
                                                <option value="N">No</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                            <div class="form-horizontal" style="margin-top:1em;">
                                <div class="form-group">
                                    <label class="col-sm-1 control-label" for="registro.title">Asunto:</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" type="text" name="registro.title" ng-model="registro.title" value="{{ registro.title }}" />
                                    </div>
                                    <div class="col-sm-2" ng-show="registro.service_request_id">
                                        <input class="form-control" name="id" type="text" ng-model="registro.service_request_id" value="{{ registro.service_request_id }}" disabled/>
                                        
                                    </div>
                                    <div class="col-sm-1" ng-show="registro.service_request_id">
                                        <a href="#" class="btn" ng-click="verRelacionadas()" title="Ver quejas relacionadas"><span class="glyphicon glyphicon-export"></span></a>
                                        
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label" for="registro.description">Descripci&oacute;n:</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" rows="8" name="registro.description" ng-model="registro.description">{{ registro.description }}</textarea>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="registro.expected_resolution_datetime">Fecha prevista de cierre:</label>
                                    <div class="col-sm-4">
				                        <div class="input-group">
				                            <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="registro.expected_resolution_datetime" is-open="datepickers.expectedRes" ng-required="true" close-text="Cerrar" current-text="Hoy" clear-text="Borrar" />
				                            <span class="input-group-btn">
				                                <button type="button" class="btn btn-default" ng-click="toggleOpenDatePicker($event,'expectedRes')">
				                                    <span class="fas fa-calendar-alt" aria-hidden="true"></span>
				                                </button>
				                            </span>
				                        </div>
				                    </div>
				                </div>
                            </div>
                        </uib-tab>
                        <!-- <uib-tabset>-->
                        <uib-tab heading="Usuario {{ registro.account_id == 3506176 && !registro.user_id ? 'No registrado' : 'Registrado' }}">
                            <div class="form-horizontal">
                            
                            	<div class="form-group" ng-show="permisos.ANSWERREQUESTED && !registro.service_request_id">
                                    <label class="col-sm-2 control-label" for="registro.answer_requested">Solicita Respuesta?</label>
                                    <div class="col-sm-10">
                                    	<input type="checkbox" name="registro.answer_requested" ng-model="registro.answer_requested" ng-true-value="'S'"  ng-false-value="'N'" />
                                    </div>
                                </div>

								<div class="form-group" ng-show="permisos.ANSWERREQUESTED && registro.service_request_id && registro.answer_requested!='N'">
                                    <label class="col-sm-2 control-label" for="registro.answer_requested">Respuesta al ciudadano realizada?</label>
                                    <div class="col-sm-10">
                                    	<input type="checkbox" name="registro.answer_requested" ng-model="registro.answer_requested" ng-true-value="'P'"  ng-false-value="'S'"/>
                                    </div>
                                </div>
                            
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="registro.first_name">Nombre y apellidos</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" name="registro.first_name" ng-model="registro.first_name" value="{{ registro.first_name }}" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="registro.email">Correo</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="email" name="registro.email" ng-model="registro.email" value="{{ registro.account_id == 3506176 ? '' : registro.email }}" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="registro.phone">Tel&eacute;fono</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" name="registro.phone" ng-model="registro.phone" value="{{ registro.account_id == 3506176 ? '' : registro.phone }}" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="registro.user_address">Direcci&oacute;n</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" name="registro.user_address" ng-model="registro.user_address" value="{{ registro.account_id == 3506176 ? '' : registro.user_address }}" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="registro.notes">Notas</label>
                                    <div class="col-sm-10">
                                        <pre>{{ registro.notes }}</pre>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading="Acciones ({{registro.actions.length}})" ng-show="registro.service_request_id">
                        	<modal-accion accion="10" title="Anotar informacion" icon="fas fa-edit" ayuda="Anota informacion relacionada" ng-show="permisos.MOD && registro.service_request_id"></modal-accion>
                            <table class="table table-striped table-condensed table-bordered">
                                <tr>
                                    <th class="col-sm-2">Fecha/hora</th>
                                    <!-- <th>Tiempo dedicado</th>-->
                                    <th class="col-sm-6">Descripci&oacute;n</th>
                                    <th class="col-sm-2">Colaborador/Ciudadano</th>
                                    <th class="col-sm-2">Tipo de Acci&oacute;n</th>
                                </tr>
                                <tr ng-repeat="action in registro.actions">
                                    <td>{{action.creation_date | date:'dd-MM-yyyy HH:mm'}}</td>
                                    <!-- <td>{{action.elapsed_time}}</td> -->
                                    <td>{{action.description}}</td>
                                    <td>{{action.agency_responsible ? action.agency_responsible : action.agent_name }} <span ng-show="usuario.propiedades.usr_ticketing=='2' || (usuario.propiedades.usr_ticketing == action.agent_id && action.operator != usuario.login)" class="badge">{{action.operator}}</span></td>
                                    <td>{{action.type_name}}</td>
                                </tr>
                            </table>

                        </uib-tab>
                        <uib-tab heading="Cita" ng-show="cita">
                        	<dl class="dl-horizontal">
                        	<dt>Fecha:</dt><dd>{{cita.fecha | date:'dd-MM-yyyy'}} {{cita.hora}}</dd>
                        	<dt>Persona:</dt><dd>{{cita.nombre}} NIF: {{cita.nif}}</dd>
                        	<dt>Motivo:</dt><dd>{{cita.motivo}}</dd>
                        	<dt>Datos:</dt><dd>{{cita.observacionesCita}}</dd>
                        	</dl>
                        </uib-tab>
                        <uib-tab heading="Adjuntos ({{registro.files.length}})" ng-show="registro.service_request_id">
                            <ul>
                                <li ng-repeat="file in registro.files">
                                    <a href="{{file.media_url}}" target="_blank">{{file.description}}</a>
                                </li>
                            </ul>
                            <input class="form-control" id="ficheros_Adj" type="file" file-upload multiple />
                            <ul id="listaUpload">
                                <li ng-repeat="file in files track by $index">{{file.name}}</li>
                            </ul>
                            <boton-subir-fichero></boton-subir-fichero>
                        </uib-tab>
                        <uib-tab heading="Localizaci&oacute;n" select="$broadcast('invalida');">

                            <div class="row-fluid">
                                <div class="span12">
                                    <form class="form-inline">{{registro.address_string}}
                                        <label class="control-label" for="registro.long">registro longitud:</label>
                                        <input class="input-small" type="text" name="registro.long" ng-model="registro.long" value="{{ registro.long }}" />
                                        <label class="control-label" for="registro.lat">registro latitud:</label>
                                        <input class="input-small" type="text" name="registro.lat" ng-model="registro.lat" value="{{ registro.lat }}" />
                                    </form>
                                    <div ng-show="mismaLocalizacion && mismaLocalizacion.totalCount > 1">
	                                    <table class="table table-bordered table-hover table-btn">
	                                    <caption>&Uacute;ltimas quejas en la misma localizaci&oacute;n</caption>
	                                    <tr><th>Fecha</th><th>Queja</th><th>Estado</th><th>Categoria</th><tr>
	                                    <tr ng-repeat="dato in mismaLocalizacion" ng-class="dato.status_admin.toLowerCase().replace(' ','')">
	                                    <td><a href="#/edit/{{ registro.service_request_id }}" target="_blank">{{dato.requested_datetime | date:'dd-MM-yyyy HH:mm'}}</a></td>
	                                    <td data-title="Asunto"><a href="#/edit/{{ dato.service_request_id }}" target="_blank">{{dato.title}}</a></td>
			                        	<td data-title="Estado"><a href="#/edit/{{ dato.service_request_id }}" target="_blank">{{dato.status_admin}}</a></td>
	        			                <td data-title="Categoria"><a href="#/edit/{{ dato.service_request_id }}" target="_blank">{{dato.service_name}}</a></td>
	        			                </tr>
	                                    </table>
	                                    <p><a href="#" class="btn" ng-click="verDeLocalizacion()" ng-show="mismaLocalizacion.totalCount>=5">Ver m&aacute;s quejas en esta localizaci&oacute;n</a></p>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="row-fluid">
                                <div class="span12">
                                    <portal registro="registro" buscador="S" mapa="S" latlong="S"></portal>

                                </div>
                            </div>

                        </uib-tab>
                    </uib-tabset>
                </div>

            </div>

        </fieldset>

    </div>

</div>
