<div class="row">
    <div class="col-md-12">
<!--         <alert class="repeat-item" ng-repeat="alert in allInfos()" type="alert.type" close="remove(alert)">{{alert.msg}}</alert> -->
        <span ng-show="query.start_date">Inicio:
            <strong>{{query.start_date | date:'dd-MM-yyyy'}}</strong>
        </span>
        <span ng-show="query.end_date">Fin:
            <strong>{{query.end_date | date:'dd-MM-yyyy'}}</strong>
        </span>

		<button ng-click="porCategoria()" class="btn btn-link" style="clear:both;display:block">Totales por Categoria</button>
		<div class="col-md-4"  ng-show="resultado">
			<table class="table table-striped table-condensed table-bordered">
				<tr>
					<th>Categor&iacute;a</th>
					<th>Total</th>
				</tr>
				<tr ng-repeat="dato in resultado">
					<td>{{dato.title}}</td>
					<td>{{dato.total}}</td>
				</tr>
			</table>
		</div>


		<button ng-click="estadisticaCategoria()" class="btn btn-link" style="clear:both;display:block">Datos Generales</button>
        <div ng-repeat="dato in registros | filter:{id:1}:true">
            Total: {{dato.total}} Resueltas: {{dato.resueltas}} Abiertas de m&aacute;s de 1 a&ntilde;o: {{dato.pendientes_mas_1y}}

            <div class="row">
                <div class="col-md-3" ng-show="dato.barrio_resuelta">
                    <table class="table table-striped table-condensed table-bordered">
                        <tr>
                            <th>Junta</th>
                            <th title="Cerrada o resuelta">Resueltas</th>
                        </tr>
                        <tr ng-repeat="ob in dato.barrio_resuelta">
                            <td>{{ob.nombre}}</td>
                            <td>{{ob.numero}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-3" ng-show="dato.barrio_pendiente">
                    <table class="table table-striped table-condensed table-bordered">
                        <tr>
                            <th>Junta</th>
                            <th title="No asignada, pendiente, derivada a externo, solicitada informacion">Abiertas</th>
                        </tr>
                        <tr ng-repeat="ob in dato.barrio_pendiente">
                            <td>{{ob.nombre}}</td>
                            <td>{{ob.numero}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-3" ng-show="dato.entidad_pendiente">
                    <table class="table table-striped table-condensed table-bordered">
                        <tr>
                            <th>Entidad Externa</th>
                            <th>Pendientes</th>
                        </tr>
                        <tr ng-repeat="ob in dato.entidad_pendiente">
                            <td>{{ob.nombre}}</td>
                            <td>{{ob.numero}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-3" ng-show="dato.entidad_resuelta">
                    <table class="table table-striped table-condensed table-bordered">
                        <tr>
                            <th>Entidad Externa</th>
                            <th title="Cerrada o resuelta">Resueltas</th>
                        </tr>
                        <tr ng-repeat="ob in dato.entidad_resuelta">
                            <td>{{ob.nombre}}</td>
                            <td>{{ob.numero}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div ng-repeat="obj in categories">
            <button ng-click="estadisticaCategoria(obj.service_code)" class="btn btn-link">{{obj.service_name}}</button>
            <div ng-repeat="dato in registros  | filter:{id:obj.service_code}:true">
                Total: {{dato.total}} Resueltas: {{dato.resueltas}} Pendiente de m&aacute;s de 1 a&ntilde;o: {{dato.pendientes_mas_1y}}
                <div class="row">
                    <div class="col-md-3" ng-show="dato.barrio_resuelta">
                        <table class="table table-striped table-condensed table-bordered">
                            <tr>
                                <th>Junta</th>
                                <th title="Cerrada o resuelta">Cerradas</th>
                            </tr>
                            <tr ng-repeat="ob in dato.barrio_resuelta">
                                <td>{{ob.nombre}}</td>
                                <td>{{ob.numero}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-3" ng-show="dato.barrio_pendiente">
                        <table class="table table-striped table-condensed table-bordered">
                            <tr>
                                <th>Junta</th>
                                <th title="No asignada, pendiente, derivada a externo, solicitada informacion">Abiertas</th>
                            </tr>
                            <tr ng-repeat="ob in dato.barrio_pendiente">
                                <td>{{ob.nombre}}</td>
                                <td>{{ob.numero}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-3" ng-show="dato.entidad_pendiente">
                        <table class="table table-striped table-condensed table-bordered">
                            <tr>
                                <th>Entidad Externa</th>
                                <th>Pendientes</th>
                            </tr>
                            <tr ng-repeat="ob in dato.entidad_pendiente">
                                <td>{{ob.nombre}}</td>
                                <td>{{ob.numero}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-3" ng-show="dato.entidad_resuelta">
                        <table class="table table-striped table-condensed table-bordered">
                            <tr>
                                <th>Entidad Externa</th>
                                <th title="Cerrada o resuelta">Resueltas</th>
                            </tr>
                            <tr ng-repeat="ob in dato.entidad_resuelta">
                                <td>{{ob.nombre}}</td>
                                <td>{{ob.numero}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>