<div class="modal-header">
    <h3 class="modal-title">Recortado de Imagen</h3>
</div>
<div class="modal-body">
    <div class="cropArea">
        <img-crop area-type="rectangle" image="imageCrop.originalImage" result-image="imageCrop.croppedImage" result-image-format="'image/png'" area-min-size="imgSize" result-image-size="imgSize"></img-crop>
    </div>
    <!-- <div>{{imageCrop.originalImage}}</div> -->
    <!-- <div>{{imageCrop.croppedImage}}</div> -->
    <!-- <div>{{imgSize}}</div> -->
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="aceptarImagen()">OK</button>
    <button type="button" class="btn btn-warning" ng-click="cancelarModal()">Cancelar</button>
</div>
