<div id="modalBorrar">
    <div class="modal-header">
        <!-- <button type="button" class="close formReset" data-dismiss="modal">×</button> -->
        <h3>Localización de {{title}}</h3>
    </div>
    <div class="modal-body">
        <portal registro="registro" buscador="N" mapa="S"></portal>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="cerrar()">Cerrar Visualizací&oacute;n</button>
        <!-- <button class="btn btn-warning" ng-click="cancelar()">Cancelar</button>  -->
    </div>
</div>