<h3>Banco de Actividades > Cat&aacute;logo > Edici&oacute;n de actividad</h3>

<button class="btn btn-primary btn-sm" ng-click="crearActividad()" ng-show="permisos.NEW">
    <span class="fa fa-pencil" aria-hidden="true"></span>
    <span class="hidden-xs">Nueva actividad</span>
</button>

<button class="btn btn-primary btn-sm" ng-click="listarActividades()" ng-show="permisos.DET">
    <span class="fa fa-list" aria-hidden="true"></span>
    <span class="hidden-xs">Listado actividades</span>
</button>
    
<hr/>

<div class="inform repeat-item alert alert-{{alert.type}}" ng-repeat="alert in allInfos()" close="remove(alert)">{{alert.msg}}</div>
<form novalidate name="mainForm" ng-submit="mainForm.$valid && guardar()">
	<div class="row">
	
	    <div class="col-md-12 form-group">
			<button type="submit" class="btn btn-default" ng-show="permisos.MOD">
				<span class="fa fa-check" aria-hidden="true"></span> 
				<span class="hidden-xs"> Guardar</span>
			</button>
	        <modal-banco-borrar recurso="evento/admin/banco"></modal-banco-borrar>
	        <boton-banco-visibilidad></boton-banco-visibilidad>
			<boton-debug ng-model="registro" ng-show="debug"></boton-debug>
	        <span ng-show="registro.published === 'N'" class="alert alert-warning destacado">
	            <span ng-show="registro.published === 'N'">Pendiente de publicación.</span>
	        </span>
                  <button type="button" class="btn btn-default" ng-click="cargarFicha(registro.id)" ng-disabled="location === '/activities/new'">
                  	<span class="fa fa-globe" aria-hidden="true"></span> 
                  	<span class="hidden-xs"> Ver ficha</span>
                  </button>
	    </div>
	    
	</div>

	<div class="alert alert-danger" ng-show="mainForm.$submitted && mainForm.$invalid">
		<ul>
			<li ng-repeat="(key, errors) in mainForm.$error track by $index"> 
				<!-- Errores: <strong>{{ key }}</strong> -->
				<div ng-if="key === 'required'">
					<strong>Faltan campos por completar:</strong>
					<ul>
						<li ng-repeat="e in errors">El campo <em>{{ e.$name }}</em> es obligatorio.</li>
					</ul>	
				</div>
				<div ng-if="key !== 'required'">
					<ul>
						<li ng-repeat="e in errors">El campo <em>{{ e.$name }}</em> tiene un error: <strong>{{ key }}</strong>.</li>
					</ul>	
				</div>
			</li>
		</ul>
	</div>

<div class="row">

    <div class="col-md-12">

        <fieldset>
            <legend>Datos de la Actividad 
            	<span ng-show="debug">[mainFormValid:<strong ng-class="{'text-success': mainForm.$valid, 'text-danger': !mainForm.$valid}">{{mainForm.$valid}}</strong>]</span>
            </legend>

		    <div class="row">
		        <div class="col-md-8 form-horizontal">
	                <div class="form-group" ng-class="{'has-error': (mainForm.$submitted || mainForm.titulo.$touched) && mainForm.titulo.$invalid}">
	                    <label class="col-sm-2 control-label" for="titulo">
	                    	<span class="obligatorio">T&iacute;tulo:</span>
	                    	<span class="oculto"> (campo obligatorio)</span>
	                    </label>
	                    <div class="col-sm-7 col-md-8">
	                        <input class="form-control" type="text" name="Título" id="titulo" ng-model="registro.title" required/>
	                        <span ng-show="mainForm.$submitted || mainForm.titulo.$touched">
	                            <span class="help-block" ng-show="mainForm.titulo.$error.required">Introduce el nombre de la actividad.</span>
	                        </span>
	                    </div>
	                    <div class="col-sm-3 col-md-2">
	                        <input style="border-color:#CCC;" class="form-control" name="id" type="text" ng-model="registro.id" disabled/>
	                    </div>
	                </div>
		            <div class="form-group">
		                <label class="col-sm-2 control-label" for="descripcion">Descripci&oacute;n:</label>
		                <div class="col-sm-10">
		                    <textarea ck-editor-new id="descripcion" name="descripcion" ng-model="registro.description"></textarea>
		                </div>
		            </div>
		        </div>
		        <div class="col-md-4">
		            <div class="panel panel-default">
		                <div class="panel-heading">
		                    <strong>Solicitudes concedidas: {{solicitudesConcedidas.totalCount}}</strong>
		                </div>
		                <ul class="list-group overflow-y" style="height:220px;">
		                    <li class="list-group-item" ng-repeat="solicitud in solicitudesConcedidas">
		                        <a target="_blank" title="Abrir en pestaña nueva" ng-href="/sede/servicio/cultura/evento/admin/banco/#/requests/edit/{{solicitud.id}}">[{{solicitud.id}}] {{solicitud.nombreSolicitante}}</a>
		                    </li>
		                </ul>
		            </div>
		        </div>
		    </div>
			
		    <div class="row">
		        <div class="col-md-8 form-horizontal">
		            <div class="form-group">
		                <label class="col-sm-2 control-label" for="anexoImagen">Imagen:</label>
		                <div class="col-sm-10">
		                    <input class="form-control" type="file" name="anexoImagen" id="anexoImagen" accept="image/*" 
		                    	img-cut img-cut-result-image="imageShown" img-cut-result-files="registro.file_array" img-cut-size="480x320" 
		                    	ng-model="registro.image"/>
		                    <em>{{registro.image.split('/').pop()}}</em>
							<div>Mínimo 480px ancho, 320px alto </div>
		                </div>
		            </div>
		        </div>
		        <div class="col-md-4">
		            <img ng-show="registro.image && !imageShown" ng-src="{{registro.image}}" width="160" />
		            <img ng-if="imageShown" ng-src="{{imageShown}}" width="160" />
		            
		            <button ng-if="registro.image || imageShown" type="button" class="btn btn-default btn-xs" ng-click="clearThumbs();"><span class="glyphicon glyphicon-trash"></span> Eliminar</button>
		            <span ng-show="debug">
		                <div><span class="badge">image</span>{{registro.image}}</div>
		            </span>
		        </div>
		    </div>
		    
		    <div class="row">
		        <div class="col-md-8 form-horizontal">
			    	<div class="form-group" ng-class="{'has-error': (mainForm.$submitted || mainForm.scope.$touched) && mainForm.scope.$invalid}">
						<label class="col-sm-2 control-label" for="scope">
							<span class="obligatorio">&Aacute;mbito:</span>
	                 		<span class="oculto"> (campo obligatorio)</span>
							<span ng-show="debug">{{registro.scope}}</span>
						</label>
						<div class="col-sm-10">
							<select class="form-control" id="scope" name="Ámbito" ng-model="registro.scope" ng-options="scope as (scope.title + ' (' + scope.description + ')') for scope in scopes track by scope.id" required></select>
							<span ng-show="mainForm.$submitted || mainForm.scope.$touched">
	                        	<span class="help-block" ng-show="mainForm.scope.$error.required">Introduce el &aacute;mbito de la actividad.</span>
	                    	</span>	
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-12">
				<uib-tabset>
  					<uib-tab heading="Tipo de actividad">
    						
					    <div class="row">
					        <div class="col-md-12 form-horizontal">
			                    <div class="form-group">
			                        <label class="col-sm-3 control-label" for="durationType">
			                        	<span class="obligatorio">Duraci&oacute;n: <span ng-show="debug">{{registro.durationType}}</span></span>
		                        	</label>
			                        <div class="col-sm-9">
			                            <select class="form-control" id="durationType" ng-model="registro.durationType" 
			                            	ng-options="tipo for tipo in tiposDuracion" name="Duración" required>
		                            	</select>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                    	<label class="col-sm-3" control-label></label>
			                        <div class="col-sm-9">
			                            <div class="row" ng-if="registro.durationType === 'Curso escolar'">
			                                <div class="col-sm-6">
			                                    <div class="form-group">
			                                        <label class="col-sm-8 control-label" for="maxHoursPerSession">Máx. horas por sesión:</label>
			                                        <div class="col-sm-4">
			                                            <input class="form-control" name="maxHoursPerSession" id="maxHoursPerSession" type="number" min="0"  ng-model="registro.maxHoursPerSession"/>
			                                        </div>
			                                    </div>
			                                </div>
			                                <div class="col-sm-6">
			                                    <div class="form-group">
			                                        <label class="col-sm-8 control-label" for="maxSessionsPerWeek">Máx. sesiones por semana:</label>
			                                        <div class="col-sm-4">
			                                            <input class="form-control" name="maxSessionsPerWeek" id="maxSessionsPerWeek" type="number" min="0" ng-model="registro.maxSessionsPerWeek"/>
			                                        </div>
			                                    </div>
			                                </div>
			                            </div>
			                            <div class="row" ng-if="registro.durationType === 'Corta duraci\u00F3n'">
			                                <div class="col-sm-6">
			                                    <div class="form-group">
			                                        <label class="col-sm-8 control-label" for="totalHours">Total horas:</label>
			                                        <div class="col-sm-4">
			                                            <input class="form-control" name="totalHours" id="totalHours" type="number" min="0" ng-model="registro.totalHours"/>
			                                        </div>
			                                    </div>
			                                </div>
			                                <div class="col-sm-6">
			                                    <div class="form-group">
			                                        <label class="col-sm-8 control-label" for="maxSessions">Máx. sesiones:</label>
			                                        <div class="col-sm-4">
			                                            <input class="form-control" name="maxSessions" id="maxSessions" type="number" min="0" ng-model="registro.maxSessions"/>
			                                        </div>
			                                    </div>
			                                </div>
			                            </div>
			                            <div class="row" ng-if="registro.durationType === 'Excursi\u00F3n'">
			                                <div class="col-sm-6">
			                                    <div class="form-group">
			                                        <label class="col-sm-8 control-label" for="totalHours">Duración (horas):</label>
			                                        <div class="col-sm-4">
			                                            <input class="form-control" name="totalHours" id="totalHours" type="number" min="0" ng-model="registro.totalHours"/>
			                                        </div>
			                                    </div>
			                                </div>
			                                <div class="col-sm-6">
			                                    <div class="form-group">
			                                        <label class="col-sm-8 control-label" for="transportNeeded">Transporte necesario:</label>
			                                        <div class="col-sm-4">
			                                            <input name="transportNeeded" id="transportNeeded" type="checkbox" ng-model="registro.transportNeeded"/>
			                                        </div>
			                                    </div>
			                                </div>
			                                <div class="col-sm-12" ng-if="registro.transportNeeded">
			                                    <div class="form-group">
			                                        <label class="col-sm-4 control-label" for="transportDescription">Descripción transporte:</label>
			                                        <div class="col-sm-8">
			                                            <textarea ck-editor-new id="transportDescription" name="transportDescription" ng-model="registro.transportDescription"></textarea>
			                                        </div>
			                                    </div>
			                                </div>
			                            </div>
			                            <div class="row" ng-if="registro.durationType === 'Actividad vacacional'">
			                                <div class="col-sm-6">
			                                    <div class="form-group">
			                                        <label class="col-sm-8 control-label" for="totalHours">Total horas:</label>
			                                        <div class="col-sm-4">
			                                            <input class="form-control" name="totalHours" id="totalHours" type="number" min="0" ng-model="registro.totalHours"/>
			                                        </div>
			                                    </div>
			                                </div>
			                                <div class="col-sm-6">
			                                    <div class="form-group">
			                                        <label class="col-sm-8 control-label" for="maxSessions">Máx. sesiones:</label>
			                                        <div class="col-sm-4">
			                                            <input class="form-control" name="maxSessions" id="maxSessions" type="number" min="0" ng-model="registro.maxSessions"/>
			                                        </div>
			                                    </div>
			                                </div>
			                                <div class="col-sm-12">
				                                <div class="form-group">
				                                    <label class="col-sm-4 control-label" for="comments">Observaciones:</label>
				                                    <div class="col-sm-8">
				                                        <textarea ck-editor-new id="comments" name="comments" ng-model="registro.comments"></textarea>
				                                    </div>
				                                </div>
			                                </div>
			                            </div>
			                        </div>
			                    </div>
			                    
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="accessible">Sin barreras arquitect&oacute;nicas:</label>
                                    <div class="col-sm-9">
                                        <input name="accessible" id="accessible" type="checkbox" ng-model="registro.accessible"/>
                                    </div>
                                </div>
			                    
							</div>
					    </div>
					    
   					</uib-tab>
   					<uib-tab heading="Calendario y horario">
    						
<!-- 					    <div class="row"> -->
<!-- 					        <div class="col-md-12 form-horizontal"> -->
<!-- 			                    <div class="form-group"> -->
<!-- 			                        <label class="col-sm-3 control-label">Calendario:</label> -->
<!-- 			                        <div class="col-sm-9"> -->
<!-- 										<select multiple class="form-control" id="meses" name="meses" ng-model="selection.months"  -->
<!-- 											ng-options="mes.id as mes.title for mes in meses" style="height: 220px;"></select> -->
<!-- 			                        </div> -->
<!-- 			                    </div> -->
<!-- 			                </div> -->
<!-- 						</div> -->
			
					    <div class="row">
					        <div class="col-md-12 form-horizontal">
			                    <div class="form-group">
			                        <label class="col-sm-3 control-label">Calendario:</label>
			                        <div class="col-sm-9" style="padding-left:0;">
			                        	<label class="col-sm-3" ng-repeat="mes in meses">
			                        		<input type="checkbox" name="selectedMonths" value="{{mes.id}}" ng-checked="registro.months.indexOf(mes.id) > -1"/>
			                        		{{ mes.title }}
			                        	</label>
			                        </div>
			                    </div>
			                </div>
						</div>
			
					    <div class="row">
					        <div class="col-md-12 form-horizontal">
			                    <div class="form-group">
			                        <label class="col-sm-3 control-label">Horario:</label>
			                        <div class="col-sm-9">
			                            <div class="form-group">
			                                <label class="col-sm-12" for="normalizedTime">
			                                	<input name="normalizedTime" id="normalizedTime" type="checkbox" ng-model="registro.normalizedTime"/>
			                                	Horario normalizado (lunes a sábado hasta las 22h)
			                               	</label>
			                                <label class="col-sm-12" for="nightTime">
			                                	<input name="nightTime" id="nightTime" type="checkbox" ng-model="registro.nightTime"/>
			                                	Horario nocturno (viernes y sábados a partir de las 22h)
			                                </label>
			                                <label class="col-sm-12" for="holidayTime">
			                                	<input name="holidayTime" id="holidayTime" type="checkbox" ng-model="registro.holidayTime"/>
			                                	Horario festivo (festivos a cualquier hora)
			                                </label>
			                            </div>
			                        </div>
			                    </div>
			                </div>
			            </div>
			
   					</uib-tab>
   					
   					<uib-tab heading="Requisitos">
   					
                        <div class="row">
					        <div class="col-md-12 form-horizontal">
	                            <div class="col-sm-6">
	                                <div class="form-group">
	                                    <label class="col-sm-8 control-label" for="minParticipants">Número mínimo de participantes:</label>
	                                    <div class="col-sm-4">
	                                        <input class="form-control" name="minParticipants" id="minParticipants" type="number" ng-model="registro.minParticipants"/>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="col-sm-6">
	                                <div class="form-group">
	                                    <label class="col-sm-8 control-label" for="minParticipants">Edad mínima:</label>
	                                    <div class="col-sm-4">
	                                        <input class="form-control" name="minAge" id="minAge" type="number" ng-model="registro.minAge"/>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="col-sm-6">
	                                <div class="form-group">
	                                    <label class="col-sm-8 control-label" for="maxParticipants">Número máximo de participantes:</label>
	                                    <div class="col-sm-4">
	                                        <input class="form-control" name="maxParticipants" id="maxParticipants" type="number" ng-model="registro.maxParticipants"/>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="col-sm-6">
	                                <div class="form-group">
	                                    <label class="col-sm-8 control-label" for="maxAge">Edad máxima:</label>
	                                    <div class="col-sm-4">
	                                        <input class="form-control" name="maxAge" id="maxAge" type="number" ng-model="registro.maxAge"/>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="col-sm-6">
	                                <div class="form-group">
	                                    <label class="col-sm-8 control-label" for="infrastructureNeeded">Infraestructura necesaria:</label>
	                                    <div class="col-sm-4">
	                                        <input name="infrastructureNeeded" id="infrastructureNeeded" type="checkbox" ng-model="registro.infrastructureNeeded"/>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="col-sm-12" ng-if="registro.infrastructureNeeded">
	                                <div class="form-group">
	                                    <label class="col-sm-4 control-label" for="infrastructureDescription">Descripción infraestructura:</label>
	                                    <div class="col-sm-8">
	                                        <textarea ck-editor-new id="infrastructureDescription" name="infrastructureDescription" ng-model="registro.infrastructureDescription"></textarea>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
                        </div>
    						
   				   	</uib-tab>
   					
   					<uib-tab heading="Coste">
   					
					    <div class="row">
					        <div class="form-horizontal">
			                    <div class="form-group">
			                        <label class="col-sm-3 control-label">Coste actividad:</label>
			                        <div class="col-sm-6">
			                            <div class="col-sm-12 form-group">
		                                	<label class="col-sm-8" for="priceTypeHour">
			                                	<input id="priceTypeHour" name="priceType" ng-value="'hourPrice'" type="radio" ng-model="selection.priceType"/>
			                                	Precio por hora
		                                	</label>
		                                	<div class="col-sm-4 input-group">
		                                		<input class="form-control" id="hourPrice" name="Precio por hora" type="number" min="0" step="0.01" ng-model="registro.hourPrice" ng-disabled="selection.priceType !== 'hourPrice'"/>
		                                		<div class="input-group-btn">
		                                			<a class="btn btn-default disabled">€</a>
		                                		</div>
		                                	</div>
		                               	</div>
			                            <div class="col-sm-12 form-group">
			                                <label class="col-sm-8" for="priceTypeTotal">
			                                	<input id="priceTypeTotal" name="priceType" ng-value="'totalPrice'" type="radio" ng-model="selection.priceType"/>
			                                	Precio total
			                                </label>
		                                	<div class="col-sm-4 input-group">
		                                		<input class="form-control" id="totalPrice" name="Precio total" type="number" min="0" step="0.01" ng-model="registro.totalPrice" ng-disabled="selection.priceType !== 'totalPrice'"/>
		                                		<div class="input-group-btn">
		                                			<a class="btn btn-default disabled">€</a>
		                                		</div>
		                                	</div>
		                                </div>
		                                <div class="col-sm-12 form-group">
			                                <label class="col-sm-8" for="priceTypeParticipant">
			                                	<input id="priceTypeParticipant" name="priceType" ng-value="'participantPrice'" type="radio" ng-model="selection.priceType"/>
			                                	Precio por participante finalizado
			                                </label>
		                                	<div class="col-sm-4 input-group">
		                                		<input class="form-control" id="participantPrice" name="Precio por participante finalizado" type="number" min="0" step="0.01" ng-model="registro.participantPrice" ng-disabled="selection.priceType !== 'participantPrice'"/>
		                                		<div class="input-group-btn">
		                                			<a class="btn btn-default disabled">€</a>
		                                		</div>
		                                	</div>
			                            </div>
			                        </div>
   								</div>
			                    <div class="form-group">
			                        <label class="col-sm-3 control-label">Coste material fungible:</label>
			                        <div class="col-sm-2">
			                        	<div class="input-group">
	                                		<input class="form-control" type="number" name="Coste material fungible" min="0" step="0.01" ng-model="registro.materialPrice"/>
	                                		<div class="input-group-btn">
			                                	<a class="btn btn-default disabled">€</a>
	                                		</div>
                                		</div>
			                        </div>
			                        <div class="col-sm-5">
                                		<input class="form-control" type="text" ng-model="registro.materialText" placeholder="(por sesión, por participante...)"/>
			                        </div>
		                        </div>
			                    <div class="form-group">
			                        <label class="col-sm-3 control-label">Porcentaje subvención:</label>
			                        <div class="col-sm-2">
			                        	<div class="input-group">
	                                		<input class="form-control" name="Porcentaje subvención" type="number" ng-model="registro.fundingPercentage"/>
	                                		<div class="input-group-btn">
	                                			<a class="btn btn-default disabled">%</a>
	                                		</div>
                                		</div>
			                        </div>
		                        </div>
							</div>
						</div>
   					
   					</uib-tab>
 				
   					<uib-tab heading="Entidad y monitores">
    						
			            <div class="row">
					        <div class="col-md-8 form-horizontal">
			                    <div class="form-group">
			                        <label class="col-sm-3 control-label" for="entidadOfertante">
			                        	<span class="obligatorio">Entidad ofertante:</span>
				                 		<span class="oculto"> (campo obligatorio)</span>
				                 	</label>
			                        <div class="col-sm-9">
			                            <autocompletado autocomplete="off" id="entidadOfertante" modelo="entidadOfertante" ng-show="registro.entity == null"
			                            	uri="/sede/servicio/cultura/evento/admin/banco/entidad/list" filtro="title" name="Entidad ofertante"
			                            	check="registro.entity = entidadOfertante" placeholder="Buscar entidad ofertante..."
			                            	ng-required="registro.entity == null"></autocompletado>
					                    <table class="table table-striped table-condensed table-bordered table-btn" ng-show="registro.entity != null">
					                        <thead>
					                            <tr>
					                                <th>ID</th>
					                                <th>Nombre</th>
					                                <th>Tipo IVA</th>
					                                <th>Operaciones</th>
					                            </tr>
					                        </thead>
					                        <tbody>
					                            <tr>
					                                <td>{{registro.entity.id}}</td>
					                                <td>
					                                    {{registro.entity.title}}
					                                    <a class="btn btn-xs" href="/sede/servicio/cultura/evento/admin/banco/#/entities/edit/{{registro.entity.id}}" target="_blank" title="Abrir en pestaña nueva"><span class="glyphicon glyphicon-export"></span></a>
					                                </td>
					                                <td>{{ registro.entity.vatPercentage ? registro.entity.vatPercentage + ' %' : 'Sin IVA' }}</td>
					                                <td><button type="button" class="btn btn-default btn-xs" ng-click="registro.entity = null;entidadOfertante=null;"><span class="glyphicon glyphicon-trash"></span> Eliminar</button></td>
					                            </tr>
					                        </tbody>
					                    </table>
			                        </div>
			                    </div>
			                </div>
			   		        <div class="col-md-4">
			                    <div class="form-group">
			                        <label for="monitores">
			                        	<span class="obligatorio">Asignar monitor(es):</span>
				                 		<span class="oculto"> (campo obligatorio)</span>
			                        </label>
			                        <div>
			                            <autocompletado autocomplete="off" id="monitores" modelo="monitorSeleccionado" uri="/sede/servicio/cultura/evento/admin/banco/monitor/list"
			                             filtro="title" fiql="" check="seleccionarMonitor(monitorSeleccionado); monitorSeleccionado=''" placeholder="Buscar monitor..."
			                             name="Monitor(es)" ng-required="registro.monitors === undefined"></autocompletado>
			                        </div>
			                    </div>
					            <div class="panel panel-default" ng-show="registro.monitors.length > 0">
					                <div class="panel-heading">
					                    <strong>Monitores asignados: {{registro.monitors.length}}</strong>
					                </div>
					                <table class="table table-striped table-condensed table-bordered table-btn">
				                        <thead>
				                            <tr>
				                                <th>ID</th>
				                                <th>Nombre</th>
				                                <th>Operaciones</th>
				                            </tr>
				                        </thead>
				                        <tbody>
				                            <tr ng-repeat="monitor in registro.monitors">
				                                <td>{{monitor.id}}</td>
				                                <td>
				                                    {{monitor.title}}
				                                    <a class="btn btn-xs" href="/sede/servicio/cultura/evento/admin/banco/#/monitors/edit/{{monitor.id}}" target="_blank" title="Abrir en pestaña nueva"><span class="glyphicon glyphicon-export"></span></a>
				                                </td>
				                                <td><button type="button" class="btn btn-default btn-xs" ng-click="eliminarMonitor($index);"><span class="glyphicon glyphicon-trash"></span> Eliminar</button></td>
				                            </tr>
				                        </tbody>
				                    </table>
					            </div>
					        </div>
					        
				        </div>
            
   				   	</uib-tab>
   					
 				</uib-tabset>
            
            </div>


        </fieldset>

    </div>

</div>
</form>