<h3>Banco de Actividades > Cat&aacute;logo > Factura</h3>

<button class="btn btn-primary btn-sm" ng-click="listarFacturas()" ng-show="permisos.DET">
    <span class="fa fa-list" aria-hidden="true"></span>
    <span class="hidden-xs">Listado facturas</span>
</button>
    
<hr/>

<div class="inform repeat-item alert alert-{{alert.type}}" ng-repeat="alert in allInfos()" close="remove(alert)">{{alert.msg}}</div>
<form novalidate name="mainForm" ng-submit="mainForm.$valid && guardar()">

	<div class="row">
	    <div class="col-md-12 form-group">
			<button type="submit" class="btn btn-default" ng-show="permisos.MOD">
				<span class="fa fa-check" aria-hidden="true"></span> 
				<span class="hidden-xs"> Guardar</span>
			</button>
	        <modal-banco-borrar recurso="evento/admin/banco/factura"></modal-banco-borrar>
			<boton-debug ng-model="registro" ng-show="debug"></boton-debug>
	    </div>
	    
	</div>

	<div class="alert alert-danger" ng-show="mainForm.$submitted && mainForm.$invalid">
		<ul>
			<li ng-repeat="(key, errors) in mainForm.$error track by $index"> 
				<!-- Errores: <strong>{{ key }}</strong> -->
				<div ng-if="key === 'required'">
					<strong>Faltan campos por completar:</strong>
					<ul>
						<li ng-repeat="e in errors">El campo <em>{{ e.$name }}</em> es obligatorio.</li>
					</ul>	
				</div>
				<div ng-if="key !== 'required'">
					<ul>
						<li ng-repeat="e in errors">El campo <em>{{ e.$name }}</em> tiene un error: <strong>{{ key }}</strong>.</li>
					</ul>	
				</div>
			</li>
		</ul>
	</div>

<div class="row">

    <div class="col-md-12">

        <fieldset>
            <legend>Datos de la Factura 
            	<span ng-show="debug">[mainFormValid:<strong ng-class="{'text-success': mainForm.$valid, 'text-danger': !mainForm.$valid}">{{mainForm.$valid}}</strong>]</span>
            </legend>

		    <div class="row">
		        <div class="col-md-12 form-horizontal">

					<div class="form-group" ng-if="registro.month">
						 <label class="control-label col-md-3">
							Fecha:
						 </label>
						 <div class="col-md-2">
							<input type="text" class="form-control" ng-disabled="true" ng-value="registro.month" />
						 </div>
					 </div>
					
		            <div class="form-group">
		            	<label class="col-md-3 control-label">Código Solicitud:</label>
		            	<div class="col-md-2">
	                        <input class="form-control" type="number" id="id_solicitud" ng-value="registro.solicitud.id" disabled/>
	                    </div>
		            </div>

		            <div class="form-group">
	                    <label class="col-md-3 control-label">
	                    	Actividad solicitada:
	                    </label>
	                    <div class="col-md-2">
	                        <input style="border-color:#CCC;" class="form-control" name="id" type="text" ng-value="registro.solicitud.actividad.id" ng-disabled="true"/>
	                    </div>
	                    <div class="col-md-7">
	                        <input class="form-control" type="text" id="titulo" ng-value="registro.solicitud.actividad.title" ng-disabled="true"/>
	                    </div>
	                </div>

                   	<div class="form-group">
	                    <label class="control-label col-md-3">
	                    	Tipo de actividad:
	                    </label>
	                    <div class="col-md-9">
							<input type="text" class="form-control" ng-disabled="true" ng-value="registro.solicitud.actividad.durationType" />
						</div>
					</div>

                   	<div class="form-group">
	                    <label class="control-label col-md-3">
	                    	Entidad ofertante:
                    	</label>
	                    <div class="col-md-9">
							<input type="text" class="form-control" ng-disabled="true" ng-value="registro.solicitud.actividad.entity.title" />
						</div>
					</div>

		            <div class="form-group">
		            	<label class="col-md-3 control-label">
		            		Estado factura:
	            		</label>
		            	<div class="col-md-2">
	                        <select class="form-control" ng-model="registro.invoiceStatus">
	                        	<option value=""></option>
	                        	<option value="TRAMITADA">Tramitada</option>
	                        	<option value="VALIDADA">Validada</option>
	                        	<option value="RECHAZADA">Rechazada</option>
	                        </select>
	                    </div>
		            </div>

					<div class="form-group">
						<label class="control-label col-md-3">
							Nº factura:
						</label>
						<div class="col-md-2">
							<input type="text" id="numFactura" name="numFactura" ng-model="registro.invoiceNumber" class="form-control"/>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-3">
							Fecha factura:
						</label>
						<div class="col-md-2">
							<input type="date" id="fechaFactura" name="fechaFactura" ng-model="registro.invoiceDate" class="form-control"/>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-3">
							Fecha tramitación:
						</label>
						<div class="col-md-2">
							<input type="date" id="fechaTramitacion" name="fechaTramitacion" ng-model="registro.processingDate" class="form-control"/>
						</div>
					</div>

		            <!-- PRECIO ACTIVIDAD -->
					<div class="form-group" ng-if="registro.totalPrice">
						<div class="col-md-3 control-label">
							<label class="control-label">Precio por actividad:</label>
						</div>
						<div class="col-md-6"></div>
						<div class="col-md-3">
							<label class="control-label">Importe actividad:</label>
							<div class="input-group">
								<input class="form-control" type="number" ng-disabled="true" ng-value="registro.totalPrice.toFixed(2)"/>
								<div class="input-group-btn">
									<a class="btn btn-default disabled">&euro;</a>
								</div>
							</div>
						</div>
						<div class="col-md-3"></div>
						<div class="col-md-2">
							<label class="control-label">Sesiones:</label>
							<input class="form-control" type="number" ng-disabled="true" ng-value="registro.numSessions" />
						</div>
						<div class="col-md-2" ng-if="registro.sessionDistance">
							<label class="control-label">Distancia por sesión:</label>
							<div class="input-group">
								<input class="form-control" type="number" ng-disabled="true" ng-value="registro.sessionDistance" />
								<div class="input-group-btn">
									<a class="btn btn-default disabled">km</a>
								</div>
							</div>
						</div>
						<div class="col-md-2" ng-if="registro.kmPrice">
							<label class="control-label">Kilometraje:</label>
							<div class="input-group">
								<input class="form-control" type="number" ng-disabled="true" ng-value="registro.kmPrice.toFixed(2)" />
								<div class="input-group-btn">
									<a class="btn btn-default disabled">&euro;/km</a>
								</div>
							</div>
						</div>
						<div class="col-md-3" ng-if="registro.kmSupplement">
							<label class="control-label">Supl. kilometraje:</label>
							<div class="input-group">
							<input class="form-control" type="number" ng-disabled="true" ng-value="registro.kmSupplement.toFixed(2)" />
								<div class="input-group-btn">
									<a class="btn btn-default disabled">&euro;</a>
								</div>
							</div>
						</div>
					</div>

					<!-- PRECIO POR PARTICIPANTE -->
					<div class="form-group" ng-if="registro.participantPrice">
						<div class="col-md-3 control-label">
							<label class="control-label">Precio por participante:</label>
						</div>
						<div class="col-md-3"></div>
						<div class="col-md-3">
							<label class="control-label">Inscritos:</label>
							<input class="form-control" type="number" ng-disabled="true" ng-value="registro.numParticipants" />
						</div>
						<div class="col-md-3">
							<label class="control-label">Precio por inscrito:</label>
							<div class="input-group">
								<input class="form-control" type="number" ng-disabled="true"
									ng-value="registro.participantPrice.toFixed(2)"/>
								<div class="input-group-btn">
									<a class="btn btn-default disabled">&euro;</a>
								</div>
							</div>
						</div>
					</div>

					<!-- PRECIO POR HORA -->
					<div class="form-group" ng-if="registro.hourPrice">
						<div class="col-md-3 control-label">
							<label class="control-label">Precio por hora:</label>
						</div>
						<div class="col-md-2">
							<label class="control-label">Horas:</label>
							<input class="form-control" type="number" ng-disabled="true" ng-value="registro.numHours" />
						</div>
						<div class="col-md-2"></div>
						<div class="col-md-2">
							<label class="control-label">Precio hora:</label>
							<div class="input-group">
							<input class="form-control" type="number" ng-disabled="true" ng-value="registro.hourPrice.toFixed(2)" />
								<div class="input-group-btn">
									<a class="btn btn-default disabled">&euro;/h</a>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<label class="control-label">Importe:</label>
							<div class="input-group">
								<input class="form-control" type="number" ng-disabled="true"
									ng-value="(registro.numHours * registro.hourPrice).toFixed(2)"/>
								<div class="input-group-btn">
									<a class="btn btn-default disabled">&euro;</a>
								</div>
							</div>
						</div>
						<div class="col-md-3"></div>
						<div class="col-md-2">
							<label class="control-label">Horas nocturnas:</label>
							<input class="form-control" type="number" ng-disabled="true" ng-value="registro.numNightHours" />
						</div>
						<div class="col-md-2">
							<label class="control-label">Horas festivas:</label>
							<input class="form-control" type="number" ng-disabled="true" ng-value="registro.numHolidayHours" />
						</div>
						<div class="col-md-2">
							<label class="control-label">Nocturno / festivo:</label>
							<div class="input-group">
							<input class="form-control" type="number" ng-disabled="true" ng-value="registro.nightHolidayHourPrice.toFixed(2)" />
								<div class="input-group-btn">
									<a class="btn btn-default disabled">&euro;/h</a>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<label class="control-label">Supl. horas:</label>
							<div class="input-group">
							<input class="form-control" type="number" ng-disabled="true"
								ng-value="((registro.numNightHours + registro.numHolidayHours) * registro.nightHolidayHourPrice).toFixed(2)" />
								<div class="input-group-btn">
									<a class="btn btn-default disabled">&euro;</a>
								</div>
							</div>
						</div>
						<div class="col-md-3"></div>
						<div class="col-md-2">
							<label class="control-label">Sesiones:</label>
							<input class="form-control" type="number" ng-disabled="true" ng-value="registro.numSessions" />
						</div>
						<div class="col-md-2" ng-if="registro.sessionDistance">
							<label class="control-label">Distancia por sesión:</label>
							<div class="input-group">
								<input class="form-control" type="number" ng-disabled="true" ng-value="registro.sessionDistance" />
								<div class="input-group-btn">
									<a class="btn btn-default disabled">km</a>
								</div>
							</div>
						</div>
						<div class="col-md-2" ng-if="registro.kmPrice">
							<label class="control-label">Kilometraje:</label>
							<div class="input-group">
								<input class="form-control" type="number" ng-disabled="true" ng-value="registro.kmPrice.toFixed(2)" />
								<div class="input-group-btn">
									<a class="btn btn-default disabled">&euro;/km</a>
								</div>
							</div>
						</div>
						<div class="col-md-3" ng-if="registro.kmSupplement">
							<label class="control-label">Supl. kilometraje:</label>
							<div class="input-group">
							<input class="form-control" type="number" ng-disabled="true" ng-value="registro.kmSupplement.toFixed(2)" />
								<div class="input-group-btn">
									<a class="btn btn-default disabled">&euro;</a>
								</div>
							</div>
						</div>
						
					</div>

					<!-- PRECIO TOTAL -->
					<div class="form-group">
						<div class="col-md-9"></div>
						<div class="col-md-3">
							<label class="control-label">Total:</label>
							<div class="input-group">
								<input class="form-control" type="number" ng-disabled="true" ng-value="registro.totalAmount.toFixed(2)"/>
								<div class="input-group-btn">
									<a class="btn btn-default disabled">&euro;</a>
								</div>
							</div>
						</div>
					</div>

					<!-- PRECIO FINAL DESGLOSADO -->
					<div class="form-group">
						<div class="col-md-3 control-label">
							<label class="control-label">Precio final desglosado:</label>
						</div>
						<div class="col-md-1"></div>
						<div class="col-md-4">
							<label class="control-label">Colaboración servicio ({{registro.fundingPercentage}}% + suplementos):</label>
							<div class="input-group">
								<input class="form-control" type="number" ng-disabled="true" ng-value="registro.serviceAmount.toFixed(2)"/>
								<div class="input-group-btn">
									<a class="btn btn-default disabled">&euro;</a>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<label class="control-label">Importe solicitante ({{100 - registro.fundingPercentage}}%):</label>
							<div class="input-group">
								<input class="form-control" type="number" ng-disabled="true" ng-value="registro.requesterAmount.toFixed(2)"/>
								<div class="input-group-btn">
									<a class="btn btn-default disabled">&euro;</a>
								</div>
							</div>
						</div>
					</div>

					<!-- IVA -->
					<div class="form-group" ng-if="registro.vatPercentage">
						<div class="col-md-4 control-label"></div>
						<div class="col-md-4">
							<label class="control-label">IVA repercutido servicio ({{registro.vatPercentage}}%):</label>
							<div class="input-group">
								<input class="form-control" type="number" ng-disabled="true" ng-value="registro.serviceVAT.toFixed(2)"/>
								<div class="input-group-btn">
									<a class="btn btn-default disabled">&euro;</a>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<label class="control-label">IVA repercutido solicitante ({{registro.vatPercentage}}%):</label>
							<div class="input-group">
								<input class="form-control" type="number" ng-disabled="true" ng-value="registro.requesterVAT.toFixed(2)"/>
								<div class="input-group-btn">
									<a class="btn btn-default disabled">&euro;</a>
								</div>
							</div>
						</div>
					</div>

					<!-- Retención IRPF -->
					<div class="form-group" ng-if="registro.irpfPercentage">
						<div class="col-md-4 control-label"></div>
						<div class="col-md-4">
							<label class="control-label">Retención IRPF servicio ({{registro.irpfPercentage}}%):</label>
							<div class="input-group">
								<input class="form-control" type="number" ng-disabled="true" ng-value="registro.serviceIRPF.toFixed(2)"/>
								<div class="input-group-btn">
									<a class="btn btn-default disabled">&euro;</a>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<label class="control-label">Retención IRPF solicitante ({{registro.irpfPercentage}}%):</label>
							<div class="input-group">
								<input class="form-control" type="number" ng-disabled="true" ng-value="registro.requesterIRPF.toFixed(2)"/>
								<div class="input-group-btn">
									<a class="btn btn-default disabled">&euro;</a>
								</div>
							</div>
						</div>
					</div>

					<!-- Total -->
					<div class="form-group" ng-if="registro.vatPercentage || registro.irpfPercentage">
						<div class="col-md-4 control-label"></div>
						<div class="col-md-4">
							<label class="control-label">Importe final servicio:</label>
							<div class="input-group">
								<input class="form-control" type="number" ng-disabled="true" ng-value="registro.serviceTotal.toFixed(2)"/>
								<div class="input-group-btn">
									<a class="btn btn-default disabled">&euro;</a>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<label class="control-label">Importe final solicitante:</label>
							<div class="input-group">
								<input class="form-control" type="number" ng-disabled="true" ng-value="registro.requesterTotal.toFixed(2)"/>
								<div class="input-group-btn">
									<a class="btn btn-default disabled">&euro;</a>
								</div>
							</div>
						</div>
					</div>

                   	<div class="form-group">
	                    <label for="observaciones" class="control-label col-md-3">
	                    	<span>Observaciones:</span>
                    	</label>
                    	<div class="col-md-9">
                    		<textarea ck-editor-new id="observaciones" name="observaciones" ng-model="registro.comments" class="form-control"></textarea>
                    	</div>
                   	</div>
		        </div>
		    </div>
    						
        </fieldset>

    </div>

</div>
</form>