<h3>Banco de Actividades > Festivos</h3>

<button class="btn btn-primary btn-sm" ng-click="crearFestivo()" ng-show="permisos.NEW">
    <span class="fa fa-pencil" aria-hidden="true"></span>
    <span class="hidden-xs">Nuevo Festivo</span>
</button>

<button class="btn btn-primary btn-sm" ng-click="listarFestivos()" ng-show="permisos.DET">
    <span class="fa fa-list" aria-hidden="true"></span>
    <span class="hidden-xs">Listado Festivos</span>
</button>
    
<hr/>

<div class="row">
    <div class="col-md-12">

         <nav class="navbar navbar-default" ng-show="permisos.DET">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#buscadoresTarget">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand hidden-desktop">Filtros</span>
                </div>
                <div class="collapse navbar-collapse" id="buscadoresTarget">
                    <form class="navbar-form navbar-left" role="search">
                         <div class="form-group">
                            <!-- <buscador filter="id" placeholder="Buscar por id..."></buscador> -->
                            <input type="number" min="1" class="form-control" ng-model="qsearch.id" placeholder="Buscar por id...">
                        </div>
                        <div class="form-group">
                            <!-- <buscador filter="title" placeholder="Buscar por nombre..."></buscador> -->
                            <input type="text" class="form-control" ng-model="qsearch.title" placeholder="Buscar por nombre...">
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="buscar(qsearch)">Filtrar</button>
                        <!-- <button type="submit" class="btn btn-default" ng-click="buscar()" ng-show="modoBusqueda == 1">Filtrar</button> -->
                    </form>
                    
	                <div class="form-group col-md-5 pull-right" style="margin:8px 0; padding:0;">
						<label class="control-label col-md-4" for="hourPrice" style="margin:8px 0;">Suplemento hora:</label>
	                	<div class="col-md-5">
		                	<div class="input-group">
	                            <input class="form-control" type="number" step="0.01" min="0" ng-model="hourPrice" value="{{hourPrice.toFixed(2)}}"/>
								<div class="input-group-btn">
									<a class="btn btn-default disabled">&euro;/h</a>
								</div>
	                        </div>
                        </div>
						<button type="submit" class="btn btn-info" ng-click="updateHourPrice()">Actualizar</button>
					</div>
                </div>
            </div>
        </nav> 

    </div> 
</div> 

<div class="row">
    <div class="col-md-12">
        <div class="repeat-item alert alert-{{alert.type}} alert-dismissible" ng-repeat="alert in allInfos()" close="remove(alert)">{{alert.msg}}</div>
        <div ng-show="permisos.DET">
            <div>
                <span ng-show="registros.length > 0" class="margin-r2em">
                    N&uacute;mero de resultados: {{registros.length}} <span ng-show="totalCount > 0">de {{totalCount}}</span>
                </span>
                <span ng-show="filtrosParaListado !== undefined && registros.length > 0">
                    Filtros aplicados: <span ng-bind-html="filtrosParaListado | pintarFiltros"></span>
                    <!-- <button class="btn btn-xs btn-default" ng-click="limpiarFiltrosDaoListar();">Limpiar Filtros</button> -->
                </span>
                
                <ul style="margin-top:-15px;" class="margin-b05em navbar-right" uib-pagination boundary-links="true" total-items="totalCount" max-size="maxSizePage" ng-model="currentPage" ng-change="pageChanged()" items-per-page="itemsPerPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
            </div>
            <table class="table table-bordered table-hover table-striped table-btn">
                <thead>
                    <tr>
                        <th th-orden order="'id'" by="order" reverse="reverse">ID</th>
                        <th th-orden order="'date'" by="order" reverse="reverse">FECHA</th>
                        <th th-orden order="'title'" by="order" reverse="reverse">NOMBRE</th>
                        <th ng-show="permisos.MOD">Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="registro in registros | orderBy:order:reverse">
                        <td data-title="ID" ><a href="#/holidays/edit/{{ registro.id }}">{{registro.id}}</a></td>
                        <td data-title="Fecha"><a href="#/holidays/edit/{{ registro.id }}">{{registro.date | date:'dd-MM-yyyy'}}</a></td>
              			<td data-title="Nombre">
                            <a href="#/holidays/edit/{{ registro.id }}">{{registro.title}}</a>
                            <a class="btn" href="#/holidays/edit/{{ registro.id }}" target="_blank" title="Abrir en pestaña nueva">
                            	<span class="glyphicon glyphicon-export"></span>
                            </a>
                        </td>
                        <td data-title="Operaciones" ng-show="permisos.MOD">
                            <modal-banco-borrar recurso="evento/admin/banco/festivo"></modal-banco-borrar>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <ul class="margin-t05em navbar-right" uib-pagination boundary-links="true" total-items="totalCount" max-size="maxSizePage" ng-model="currentPage" ng-change="pageChanged()" items-per-page="itemsPerPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
            
            <div class="alert alert-warning spinner-tabla" ng-show="busy"><span class="spinner"></span>Espera por favor, se están cargando los datos.</div>
        </div> 
    </div> 
</div> 