<h3>Banco de Actividades para Jóvenes. Solicitud <strong>no</strong> concedida. Correo para entidad solicitante.</h3>
<div class="inform repeat-item alert alert-{{alert.type}}" ng-repeat="alert in allInfos()" close="remove(alert)">{{alert.msg}}</div>
<div class="row">
    <div class="col-md-12">
		<div id="mail-content" style="background:#eee;padding:10px;border:1px black solid;">
			<p ng-if="mail.textoInicial" ng-bind-html="mail.textoInicial"></p>
			
			<p ng-if="registro.estado=='ANULADA'">Vista la solicitud presentada y conforme a las bases técnicas que rigen el “Banco de Actividades para Jóvenes” el Servicio de Juventud ANULA su participación en la actividad que a continuación se detalla:
			</p>
			<p ng-if="registro.estado=='DENEGADA'">Vista la solicitud presentada y conforme a las bases técnicas que rigen el “Banco de Actividades para Jóvenes” el Servicio de Juventud NO va a participar en la realización de la actividad que a continuación se detalla:
			</p>
			<p>
			Actividad: <b>{{registro.actividad.title}}</b> ({{registro.actividad.id}})<br/>
			Código Solicitud: <b>{{registro.id}}</b><br/>
			Monitor: <b>{{registro.monitor.title}}</b><br/>
			Entidad solicitante: <b>{{registro.nombreSolicitante}}</b><br/>
			Fechas de realización: <b>{{registro.fechaInicio | date : "dd/MM/yyyy"}}<span ng-if="registro.fechaFin"> - {{registro.fechaFin | date : "dd/MM/yyyy"}}</span></b><br/>
			Horario de realización: <b>{{registro.horario}}</b>
			</p>
			<p>por el siguiente motivo:</p>
			<ul>
				<li ng-bind-html="registro.motivo"></li>
			</ul>
			<!--p ng-if="registro.estado=='ANULADA'">La actividad queda anulada a partir de la fecha:<br/>
			<b></b>
			</p-->
			<p>Para cualquier duda o aclaración, contacta con la Unidad Técnica de Actividades Juveniles del Servicio de Juventud:</p>
			<p>Tlf.: 976 721 828/ 18 22 (lunes a viernes de 9 a 14h)<br/>
			<a href="mailto:bancoactividades@zaragoza.es">bancoactividades@zaragoza.es</a></p>

			<p ng-if="mail.textoFinal" ng-bind-html="mail.textoFinal"></p>
		</div>
		<br/>
        <div class="col-md-12 form-group">
            <label class="col-md-2 control-label" for="textoInicial">Texto inicial adicional:</label>
            <div class="col-md-10">
                <textarea ck-editor-new id="textoInicial" ng-model="mail.textoInicial"></textarea>
            </div>
        </div>
        <div class="col-md-12 form-group">
            <label class="col-md-2 control-label" for="textoFinal">Texto final adicional:</label>
            <div class="col-md-10">
                <textarea ck-editor-new id="textoFinal" ng-model="mail.textoFinal"></textarea>
            </div>
        </div>
		<br/>
		<p class="text-center">
			<button type="button" class="btn btn-primary" ng-click="sendMail(true);">
				<span class="fa fa-envelope" aria-hidden="true"></span> 
				<span class="hidden-xs"> Enviar mail a la entidad solicitante</span>
			</button>
		</p>
    </div>
</div>
</form>