<div class="row">

    <div class="col-md-12">

        <button class="btn btn-default" ng-click="guardar()" ng-show="permisos.MOD">
            <span class="fa fa-check" aria-hidden="true"></span>
            <span class="hidden-phone"> Guardar</span>
        </button>
        <boton-copiar></boton-copiar>
        <modal-borrar></modal-borrar>

    </div> <!-- /span12 -->

</div>

<hr/>

<div class="row">

    <div class="col-md-12">
		<div class="repeat-item alert alert-{{alert.type}}" ng-repeat="alert in allInfos()" close="remove(alert)">{{alert.msg}}</div>
		
		
		<form name="form">
        <fieldset>
            <legend>Datos del registro</legend>

            <div class="row">
                <div class="col-md-3 form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-7 col-sm-offset-5">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    Control
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" style="padding: 5px; min-width: 260px;">
                                    <li><strong>ID: </strong>{{ registro.id }}</li>
                                    <li><strong>Fecha de alta: </strong>{{registro.creationDate | date:'dd-MM-yyyy'}}</li>
                                    <li><strong>Fecha de modificaci&oacute;n: </strong>{{registro.lastUpdated | date:'dd-MM-yyyy'}}</li>
                                    <li><strong>Fecha de publicaci&oacute;n: </strong>{{registro.pubDate | date:'dd-MM-yyyy'}}</li>
                                    <li><strong>Usuario de alta:</strong>{{registro.usuarioAlta}}</li>
                                    <li><strong>Usuario de modificaci&oacute;n: </strong>{{registro.usuarioMod}}</li>
                                    <li><strong>Usuario de publicaci&oacute;n: </strong>{{registro.usuarioPub}}</li>
                                </ul>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-md-3 form-horizontal">
                    <div class="form-group">
                    	<label class="col-sm-3 control-label" for="visible">Visible:</label>
                        <div class="col-sm-5">
	                        <select class="form-control" ng-model="registro.visible" ng-options="obj.id as obj.text for obj in visibilidad">
					         <option value=''>Select</option>
					       </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 form-horizontal">
						<div class="form-group" ng-class="{ 'has-error' : form.title.$invalid}">
	                        <label class="col-sm-2 control-label" for="title">Nombre:</label>
	                        <div class="col-sm-8">
	                            <input class="form-control" type="text" name="title" ng-model="registro.title" value="{{ registro.title }}" required/>
	                        </div>
	                        <div class="col-sm-2">
	                        	<div class="input-group">
		                            <input class="form-control" name="id" type="text" ng-model="registro.id" value="{{ registro.id }}" disabled/>
		                            <div class="input-group-btn" ng-show="registro.id">
										<a class="btn btn-default" href="/ciudad/turismo/es/para-todos/detalle_Receta?id={{registro.id}}" target="_blank">
											<span class="far fa-share-square" aria-hidden="true"></span>
										</a>
		                        	</div>
		                        </div>
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <label class="col-sm-2 control-label" for="resumen">Resumen:</label>
	                        <div class="col-sm-10">
	                            <input class="form-control" type="text" name="resumen" ng-model="registro.summary" value="{{ registro.summary }}"/>
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <label class="col-sm-2 control-label" for="recipeCuisine">Tipo cocina:</label>
	                        <div class="col-sm-3">
	                            <select class="form-control" ng-model="registro.recipeCuisine.id" ng-options="obj.id as obj.text for obj in tipoCocina">
						         <option value=''>Select</option>
						       </select>
	                        </div>
	                        
	                        <label class="col-sm-3 control-label" for="recipeType">Tipo de plato:</label>
	                        <div class="col-sm-3">
		                        <select class="form-control" ng-model="registro.recipeType.id" ng-options="obj.id as obj.text for obj in tipoPlato">
						         <option value=''>Select</option>
						       </select>
	                        </div>
	                    
	                    </div>
	                    
						<div class="form-group">
	                        <label class="col-sm-2 control-label" for="prepTime">Tiempo de preparaci&oacute;n:</label>
	                        <div class="col-sm-2">
	                            <input class="form-control" type="text" name="prepTime" ng-model="registro.prepTime" value="{{ registro.prepTime }}"/>
	                        </div>
	                    
	                        <label class="col-sm-2 control-label" for="prepTime">Tiempo de elaboraci&oacute;n:</label>
	                        <div class="col-sm-2">
	                            <input class="form-control" type="text" name="cookTime" ng-model="registro.cookTime" value="{{ registro.cookTime }}"/>
	                        </div>
	                    
	                        <label class="col-sm-2 control-label" for="prepTime">Tiempo total:</label>
	                        <div class="col-sm-2">
	                            <input class="form-control" type="text" name="totalTime" ng-model="registro.totalTime" value="{{ registro.totalTime }}" ngPattern="/^([\-\+])?P(?:([0-9]+)H)?(?:([0-9]+)M)?(?:([0-9]+(?:\.[0-9]+)?)?S)?$/"/>
	                        </div>
	                    </div>
	                    
	                    <div class="form-group">
	                        <label class="col-sm-2 control-label" for="prepTime">N&uacute;mero de Raciones:</label>
	                        <div class="col-sm-2">
	                            <input class="form-control" type="text" name="yield" ng-model="registro.yield" value="{{ registro.yield }}"/>
	                        </div>
					    	<label class="col-sm-2 control-label" for="restaurante">Restaurante:</label>
					        <div class="col-sm-6">
								<autocompletado class="form-control" modelo="registro.restaurante" uri="/sede/servicio/restaurante" filtro="title"></autocompletado>
					        </div>
					    </div>
					    
					    <div class="form-group" ng-show="registro.id">
	                        <label class="col-sm-2 control-label" for="resumen">Imagen:</label>
	                        <div class="col-sm-9">
	                        	<div class="input-group">
	                            	<input class="form-control" file-upload type="file" name="media_file" ng-model="registro.file"/>
	                            	<div class="input-group-btn">
	                            		<a class="btn btn-default" href="{{registro.images[0].url}}" ng-show="registro.images" target="_blank"><span class="far fa-share-square" aria-hidden="true"></span> Ver</a>
	                            	</div>
	                            </div>
	                            {{registro.images[0].url.substring(registro.images[0].url.lastIndexOf("/") + 1, registro.images[0].url.length)}}
	                        </div>
	                    </div>
	                </div> 
	
	                <div class="col-md-5 form-horizontal">
	                    <div class="form-group" ng-class="{ 'has-error' : form.instructions.$invalid}">
	                        <label class="col-sm-12 control-label" for="instructions">Instrucciones:</label>
	                    </div>
	                    <div class="form-group" ng-class="{ 'has-error' : form.instructions.$invalid}">
	                    <textarea required class="col-sm-10" ck-editor name="instructions" ng-model="registro.instructions">{{ registro.instructions }}</textarea>
	                    </div>
	                </div>
	
	            </div>
				<table class="table table-bordered table-striped table-condensed table-btn" ng-show="registro.id">
				<tr><th>Ingrediente 
							<button class="btn btn-default btn-xs" ng-click="gestionRow()" ng-show="permisos.MOD">
								<span class="fa fa-plus-circle" aria-hidden="true"></span>
							</button>
				</th><th>Cantidad</th><th>Acciones</th></tr>
				<tr ng-repeat="valor in registro.ingredients track by $index">
					<td><autocompletado class="form-control" modelo="valor.ingredient" uri="/api/recurso/turismo/gastronomia/ingrediente" filtro="title"></autocompletado></td>
					<td class="col-xs-2"><input class="form-control" type="text" name="valor.cantidad" ng-model="valor.cantidad" value="{{ valor.cantidad }}"/></td>
					<td>
					<button class="btn btn-default btn-sm" ng-click="borrarRow($index)">
						<span class="fas fa-trash-alt" aria-hidden="true"></span>
					</button>
					</td>
				</tr>
				
				</table>

				<!-- <h3>Im&aacute;genes asociadas</h3>
				<ul>
					<li ng-repeat="file in registro.images"><a href="{{file.url}}"
						target="_blank">{{file.title}}</a></li>
				</ul>
				<input id="ficheros_Adj" type="file" file-upload multiple />
				<ul id="listaUpload">
					<li ng-repeat="file in files track by $index">{{file.name}}</li>
				</ul>
				<button class="btn" ng-click="subir()">Subir</button>
 				-->
		</fieldset>
		</form>
    </div> <!-- /span12 -->

</div> <!-- /row-fluid -->