# Bower Components folder
bower_components/

# Eclipse folders/files
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/
.loadpath

# Idea folders/files
.idea/
*.iml