<div ng-show="permisos.ADMIN">
	<div class="row">
	    <div class="col-md-12">
	         <nav class="navbar navbar-default" ng-show="permisos.DET">
	            <div class="container-fluid">
	            <h3>Usuarios del servicio</h3>
	                <div class="navbar-header">
	                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#buscadoresTarget">
	                        <span class="sr-only">Toggle navigation</span>
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                    </button>
	                    <span class="navbar-brand hidden-desktop">Filtros</span>
	                </div>
	                <div class="collapse navbar-collapse" id="buscadoresTarget">
	                    <form class="navbar-form navbar-left" role="search">
	                         <div class="form-group">
	                         	<input type="text" class="form-control" ng-model="user.dni" placeholder="dni">
	                            <input type="text" class="form-control" ng-model="user.email" placeholder="email">
	                        </div>
	                        <button type="submit" class="btn btn-primary" ng-click="buscar(registro)">Consultar</button>
	                    </form>
	                </div>
	            </div>
	        </nav>
	    </div> 
	</div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="repeat-item alert alert-{{alert.type}}" ng-repeat="alert in allInfos()" close="remove(alert)">{{alert.msg}}</div>
	</div>
	<div ng-show="registro">
		<div class="col-md-6">
			<button ng-click="editPerfil(registro)" ng-show="tienePermiso('ACCESO', 'REST', 'MOD')">Editar perfil</button>
			<dl class="dl-horizontal">
				<dt>Nombre</dt>
				<dd>{{registro.user.name}} ({{registro.user.screen_name}})</dd>
				<dt>Mail</dt>
				<dd>{{registro.user.email}}</dd>
				<dt>Teléfono</dt>
				<dd>{{registro.user.mobile}} {{registro.user.perfil.telefonoContacto}}</dd>
				<dt>NIF</dt>
				<dd>{{registro.user.nif}} {{registro.user.documentoIdentificativo}}</dd>
				<dt>Barrio</dt>
				<dd>{{registro.user.juntaUser}}</dd>
				<dt>Fecha Nacimiento</dt>
				<dd>{{registro.user.perfil.fechaNacimiento | date:'dd-MM-yyyy'}}</dd>
				<dt>Estudios</dt>
				<dd>{{registro.user.perfil.estudiosActuales}}</dd>
				<dt>Necesidades especiales</dt>
				<dd>{{registro.user.perfil.necesidadesEspeciales}}</dd>
				<dt>Ocupación</dt>
				<dd>{{registro.user.perfil.ocupacion}}</dd>
				<dt>¿Vive Independiente?</dt>
				<dd>{{registro.user.perfil.independiente}}</dd>
				<dt>Temas de interés</dt>
				<dd>
					<ul class="list-inline">
					<li ng-repeat="tema in registro.user.perfil.temas">{{tema.title}}</li>
					</ul>
				</dd>
				<dt>Formato</dt>
				<dd>{{registro.user.perfil.formato}}</dd>
				<dt>Pais</dt>
				<dd>{{registro.user.perfil.pais}}</dd>
				<dt>Género</dt>
				<dd>{{registro.user.perfil.genero}}</dd>
			</dl>
		</div>
		<div class="col-md-6">
			<div ng-show="registro.creationDate" class="alert alert-info">
				Persona asociada al programa ZGZ16
				<dl class="dl-horizontal">
					<dt>Centro educativo</dt><dd>{{registro.centroEducativo}}</dd>
					<dt>Fecha Alta</dt><dd>{{registro.creationDate | date:'dd-MM-yyyy HH:mm'}}</dd>
					<dt>Realizada por</dt><dd>{{registro.usuarioAlta}}</dd>
				</dl>
			</div>
			<div class="row" ng-show="!registro.creationDate">
				<div class="form-group col-sm-12">
					<label class="col-sm-4 control-label" for="fNacimiento">Fecha nacimiento:</label>
					<div class="col-sm-8">
	                    <div class="input-group">
	                        <input type="text" id="fechaNacimiento" name="fechaNacimiento" class="form-control" placeholder="dd/MM/yyyy" uib-datepicker-popup="dd/MM/yyyy" ng-model="registro.user.perfil.fechaNacimiento" is-open="datepickers.fechaNacimiento" close-text="Cerrar" current-text="Hoy" clear-text="Borrar" my-date/>
	                        <span class="input-group-btn">
	                            <button type="button" class="btn btn-default" ng-click="toggleOpenDatePicker($event,'fechaNacimiento')">
	                                <span class="fas fa-calendar-alt" aria-hidden="true"></span>
	                            </button>
	                        </span>
	                    </div>
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label class="col-sm-4 control-label" for="docIdentificativo">Documento identificativo:</label>
					<div class="col-sm-8">
                        <input type="text" id="docIdentificativo" name="docIdentificativo" class="form-control" 
                        	ng-model="registro.user.documentoIdentificativo"/>
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label class="col-sm-4 control-label">Centro educativo:</label>
					<div class="col-sm-8">
						<ui-select ng-model="registro.centroEducativo" style="width:400px;">
                            <ui-select-match class="ui-select-match" placeholder="Buscar centro...">
                                {{$select.selected.title}}
                            </ui-select-match>
                            <ui-select-choices class="ui-select-choices" repeat="centro.id as centro in centros | filter: $select.search">
                                <div ng-bind-html="centro.title | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
					</div>
				</div>

				<div class="form-group col-sm-12">				
					<label class="col-sm-4 control-label" for="genero">G&#233;nero:</label>
					<div class="col-sm-8">
                        <select class="form-control" id="genero" ng-model="registro.user.perfil.genero">
                            <option value=""></option>
                            <option value="F">Mujer</option>
                            <option value="M">Hombre</option>
                            <option value="O">Otro</option>
                        </select>
                    </div>
                </div>
                
				<div class="form-group col-sm-12">				
					<label class="col-sm-4 control-label" for="pais">Pa&#237;s de origen:</label>
				<div class="col-sm-5">
                          <select class="form-control" id="pais" ng-model="registro.user.perfil.pais">
                              <option value=""></option>
                              <option value="E">España</option>
                              <option value="UE">Unión Europea</option>
                              <option value="O">Otros</option>
                          </select>
                         </div>
                        </div>
          
				<div class="form-group col-sm-12">
                    <label class="col-sm-4" for="distrito">Barrio en el que vive:</label>
					<div class="col-sm-8">
                        <select id="distrito" class="form-control" ng-model="registro.user.juntaUser">
                            <option value=""></option>
                            <option value="ACTUR-Rey Fernando">ACTUR-Rey Fernando</option>
                            <option value="Casablanca">Casablanca</option>
                            <option value="Casco Histórico"> Casco Histórico</option>
                            <option value="Centro">Centro</option>
                            <option value="El Rabal">El Rabal</option>
                            <option value="Delicias">Delicias</option>
                            <option value="La Almozara">La Almozara</option>
                            <option value="Las Fuentes">Las Fuentes</option>
                            <option value="Miralbueno">Miralbueno</option>
                            <option value="Oliver-Valdefierro">Oliver-Valdefierro</option>
                            <option value="San José">San José</option>
                            <option value="Santa Isabel">Santa Isabel</option>
                            <option value="Torrero-La Paz">Torrero-La Paz</option>
                            <option value="Universidad">Universidad</option>
                            <option value="Alfocea">Alfocea</option>
                            <option value="Casetas">Casetas</option>
                            <option value="Garrapinillos">Garrapinillos</option>
                            <option value="Juslibol-El Zorongo">Juslibol-El Zorongo</option>
                            <option value="Cartuja Baja">Cartuja Baja</option>
                            <option value="Venta del Olivar">Venta del Olivar</option>
                            <option value="Montañana">Montañana</option>
                            <option value="Monzalbarba">Monzalbarba</option>
                            <option value="Movera">Movera</option>
                            <option value="Peñaflor">Peñaflor</option>
                            <option value="San Gregorio">San Gregorio</option>
                            <option value="San Juan de Mozarrifar">San Juan de Mozarrifar</option>
                            <option value="Torrecilla de Valmadrid">Torrecilla de Valmadrid</option>
                            <option value="Villarrapa">Villarrapa</option>
                        </select>
                  </div>
				</div>
				
				<div class="form-group col-sm-12">
					<label class="col-sm-4 control-label" for="estudiosActuales">Estudios que está cursando:</label>
					<div class="col-sm-8">
                        <select class="form-control" id="estudiosActuales" ng-model="registro.user.perfil.estudiosActuales">
                            <option value=""></option>
                            <option value="ESO">Educación Secundaria Obligatoria (ESO)</option>
<!-- 				                                <option value="BACH">Bachiller</option> -->
                            <option value="FPGM">FP Básica</option>
<!-- 				                                <option value="FPGS">FP. Grado superior</option> -->
                            <option value="SOCL">Centros Sociolaborales</option>
                            <option value="OTR">Otros</option>
                        </select>
                    </div>
                </div>
				
				<div class="form-group col-sm-12" style="text-align:center;">
					<button type="submit" class="btn btn-info" ng-disabled="!cbCondiciones.value" ng-click="addUser(registro)">Añadir persona a Z16</button>
				</div>
			</div>
		</div>
	</div>
</div>


