// Mapa Web

header.navbar {
	border: none;
	background: $white;
	margin-bottom: 0; // Ajustamos el margin para la segunda barra de navegaci? (portal)
}

.logo {
	margin-top: .25em;
	border-right: 1px solid #fff;
    margin-right: 1em;
    padding-right: 1em;
    & > img {
		height: 50px; // Forzamos v? CSS el logo
	}
}
.hamburger + .logo {
	margin-left: 60px;
}
//@media (max-width: @screen-xs-max) {
//	.logo{margin-top: -1px;}
//}

.search-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 57px;
    //border: 2px solid #fff;
    background: $white;
    z-index: 1;
    transition: all 0.3s ease;
    .search-form {
    	margin: 7px 7px; // sobreescrito
    }
}

.search-form{
	// Sustitucion de navbar-form
	//margin: 7px 7px;
	margin: 7px 0px 7px;
	padding: 0;
}

.search-tag{
    width: 125px;
    height: 26px;
    margin-top: 4px;
    margin-left: 4px;
    border-radius: 4px;
    line-height: 26px;
    border: 1px solid #885609;
    pointer-events: auto;
    color: white;
    text-align: inherit;
    padding-left: 4px;
    top: 0 !important;
    left: 0;
}
.search-tag .close{
    position: relative;
    top: 2px;
    right: 10px;
    color: $white;
    text-shadow: none;
    opacity: 1;
}

// Colores generales agrupaci? de portales
#ayto .search-tag{background: $colorAyto;}
#ogob .search-tag{background: $colorOgob;}
#ciudad .search-tag{background: $colorCiudad;}
#cultura .search-tag{background: $colorCultura;}
#sectores .search-tag{background: $colorGente;}
#turismo .search-tag{background: $colorTurismo;}
// Colores generales servicios transversales
//#agenda .search-tag{background: $colorAgenda;}

.search-form + .form-group.has-feedback{padding-right:0;}
#input-search-desktop {width:275px;}

// Forzamos z-index para superar a .navbar.navbar-portal
//header.navbar.navbar-static-top{
	//z-index: 1002;
//}
// Forzamos z-index para superar a los botones de leaflet (z-index: 1000 onload)
header.navbar-portal{
	z-index:1001;
	border-radius: 0;
	// NEW
    -webkit-box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
    //border: 2px solid @white;
    //border-right: 2px solid @white;
    //border-bottom: 2px solid @white;
    //border-left: 2px solid @white;

    & > .container-fluid {
    	max-width: none;
    }

    // Eliminamos el background del <button type="submit" class="btn btn-search">...</button>
    button.btn-search {
    	background: none;
    }
}

@include media-breakpoint-between(xs, md) {
	// Forzamos maquetado .form-inline .form-group tambi? en .xs
	header.navbar-portal{
		.logo {
			margin-right: .5em;
	    	padding-right: .5em;
	    	& > img {
	    		width: 30px;
	    		height: auto;
	    	}
		}
		.portal-header {
			width: 180px;
			// Mantiene alineado el t?ulo del portal sin importar el tama? o si se rompe en dos l?eas
			// forzando al tama? m?ima de la barra de navegaci?: 57px.
			h1{
				display: table;
    			min-height: 57px;
    			a {
				    display: table-cell;
    				vertical-align: middle;
    			}
			}
			nav { // breadcrumbs
				display: none; //FIXME: OCULTAR EN M?IL ?
				position: absolute;
			    left: 0;
			    width: 100%;
			    padding: 0 15px 0;
			}
		}
	 	.form-inline .form-group{
			display: inline-block;
			vertical-align: middle;
			width: 70%;
			//#input-search-mobile{width: 75%;}
		}
		.btn{
			padding: 6px 6px; // Reducimos el padding de todos los botones
		}
	}
}


@media (max-width : 480px) {
// 	// TOFIX: Comentado para que quepa el buscador en tama?s reducidos
// 	// al a?dir el texto 'menu' a la hamburguesa 
// 	//#search {width:auto;}
// 	#search {width:110px;}
	header.navbar-portal {
		
		.portal-header {
			width: 140px;
			  	h1 {
		  		font-size: 24px;
		  	}
		}
	}

}

/*
@media (max-width : 480px) { // Mobile L
	
}
*/

@media (max-width : 375px) { // Mobile M
	header.navbar-portal {
		.hamburger { 
			margin-left: 5px; 
		}
		.hamburger + .logo { 
			margin-left: 50px;
		}
		& > .container-fluid {
			padding-left: 5px;
    		padding-right: 5px;
		}
	}
}

@media (max-width : 320px) { // Mobile S
	header.navbar-portal {
		.portal-header {
			width: 110px;
			h1 {
		  		font-size: 22px;
		  	}
		}
	}
}

.navegacion-portales{
	background-color: $white;
	position: absolute;
	right: 0;
	top: 57px;
	width: 100%;
	z-index: 1;

	.panel-heading {
		border-radius: 0;
		&.ogob {background:$colorOgob;}
		&.ayto {background:$colorAyto;}
		&.ciudad {background:$colorCiudad;}
		&.cultura {background:$colorCultura;}
		&.sectores {background:$colorGente;}
		&.turismo {background:$colorTurismo;}

		a {color: $white; font-weight: bold;}
	}

	li a {
		// Reducimos padding de los elementos del mapaweb
		padding: 5px 15px;
	}

	li.indice {
		border-bottom: 1px solid $primary;
		text-align: center;
		a {
			font-weight: bold;
		}
	}
	#accordion-ogob li.indice a {color:$colorOgob;}
	#accordion-ayto li.indice a {color:$colorAyto;}
	#accordion-ciudad li.indice a {color:$colorCiudad;}
	#accordion-cultura li.indice a {color:$colorCultura;}
	#accordion-sectores li.indice a {color:$colorGente;}
	#accordion-turismo li.indice a {color:$colorTurismo;}
}

.navegacion-portales a:focus img{
	outline: 2px solid $primary;
}

#cultura .navbar-portal {
	background: $colorCultura url('//www.zaragoza.es/cont/paginas/img/sede/cabecera/navbar-portal-cultura.gif') no-repeat center !important;
}
#ogob .navbar-portal {
	background: $colorOgob url('//www.zaragoza.es/cont/paginas/img/sede/cabecera/navbar-portal-ogob.gif') no-repeat center !important;
}

#ayto .navbar-portal, #ayto h1, #ayto .portal-header nav, 
#home .navbar-portal, #ayto h1, #home .portal-header nav{background-color: $colorAyto;}
#ogob .navbar-portal, #ogob h1, #ogob .portal-header nav{background-color: $colorOgob;}
#ciudad .navbar-portal, #ciudad h1, #ciudad .portal-header nav{background-color: $colorCiudad;}
#cultura .navbar-portal, #cultura h1, #cultura .portal-header nav{background-color: $colorCultura;}
#sectores .navbar-portal, #sectores h1, #sectores .portal-header nav{background-color: $colorGente;}
#medioambiente .navbar-portal, #mediambiente h1, #mediambiente .portal-header nav{background-color: $colorMedioAmbiente;}
#turismo .navbar-portal, #turismo h1, #turismo .portal-header h1{background-color: $colorTurismo;}
//#agenda .navbar.navbar-portal, #agenda h1{background-color: $colorAgenda;}

// Div que engloba h1 + migas de pan
.portal-header {
	//margin-left: 10px;
}
.hamburger + .portal-header {
	margin-left: 55px;
}

// Si existe barra de navegaci? del portal y el h1 est?inclu?o dentro
.portal-header h1{
	color: #fff;
	margin:0;
	a {
		color: #fff;
		&:hover{color: #fff;}
	}
}

// h1.vertical-text{
// 	position: absolute;
// 	right: 0;
// 	bottom: -148px;
// 	padding: .5em;
// 	transform: rotate(-90deg);
// 	-ms-transform: rotate(-90deg);
// 	-webkit-transform: rotate(-90deg);
// }

nav .breadcrumb{
	margin: 0;
	padding: 0;
	background:none;
}
nav .breadcrumb li a, nav .breadcrumb>li+li:before {color:$white;}

.user-letter {
	font-weight: bold !important;
	font-size: 1.5em !important;
}

// Elimina el margin-top del H2 principal de la p?ina (#rscont>div>h2 si tiene attr about)
//#rscont>h2, #rscont>div>h2 {
//	margin: 0 0 .5em;
//}

nav.nav-main {
	ul#menu {
	    /*border-bottom: 2px solid #E81B16;*/
	    border: 1px solid #CCC;
	    font-weight: bold;
	    margin-bottom: 1em;
	    border-radius: 0 0 .5em .5em;
	}

	ul#menu .elemento {
	    /*display: block;*/
	    display: inline-block;
	    padding: 10px 0px;
	    margin: 0;
	    font-size: 1em;
	    font-weight: bold;
	    line-height: 1.42857143;
	    /* h2 line-height == a line-height*/
	}

	ul#menu h2 {
	    background: #E81B16;
	    color: white;
	}

	.panel-title a {
	    display: block;
	    padding: 10px 15px;
	    margin: -10px -15px;
	    /*background: #d68100;*/
	    font-weight: bold;
	}
}