

$colorCiudad:           #008A00; //#00C200; // WCAG 2.0 
$colorAyto:             #E81B16; //#FF1E18; // WCAG 2.0: 
$colorCultura:          #883da0; // Rediseño Cultura Sede //#8958A9; //#86429e;
$colorGente:            #006b87;
$colorOgob:             #000;
$colorTurismo:          #D68100; // WCAG 2.0 //#FF9900; // color real de turismo
$colorMedioAmbiente:    #508330; 