<form novalidate name="artistForm">
<div class="row">
	<div class="col-md-12">
		<button class="btn btn-default" ng-click="guardar()" ng-disabled="artistForm.$invalid"
			ng-show="permisos.MOD">
			<span class="glyphicon glyphicon-ok"></span> <span class="hidden-xs">
				Guardar</span>
		</button>
		<boton-copiar></boton-copiar>
		<boton-visibilidad></boton-visibilidad>
		<modal-borrar></modal-borrar>
	</div>
</div>
<div class="row">
	<div class="col-md-7 form-horizontal margin-t05em">
	    <div class="form-group">
	        <div class="col-sm-10">
	            <div class="btn-group" dropdown>
	                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
	                    Control
	                    <span class="caret"></span>
	                </button>
	                <ul class="dropdown-menu" role="menu" style="padding: 5px; min-width: 260px;">
	                    <li><strong>ID: </strong>{{ registro.id }}</li>
	                    <li><strong>Fecha de alta: </strong>{{registro.creationDate | date:'dd-MM-yyyy'}}</li>
	                    <li><strong>Fecha de modificaci&oacute;n: </strong>{{registro.lastUpdated | date:'dd-MM-yyyy'}}</li>
	                    <li><strong>Fecha de publicaci&oacute;n: </strong>{{registro.pubDate | date:'dd-MM-yyyy'}}</li>
	                    <li><strong>Usuario de alta:</strong>{{registro.usuarioAlta}}</li>
	                    <li><strong>Usuario de modificaci&oacute;n: </strong>{{registro.usuarioMod}}</li>
	                    <li><strong>Usuario de publicaci&oacute;n: </strong>{{registro.usuarioPub}}</li>
	                </ul>
	            </div>
	        </div>
	    </div>
	</div>
</div>
<hr />

<div class="row">

	<div class="col-md-12">
		<!-- Detalle del artista -->
		<div class="row">
			<div class="col-md-12 form-horizontal">

				<!-- Primera parte de detalle de artista, mientras la fotografía queda a la izquierda -->
				<div class="row">

					<div class="col-md-offset-1 col-md-2">
						<label class="control-label" for="imagen">Imagen:</label>
						<img class='img-responsive' ng-show="!files.length" ng-src="{{ registro.photograph }}" />
						<div ng-show="files.length" class="form-group">
							<img class='img-responsive' ng-src="{{ imgTemp64 }}" />
	                    </div>
						<div class="form-group">
							<input file-upload class="col-md-12" type="file" id="imagen" name="imagen" ng-model="registro.file" value="{{ registro.photograph }}" />
	                    </div>
	                    
					</div>

					<div class="col-md-8">
						<div class="form-group">
							<label class="col-sm-2 control-label" for="tipo">Tipo:</label>
							<div class="col-sm-10">
								<select class="form-control" ng-model="registro.type" name="tipo" required
									ng-options="type.originalElement as type.title for type in types track by type.id" />
<!-- 								<div ng-show="artistForm.$submitted || artistForm.tipo.$touched"> -->
									<span ng-show="artistForm.tipo.$error.required">Seleccione el tipo</span>
<!-- 								</div> -->
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label" for="title">Nombre:</label>
							<div class="col-sm-8">
								<input class="form-control" type="text" name="title"
									ng-model="registro.title" value="{{ registro.title }}" />
							</div>
							<div class="col-sm-2">
								<input class="form-control" name="id" type="text"
									ng-model="registro.id" value="{{ registro.id }}" disabled />
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-xs-2 control-label" for="uri">URI:</label>
							<div class="col-xs-10">
								<fg-select-uri-in-modal 
									ng-model = "registro.uri"
									por = 'registro.title'
									modo = "artist"
								></fg-select-uri-in-modal>
							</div>
						</div>
						
<!-- 						<fg-select-uri-in-modal  -->
<!-- 							ng-model = "registro.uri" -->
<!-- 							por = 'registro.title' -->
<!-- 							modo = "artist" -->
<!-- 						></fg-select-uri-in-modal> -->

						<div class="form-group">
							<label class="col-sm-2 control-label" for="phone">Teléfono:</label>
							<div class="col-sm-10">
								<input class="form-control" type="text" name="phone"
									ng-model="registro.phone" value="{{ registro.phone }}" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label" for="mail">Mail:</label>
							<div class="col-sm-10">
								<input class="form-control" type="text" name="mail"
									ng-model="registro.mail" value="{{ registro.mail }}" />
							</div>
						</div>
									
					</div>
				</div>
				<!-- Fin primera parte detalle artista -->

				<!-- Segunda parte de detalle de artista -->
				<div class="row">
					<div class="col-md-offset-1 col-md-10">

						<div class="form-group">
							<label class="col-sm-2  control-label" for="trajectory">TRAYECTORIA:</label>
							<div class="col-sm-10">
								<textarea msd-elastic="\n" class="col-sm-10 form-control"
									id="trajectory" ng-model="registro.trajectory"
									placeholder="Describa aquí la trayectoria del artista...">
									{{ registro.trajectory }}
								</textarea>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2  control-label" for="recognitions">RECONOCIMIENTOS:</label>
							<div class="col-sm-10">
								<textarea msd-elastic="\n" class="col-sm-10 form-control"
									id="trajectory" ng-model="registro.recognitions"
									placeholder="Describa aquí los reconocimientos del artista...">
									{{ registro.recognitions }}
								</textarea>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2  control-label" for="comments">OTROS:</label>
							<div class="col-sm-10">
								<textarea msd-elastic="\n" class="col-sm-10 form-control"
									id="trajectory" ng-model="registro.comments"
									placeholder="Describa aquí otros datos de interés del artista...">
									{{ registro.comments }}
								</textarea>
							</div>
						</div>

						<!-- OBRAS -->
						<table
							class="table table-striped table-bordered table-condensed table-btn">
							<thead>
								<th>Id</th>
								<th th-orden order="'title'" by="order" reverse="reverse">Obra</th>
								<th>Fecha</th>
								<th>Descripción</th>
								<th>URI</th>
								<th>Artistas</th>
								<th>Categorias</th>
								<th>Operaciones</th>
							</thead>
							<tbody>
								<tr
									ng-repeat="registro in registro.works | orderBy:order:reverse">
									<td data-title="Id">{{registro.id}}</td>
									<td data-title="Nombre">{{registro.title}}</td>
									<td data-title="Año">{{registro.year}}</td>
									<td data-title="Descripción">{{registro.description}}</td>
									<td data-title="URI">{{registro.uri}}</td>
									<td class="nopadding" data-title="Artistas">
										<ul class="list-group nomargin"
											ng-repeat="registro in registro.artists | orderBy:order:reverse">
											<li class="list-group-item nomargin padding-h05em">
												<p class="list-group-item-heading">{{registro.title}}</p>
												<p class="list-group-item-text small">{{registro.type.title}}</p>
											</li>
										</ul>
									</td>
									<td class="nopadding" data-title="Categorias">
										<ul class="list-group nomargin"
											ng-repeat="registro in registro.categories | orderBy:order:reverse">
											<li class="list-group-item nomargin padding-h05em">
												<p class="list-group-item-heading">{{registro.title}}</p>
												<p class="list-group-item-text small">{{registro.parentCategory.title}}</p>
											</li>
										</ul>
									</td>
									<td data-title="Operaciones" class="text-center">
										<button class="btn btn-default"
											ng-click="lanzarModalGestionObra('edit', $index)">
											<span class="glyphicon glyphicon-edit"></span> <span
												class="hidden-xs">Editar</span>
										</button>
										<button class="btn btn-default"
											ng-click="lanzarModalGestionObra('delete', $index)">
											<span class="glyphicon glyphicon-minus"></span> <span
												class="hidden-xs">Borrar</span>
											<!-- 											<span class="hidden-xs">Listado</span> -->
										</button> <boton-visibilidad></boton-visibilidad>
									</td>
								</tr>
								<tr>
									<td colspan="8" class="text-center">
										<button class="btn btn-default col-xs-12" ng-click="lanzarModalGestionObra('add')">
											<span class="glyphicon glyphicon-plus"></span> <span
												class="hidden-xs">Añadir obra</span>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- FIN OBRAS -->

						<!-- GRUPOS -->
						<tabla1n 
							para="registro.groups"
							path = "/api/recurso/cultura-ocio/artista-creador/artista"
							atributos='[	{data:"id"},
											{data:"title",		title: "Grupo"},
											{data:"type.title",	title: "Tipo" }		]'
						/>
						<!-- FIN GRUPOS -->

						<!-- MIEMBROS -->
						<tabla1n 
							para="registro.members"
							path = "/api/recurso/cultura-ocio/artista-creador/artista"
							atributos='[	{data:"id"},
											{data:"title",		title: "Miembro"},
											{data:"type.title",	title: "Tipo" }		]'
						/>
						<!-- FIN MIEMBROS -->

						<!-- ENLACES -->
						<table
							class="table table-striped table-bordered table-condensed"
							ng-model = "registro.enlaces"	
						>
							<thead>
								<th th-orden order="'title'" by="order" reverse="reverse">Red</th>
								<th>Uri</th>
							</thead>
							<tbody>
								<tr ng-repeat="reg in redes | orderBy:order:reverse">
									<td data-title="Nombre">
										{{reg.title}}
									</td>
									<td data-title="Uri">
										<input 
											type="text"
											ng-focus = "createEnlaceIfNotExist(reg)"
											ng-model = "registro.enlaces[getIndexEnlace(reg)].uri"
											ng-blur = "checkEnlace(getIndexEnlace(reg))"
											style="width:100%"
											placeholder = "Añada esta red..."
										/>
									</td> 
								</tr>
							</tbody>
						</table>
						<!-- FIN ENLACES -->
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</form>
<!-- <pre> -->
<!-- 	{{registro | json}} -->
<!-- </pre> -->