<div id="modalBusqueda">
    <div class="modal-header">
        <!-- <button type="button" class="close formReset" data-dismiss="modal">×</button> -->
        <h3>FIltro de busqueda</h3>
    </div>
    <div class="modal-body">
        <form>
            <fieldset class="form-horizontal">
                <div class="control-group">
                    <label for="" class="control-label">Nombre:</label>
                    <div class="controls">
                        <input type="text" class="input-large" placeholder="Busca por nombre..." ng-model="query_nombre">
                    </div>
                </div>
                <div class="control-group">
                    <label for="" class="control-label">Tipo:</label>
                    <div class="controls">
                        <input type="text" class="input-large" placeholder="Busca por tipo..." ng-model="query_tipo">
                    </div>
                </div>
                <div class="control-group">
                    <label for="" class="control-label">ID Interno:</label>
                    <div class="controls">
                        <input type="text" class="input-large" placeholder="Busca por ID interno..." ng-model="query_internal_id">
                    </div>
                </div>
                <div class="control-group">
                    <label for="" class="control-label">Estado:</label>
                    <div class="controls">
                        <input type="text" class="input-large" placeholder="Busca por estado..." ng-model="query_estado">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="busqueda();buscar();">Busqueda</button>
        <button class="btn btn-warning" ng-click="cancelar()">Cancelar</button> 
    </div>
</div>
